<div class="wrapper">
    <div class="hca-table">
        <mat-table *ngIf="pagination$ | async; let pagination" #table [dataSource]="tableElementDataSource" matSort
                   (matSortChange)="sortTable(pagination, $event)">
            <ng-container matColumnDef="projectTitle">
                <mat-header-cell class="project" *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The project name of the data file."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Project Name</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element let i=index;" class="project hasControls" (mouseenter)="getShowControl(true, i)" (mouseleave)="getShowControl(false, i)">
                    <div #title
                         [routerLink]="['/projects', element.entryId]">{{element.projectTitle}}
                    </div>
                    <div class="select-term"
                         (click)="onTermSelected('project', element.projectShortname)"   [@showControl]="showControl && showControlRow === i ? 'show' : 'hide'">
                        <ng-container [ngSwitch]="isTermSelected('project', element.projectShortname)">
                            <div *ngSwitchCase="true" class="fontsize-xxs">- Unselect Project</div>
                            <div *ngSwitchDefault class="fontsize-xxs">+ Select Project</div>
                        </ng-container>
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organ">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The organ that the biomaterial came from. Blood and connective tissue are considered organs."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Organ</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #organ
                         matTooltip="{{element.organ}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(organ)}}">{{element.organ}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="libraryConstructionApproach">
                <mat-header-cell *matHeaderCellDef>
                    <span matTooltip="The general approach for sequencing library construction. Should be a child term of EFO - library preparation."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Library Construction Approach</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #approach
                         matTooltip="{{element.libraryConstructionApproach}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(approach)}}">{{element.libraryConstructionApproach}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="genusSpecies">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The scientific binomial name for the species of the biomaterial."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Species
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #genus
                         matTooltip="{{element.genusSpecies}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(genus)}}">{{element.genusSpecies}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="disease">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="Free text describing any disease association to the cell type. Should be an EFO ontology."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Known Diseases</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #disease
                         matTooltip="{{element.disease}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(disease)}}">{{element.disease}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileType">
                <mat-header-cell class="file-type" *matHeaderCellDef>
                    <div class="file-header"
                         matTooltip="The format of the data file."
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip narrow">
                        <span>Data</span>
                        <div class="raw-and-processed"><span>Raw</span><span>Processed</span></div>
                        <div class="show-files">
                            <span>Fastqs</span><span>BAMs</span><span>Matrix</span><span>Other</span>
                        </div>
                    </div>
                </mat-header-cell>
                <mat-cell class="file-type" *matCellDef="let element">
                    <div class="raw-and-processed">
                        <div class="file-type-data">
                            <span>
                                <ng-container [ngSwitch]="element.rawCount > 0">
                                    <img *ngSwitchDefault src="assets/images/icon/fileType.png"/>
                                    <img *ngSwitchCase="false" src="assets/images/icon/noFileType.png"/>
                                </ng-container>
                            </span>
                            <span>
                                <ng-container [ngSwitch]="element.processedCount > 0 || element.matrixCount > 0">
                                    <img *ngSwitchDefault src="assets/images/icon/fileType.png"/>
                                    <img *ngSwitchCase="false" src="assets/images/icon/noFileType.png"/>
                                </ng-container>
                            </span>
                        </div>
                        <div class="file-type-info">
                            <span class="file-title">Raw Data</span>
                            <span>Fastqs: {{element.rawCount | localeString}}</span>
                            <span class="file-title">Processed Data</span>
                            <span>BAMs: {{element.processedCount | localeString}}</span>
                            <span>Matrix: {{element.matrixCount | localeString}}</span>
                            <span class="file-other">Other: {{element.otherFileCount | localeString}}</span>
                        </div>
                    </div>
                    <div class="show-files">
                        <span>{{element.rawCount | localeString}}</span>
                        <span>{{element.processedCount | localeString}}</span>
                        <span>{{element.matrixCount | localeString}}</span>
                        <span>{{element.otherFileCount | localeString}}</span>
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="donorCount">
                <mat-header-cell *matHeaderCellDef>
                    <span matTooltip="Donor count."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Donor Count</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #donorCount
                         matTooltip="{{element.donorCount}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(donorCount)}}">{{element.donorCount | localeString}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="estimatedCellCount">
                <mat-header-cell *matHeaderCellDef>
                    <span matTooltip="Total estimated number of cells in biomaterial. May be 1 for well-based assays."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Estimated Cell Count</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #cellCount
                         matTooltip="{{element.estimatedCellCount}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(cellCount)}}">{{element.estimatedCellCount | localeString}}
                    </div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="getHeaderClass()"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                     [ngClass]="getRowClass(i)"></mat-row>
        </mat-table>
        <div *ngIf="pagination$ | async; let pagination" class="pagination">
            <ng-container *ngIf="pagination.current_page">
                <button type="button" (click)="previousPageSelected(pagination)">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                Page {{pagination.current_page}} of {{getPageCount(pagination)}}
                <button type="button" (click)="nextPageSelected(pagination)">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>
</div>


