/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for table - project related data.
 */
@import "../../shared/theme/cgl.vars";

:host {
    height: 100%; /* Table to take up remaining space - positions mobile download banner to bottom hca-download-manifest */
    position: relative; /* Positions fade on horizontal scroll */

    /* Fade on horizontal scroll */
    &::after, &::before {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 16px;
        z-index: 8;
    }

    /* Fade on horizontal scroll RHS */
    &::after {
        background: linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255, 255, 255, 0.00) 100%); /* TODO confirm */
        right: 0;
    }

    /* Fade on horizontal scroll LHS */
    &::before {
        background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255, 255, 255, 0.00) 100%); /* TODO confirm */
        left: 0;
    }
}

/* Wrapper */
.wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: auto; /* Horizontal scroll */
    -ms-overflow-style: -ms-autohiding-scrollbar; // Hide scrollbar in IE unless actively scrolling.
    margin-top: 4px;
    padding: 0 16px; /* Gutter 16px - margin to maintain RHS gutter in mobile view */

    /* HCA table */
    .hca-table {
        margin: 0 -16px;
        padding: 0 16px;
        width: 100%; /* To take up full width of screen */

        mat-table {
            min-width: 1140px; /* Fixed table width for horizontal scroll - snap at 1200px */

            mat-row, mat-header-row {
                padding: 0 12px; /* Total left and right padding is 16px */
            }

            mat-header-row {
                background-color: $hca-white;
                border-bottom: 2px solid $hca-gray-light;
            }

            mat-row {
                border-bottom: 1px solid $hca-gray-lightest;
            }

            mat-header-cell {
                color: $hca-black;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 12px; /* TODO typography */
                font-weight: 600; /* TODO typography */
                letter-spacing: 0.36px; /* TODO typography */
                line-height: 18px; /* TODO typography */
                overflow: visible; /* Provides visibility for sort arrow */
                position: relative; /* Positions sort arrow */

                /* Project Name */
                &.project {
                    margin-left: 31px; /* Checkbox width */
                }

                /* Data - sub heading */
                .file-counts > span {
                    font-size: 10px;
                    font-weight: 400;
                }
            }

            mat-cell {
                color: $hca-gray-dark;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 12px; /* TODO typography */
                font-weight: 400; /* TODO typography */
                line-height: 18px; /* TODO typography */
                position: relative; /* Positions add remove controls */

                /* Ellipsis on cell text - excludes project name and data (file types) */
                &:not(.project):not(.file-type) > div {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                /* Hides ellipsis tooltip - Safari only */
                > div:after {
                    content: '';
                    display: block;
                }

                /* Project Name */
                &.project {
                    color: $hca-primary;
                    cursor: pointer;
                    font-family: "Montserrat", sans-serif; /* TODO typography */
                    font-weight: 500; /* TODO typography */

                    /* Project name padding - for wrap */
                    > div {
                        align-items: flex-start;
                        display: flex;
                        padding: 4px 0;

                        /* Select box */
                        .chart-legend-bar {
                            border: 1px solid $hca-gray-light;
                            border-radius: 3px;
                            flex-shrink: 0;
                            height: 12px;
                            margin: 2px 16px 2px 0;
                            position: relative; /* Positions check */
                            width: 12px;

                            &.selected {
                                border-color: #1F6B9A;
                                background-color: #1C7CC7;
                            }

                            /* Check */
                            mat-icon {
                                color: $hca-white;
                                font-size: 10px;
                                height: 10px;
                                left: 50%;
                                position: absolute;
                                top: 50%;
                                transform: translateX(-50%) translateY(-50%);
                                width: 10px;
                            }
                        }

                        /* Remove outline on focus - project name */
                        div:focus {
                            outline: none;
                        }
                    }
                }
            }

            mat-cell, mat-header-cell {
                flex: 0 1 9%;
                padding-left: 4px;
                padding-right: 4px;

                /* Project Name */
                &.project {
                    flex: 1 1 11%;
                    padding-right: 8px;
                }

                /* Data (file types) */
                &.file-type {
                    min-width: 224px;
                }

                /* Show fastq, bam, matrix and other */
                .file-counts {
                    display: flex;

                    > span {
                        display: inline-block;
                        width: 50px;

                        &:nth-of-type(n+2) {
                            padding-left: 8px;
                        }
                    }
                }

                /* Table header text alignment */
                /deep/ .mat-sort-header-button {
                    flex: 1;
                    line-height: 18px; /* TODO typography */
                    text-align: left !important;
                }

                /* Sort icon - reposition to upper left of title */
                /deep/ .mat-sort-header-arrow {
                    left: -8px;
                    margin: 0;
                    position: absolute;
                }
            }
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    :host {

        /* Hide fade on larger screens */
        &::after, &::before {
            display: none;
        }
    }

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        padding: 0 30px; /* Gutter 30px */

        .hca-table mat-table {

            /* Snapped header row */
            mat-header-row.snapped {
                left: 30px;
                position: fixed;
                right: 30px;
                top: 0;
                z-index: 20;
            }

            /* Snapped first row */
            mat-row.snapped {
                padding-top: 58px;
            }
        }
    }
}
