<div class="wrapper">
    <div [ngClass]="{'hca-table projects': true, 'card-open': isAnyRowActive()}"
         [ngStyle]="getTableStyle(tableMarginBottom)">
            <table-scroll [dataLoaded]="dataLoaded$">
            <mat-table *ngIf="pagination$ | async; let pagination" #table [dataSource]="dataSource" matSort
                   matSortDirection="{{defaultSortOrder.order}}" matSortActive="{{defaultSortOrder.sort}}"
                   (matSortChange)="sortTable(pagination, $event)">
            <ng-container matColumnDef="projectTitle" sticky>
                <mat-header-cell *matHeaderCellDef
                                 [ngClass]="getColumnClass('projectTitle')" [ngStyle]="getColumnStyle('projectTitle')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'projectTitle'">
                            {{getColumnDisplayName('projectTitle')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'projectTitle'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                                       [summaryCount]="(selectFileSummary$ | async).projectCount | countSize"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"
                          [ngClass]="getColumnClass('projectTitle')" [ngStyle]="getColumnStyle('projectTitle')">
                    <div class="selectable">
                        <div [ngClass]="{'chart-legend-bar': true, 'selected': isProjectSelected(element)}"
                             (click)="onProjectSelected(element.entryId, element.projectShortname, isProjectSelected(element))">
                            <mat-icon *ngIf="isProjectSelected(element)">check</mat-icon>
                        </div>
                        <div [routerLink]="['/projects', element.entryId]" class="fontsize-xxs semi-bold">
                            {{element.projectTitle}}
                        </div>
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sampleEntityType">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('sampleEntityType')"
                                 [ngStyle]="getColumnStyle('sampleEntityType')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'sampleEntityType'">
                            {{getColumnDisplayName('sampleEntityType')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'sampleEntityType'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('sampleEntityType')"
                          [ngStyle]="getColumnStyle('sampleEntityType')">
                    <hca-table-cell>
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs">{{element.sampleEntityType}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organ">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('organ')"
                                 [ngStyle]="getColumnStyle('organ')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'organ'">
                            {{getColumnDisplayName('organ')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'organ'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('organ')"
                          [ngStyle]="getColumnStyle('organ')">
                    <hca-table-cell>
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs">{{element.organ}}<span
                                    *ngIf="element.modelOrgan"> /</span></span>
                        </hca-content-ellipsis>
                        <hca-content-ellipsis *ngIf="element.modelOrgan">
                            <span class="fontsize-xxs">{{element.modelOrgan}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="selectedCellType">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('selectedCellType')"
                                 [ngStyle]="getColumnStyle('selectedCellType')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'selectedCellType'">
                            {{getColumnDisplayName('selectedCellType')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'selectedCellType'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('selectedCellType')"
                          [ngStyle]="getColumnStyle('selectedCellType')">
                    <hca-table-cell>
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs">{{element.selectedCellType}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="libraryConstructionApproach">
                <mat-header-cell *matHeaderCellDef
                                 [ngClass]="getColumnClass('libraryConstructionApproach')"
                                 [ngStyle]="getColumnStyle('libraryConstructionApproach')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'libraryConstructionApproach'">
                            {{getColumnDisplayName('libraryConstructionApproach')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'libraryConstructionApproach'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"
                          [ngClass]="getColumnClass('libraryConstructionApproach')"
                          [ngStyle]="getColumnStyle('libraryConstructionApproach')">
                    <hca-table-cell>
                        <span class="fontsize-xxs">{{element.libraryConstructionApproach}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pairedEnd">
                <mat-header-cell *matHeaderCellDef
                                 [ngClass]="getColumnClass('pairedEnd')" [ngStyle]="getColumnStyle('pairedEnd')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'pairedEnd'">
                            {{getColumnDisplayName('pairedEnd')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'pairedEnd'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"
                          [ngClass]="getColumnClass('pairedEnd')" [ngStyle]="getColumnStyle('pairedEnd')">
                    <hca-table-cell>
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs">{{element.pairedEnd}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="workflow">
                <mat-header-cell *matHeaderCellDef
                                 [ngClass]="getColumnClass('workflow')" [ngStyle]="getColumnStyle('workflow')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'workflow'">
                            {{getColumnDisplayName('workflow')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'workflow'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"
                          [ngClass]="getColumnClass('workflow')" [ngStyle]="getColumnStyle('workflow')">
                    <hca-table-cell [ngSwitch]="isElementUnspecified(element.workflow)">
                        <hca-content-unspecified-dash *ngSwitchCase="true"></hca-content-unspecified-dash>
                        <hca-content-ellipsis *ngSwitchDefault>
                                <span class="fontsize-xxs">{{element.workflow}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="genusSpecies">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('genusSpecies')"
                                 [ngStyle]="getColumnStyle('genusSpecies')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'genusSpecies'">
                            {{getColumnDisplayName('genusSpecies')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'genusSpecies'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('genusSpecies')"
                          [ngStyle]="getColumnStyle('genusSpecies')">
                    <hca-table-cell>
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs">{{element.genusSpecies}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="disease">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('disease')"
                                 [ngStyle]="getColumnStyle('disease')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'disease'">
                            {{getColumnDisplayName('disease')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'disease'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('disease')"
                          [ngStyle]="getColumnStyle('disease')">
                    <hca-table-cell>
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs">{{element.disease}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="getData">
                <mat-header-cell *matHeaderCellDef
                                 [ngClass]="getColumnClass('getData')" [ngStyle]="getColumnStyle('getData')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'getData'">
                            {{getColumnDisplayName('getData')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-download columnSubTitle></hca-table-column-header-download>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element let j=index;" [ngClass]="getColumnClass('getData')"
                          [ngStyle]="getColumnStyle('getData')">
                    <hca-table-cell>
                        <project-downloads (preparedMatrixDownloadsOpened)="onPreparedMatrixDownloadsOpened($event, j)"
                                           (preparedMatrixDownloadsPositionBelowTable)="onPreparedMatrixDownloadsPositionBelowTable($event)"
                                           [matrixAvailable]="isAnyProjectMatrixUrlAvailable(projectsMatrixUrls$ | async, element.entryId)"
                                           [projectId]="element.entryId"
                                           [projectTitle]="element.projectTitle"
                                           [projectURLs]="getProjectMatrixUrls(projectsMatrixUrls$ | async, element.entryId)"></project-downloads>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="donorCount">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('donorCount')"
                                 [ngStyle]="getColumnStyle('donorCount')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'donorCount'">
                            {{getColumnDisplayName('donorCount')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'donorCount'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                                       [summaryCount]="(selectFileSummary$ | async).donorCount | countSize"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('donorCount')"
                          [ngStyle]="getColumnStyle('donorCount')">
                    <hca-table-cell>
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs">{{element.donorCount | localeString}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalCells">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('totalCells')"
                                 [ngStyle]="getColumnStyle('totalCells')">
                    <hca-table-column-header>
                        <hca-table-column-header-title columnTitle [columnName]="'totalCells'">
                            {{getColumnDisplayName('totalCells')}}
                        </hca-table-column-header-title>
                        <hca-table-column-header-count columnSubTitle [columnName]="'totalCells'"
                                                       [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                                       [summaryCount]="(selectFileSummary$ | async).totalCellCount | countSize"></hca-table-column-header-count>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('totalCells')"
                          [ngStyle]="getColumnStyle('totalCells')">
                    <hca-table-cell>
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs">{{element.totalCells | localeString}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                     [ngClass]="getRowClass(i, activeRowIndex)"></mat-row>
        </mat-table>
        </table-scroll>
        <hca-table-data-status-placeholder [loading]="loading$ | async"
                                           [tableData]="data$ | async"></hca-table-data-status-placeholder>
        <hca-table-pagination [tableData]="data$ | async"></hca-table-pagination>
    </div>
</div>


