<div class="wrapper">
    <div class="hca-table projects">
        <mat-table *ngIf="pagination$ | async; let pagination" #table [dataSource]="tableElementDataSource" matSort
                   matSortDirection="asc" matSortActive="projectTitle"
                   (matSortChange)="sortTable(pagination, $event)">
            <ng-container matColumnDef="projectTitle">
                <mat-header-cell *matHeaderCellDef class="project">
                    <hca-table-column-header [columnName]="'projectTitle'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('projectTitle')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('projectTitle')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="project">
                    <div class="selectable">
                        <div [ngClass]="{'chart-legend-bar': true, 'selected': isProjectSelected(element)}"
                             (click)="onProjectSelected(element.entryId, element.projectShortname, isProjectSelected(element))">
                            <mat-icon *ngIf="isProjectSelected(element)">check</mat-icon>
                        </div>
                        <div [routerLink]="['/projects', element.entryId]" class="fontsize-xxs semi-bold">
                            {{element.projectTitle}}
                        </div>
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sampleEntityType">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'sampleEntityType'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [columnSort]="true"
                                             [tooltipContent]="getColumnDescription('sampleEntityType')">
                        <hca-table-column-header-title>{{getColumnDisplayName('sampleEntityType')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.sampleEntityType"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.sampleEntityType}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organ">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'organ'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('organ')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('organ')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.organ" [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.organ}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="selectedCellType">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'selectedCellType'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('selectedCellType')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('selectedCellType')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.selectedCellType"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.selectedCellType}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="libraryConstructionApproach">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'libraryConstructionApproach'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('libraryConstructionApproach')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('libraryConstructionApproach')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.libraryConstructionApproach" [tooltipDisabled]="true">
                        <span class="fontsize-xxs" #cellContent>{{element.libraryConstructionApproach}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="genusSpecies">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'genusSpecies'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('genusSpecies')">
                        <hca-table-column-header-title>{{getColumnDisplayName('genusSpecies')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.genusSpecies"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.genusSpecies}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="disease">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'disease'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('disease')">
                        <hca-table-column-header-title>{{getColumnDisplayName('disease')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.disease"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.disease}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileType">
                <mat-header-cell class="file-type" *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'fileType'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('fileType')"
                                             [columnSort]="false">
                        <hca-table-column-header-title>{{getColumnDisplayName('fileType')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell class="file-type" *matCellDef="let element">
                    <hca-table-cell [tooltipDisabled]="true">
                        <div class="file-count">
                            <span class="fontsize-xxs">{{element.rawCount | localeString}}</span>
                            <span class="fontsize-xxs">{{element.bamCount | localeString}}</span>
                            <span class="fontsize-xxs">{{element.matrixCount | localeString}}</span>
                            <span class="fontsize-xxs">{{element.otherCount | localeString}}</span>
                            <span class="fontsize-xxs">{{element.totalCount | localeString}}</span>
                        </div>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="donorCount">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'donorCount'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('donorCount')"
                                             [columnSort]="false">
                        <hca-table-column-header-title>{{getColumnDisplayName('donorCount')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.donorCount | localeString"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.donorCount | localeString}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalCells">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'totalCells'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('totalCells')"
                                             [columnSort]="false">
                        <hca-table-column-header-title>{{getColumnDisplayName('totalCells')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.totalCells | localeString"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.totalCells | localeString}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="getHeaderClass(snapped)"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                     [ngClass]="getRowClass(i, snapped)"></mat-row>
        </mat-table>
        <hca-table-data-status-placeholder [loading]="loading$ | async"
                                           [isData]="data$ | async"></hca-table-data-status-placeholder>
        <hca-table-pagination [isData]="data$ | async"></hca-table-pagination>
    </div>
</div>


