/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying hamburger.
 */

@import "../../site/theme/hca.vars";

.icon-button {
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: #212B36;
    display: flex;
    justify-content: center;
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        background-color: $smoke-light;
    }
}

/**
 * Custom - desktop.
 */
@media screen and (min-width: $desktop) {
    :host {
        display: none;
    }
}
