/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * CGL footer nav item styles.
 */

@import "../../../shared/theme/cgl.vars";
@import "../../../shared/theme/cgl.mixin";

:host {

    // Match .md-body-1
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 20px;
    // End .md-body-1 match

    /deep/ a {
        @include a-green();
    }
}
