/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facet term list styles, displayed inside MD menu.
 */

@import "../../site/theme/cgl.vars";

/** Individual facet term rows (checkbox, title, count) */
:host {

    display: block;
    margin-left: -16px; // Accommodate 16px left/right padding for each term (was 4px)
    margin-right: -16px; // Accommodate 16px left/right padding for each term (was 4px)

    .facet-term {

        align-items: start; // Align checkbox, term name and count to top (to allow for terms with long names that span multiple line) 
        cursor: pointer;
        padding: 2px 12px; // Was 2px - now to accommodate double-wide flex wrap with padding for each term requires 12px L and R sides
        transition: background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
        width: 100%; // Overrides any flex wrap on terms for small cards 

        &:hover {
            background-color: rgba(26, 83, 92, 0.06);
        }

        .chart-legend-bar {
            border: 1px solid transparent;
            border-radius: 2px;
            flex-basis: 12px;
            height: 12px;
            margin: 2px 8px 2px 0;
        }

        .term-summary {

            display: flex; // Spit title and count (with justify-content) to be left and right aligned
            flex: 1; // Always set term and count to consume remaining space (excluding checkbox)
            justify-content: space-between;
            overflow: hidden;

            .term-name {

                font-size: 14px; // Match md-card font size (for when term list is displayed outside of card)

                flex: 1; // Always title to consume remaining space (excluding count)
                line-height: 17px; // Add 1px extra line height over default, for multi-line term names 
                min-width: 0; // Fix ellipses bleeding into count (see https://css-tricks.com/flexbox-truncated-text/)

                /** Truncate long term names */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .term-count {
                flex-basis: 56px; // Always set width of count to 56px
                flex-shrink: 0;
                text-align: right;
                line-height: 16px; // Match line height of term name (for vertical alignment)
            }
        }
    }
}
