/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facet term list styles.
 */

@import "../../shared/theme/cgl.vars";

/** Individual facet term rows (checkbox, title, count) */
:host {

    .facet-term {

        cursor: pointer;

        md-icon {
            color: rgba(0, 0, 0, 0.12); // Override MD border color of checkbox
            flex-basis: 28px; // Always set width of icon to 20px (for icon) plus 8px padding;
            flex-shrink: 0;
            &.term-selected {
                color: $cgl-green;
            }
        }

        .term-summary {

            display: flex; // Spit title and count (with justify-content) to be left and right aligned
            flex: 1; // Always set term and count to consume remaining space (excluding checkbox)
            justify-content: space-between;
            overflow: hidden;

            .term-name {

                font-size: 14px; // Match md-card font size (for when term list is displayed outside of card)

                flex: 1; // Always title to consume remaining space (excluding count)
                min-width: 0; // Fix ellipses bleeding into count (see https://css-tricks.com/flexbox-truncated-text/)

                /** Truncate long term names */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .term-count {
                flex-basis: 56px; // Always set width of count to 56px
                flex-shrink: 0;
                text-align: right;
            }
        }
    }
}