/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facet term list styles.
 */

@import "../../shared/theme/cgl.vars";

/** Individual facet term rows (checkbox, title, count) */
:host {

    .facet-term {

        cursor: pointer;

        .chart-legend-bar {
            background-color: rgba(0, 0, 0, 0.12);
            flex-basis: 2px;
            height: 12px;
            margin: 4px 8px 4px 0;
        }

        .term-summary {

            display: flex; // Spit title and count (with justify-content) to be left and right aligned
            flex: 1; // Always set term and count to consume remaining space (excluding checkbox)
            justify-content: space-between;
            overflow: hidden;

            .term-name {

                font-size: 14px; // Match md-card font size (for when term list is displayed outside of card)

                flex: 1; // Always title to consume remaining space (excluding count)
                min-width: 0; // Fix ellipses bleeding into count (see https://css-tricks.com/flexbox-truncated-text/)

                /** Truncate long term names */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 16px; // Hiding overflow is clipping ascenders/descenders - pump up jam on line height here to force full height of characters
            }

            .term-count {
                flex-basis: 56px; // Always set width of count to 56px
                flex-shrink: 0;
                text-align: right;
                line-height: 16px; // Match line height of term name (for vertical alignment)
            }
        }
    }
}