<div class="facet-term layout-row ng-scope layout-row layout-align-space-between-center"
     *ngFor="let term of getDisplayList()"
     (click)="onClickFacetTerm(fileFacet, term)">
    <div class="chart-legend-bar" [style.backgroundColor]="term.color"></div>
    <div class="term-summary">
        <div class="term-name">
            <span title="{{term.name}}">{{term.name}}</span>
        </div>
        <div class="term-count md-caption secondary">{{term.count | localeString}}</div>
    </div>
</div>