/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project matrix table component.
 */

@import "../../site/theme/hca.vars";

:host {
    /* Enable scroll on table */
    display: block;
    overflow: auto;
}

/* Table */
mat-table {
    display: grid;
    gap: 0 20px;
    grid-auto-rows: auto;
    grid-template-columns: 36px minmax(200px, 1fr) 72px auto repeat(2, minmax(auto, 88px)) minmax(auto, 120px) auto;
    min-width: 720px; /* Set min width for overflow/scroll; optimized for iPad */
    max-width: 1440px !important; /* Snap width at large window width, override (!important) host context specific
                                             max-widths set on smaller breakpoints */

    /** Header row, row */
    mat-header-row,
    mat-row {
        display: contents;

        /** Row border */
        &::after {
            grid-column: 1 / -1; /* spans grid column's entire set out */
            height: 1px;
            margin-top: -1px; /* positions box shadow 1px above lower bounds of mat-header-row */
            min-height: unset;
        }
    }

    mat-header-row::after {
        box-shadow: inset 0px -1px 0px $hca-gray-light;
    }

    mat-row::after {
        box-shadow: inset 0px -1px 0px $hca-gray-lightest;
    }

    /* Header cell, cell */
    mat-header-cell,
    mat-cell {
        color: $hca-black;
        min-height: unset;
        min-width: 0; /* Overrides ng-deep for table-scroll component */
        overflow: visible;

      /* Right align text. */
      &.right {
        justify-content: flex-end;
        text-align: right;
      }
    }

    mat-header-cell {
        align-items: flex-start;
        padding: 0;

        > span span {
            display: block; /* Wrap header, if nested <span> */
        }
    }

    mat-cell {
        align-self: center;
        padding: 4px 0;
    }

    /* Override font sizing in file-download component to match table fonts */
    .fontsize-s {
        font-size: inherit;
        line-height: inherit;
    }

    /* Cell class "fontsize-..." */
    mat-cell,
    mat-cell.fontsize-xxs {
        margin: 0; /* Overrides class "fontsize-..." margin */
    }

    /** Actions */
    mat-cell.mat-column-actions {
        display: flex;
        gap: 8px;
    }

    /** File name - cells */
    mat-cell.mat-column-fileName {
        display: block;

        > span:first-of-type {
            display: block;
        }
    }

    /** Preview toggle */
    .column-fileName-preview {
        align-items: center;
        color: $hca-primary;
        cursor: pointer;
        display: inline-grid;
        grid-auto-flow: column;
        white-space: nowrap;

        mat-icon {
            color: inherit;
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
    }

    /** Size */
    mat-cell.mat-column-size {
        white-space: nowrap;
    }

    /** Cells with multiple values - e.g. organ */
    mat-cell.mat-cell-multi {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    /** Matrix archive row */
    mat-row.matrix-archive-preview-row {

        /** Border */
        &::after {
            content: none;
        }
    }

    /** Matrix archive cell */
    mat-cell.mat-column-archive {
        grid-column: 1 / -1;
        padding: 0;
    }

    /* Matrix archive preview cell - stretch entire width (full colspan) of table cell */
    .matrix-archive-preview-cell {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}

/**
 * Small +
 */
@media (max-width: $md-md-min) {
    /* Table */
    mat-table {
        gap: 0 16px;
    }
}
