/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project matrix table component.
 */

@import "../../site/theme/hca.vars";

:host {
    /* Enable scroll on table */
    display: block;
    overflow: auto;
}

/** Border bottom of table rows */
@mixin rowBorder {
    border-bottom: 1px solid $hca-gray-lightest;
}

/* Table */
mat-table {

    min-width: 600px; /* Set min width for overflow/scroll */
    max-width: 1440px !important; /* Snap width at large window width, override (!important) host context specific
                                             max-widths set on smaller breakpoints */
    
    mat-header-row {
        align-items: flex-start;
        border-bottom: 1px solid $hca-gray-light;
        display: flex; /* 1024+ is in table format - display header row */
        min-height: 42px;
    }

    /* Cell row, matches archive preview row in child component */
    mat-row {
        align-items: center;
        @include rowBorder();
        flex-direction: row;
        min-height: unset;
        padding: 4px 0;

        &:first-of-type {
            border-top: none;
        }

        mat-cell {
            min-height: unset;
        }
    }

    /* Header cell */
    mat-header-cell {
        align-items: flex-start;
        display: flex;

        > span span {
            display: block; /* Wrap header, if nested <span> */
        }
    }

    /* Header cell, cell */
    mat-header-cell, mat-cell {
        color: $hca-black;
        overflow: visible;
        padding: 0 12px;
    }

    /* Remove padding left from actions */
    mat-header-cell:first-child, mat-cell:first-child {
        padding-left: 0;
    }

    /* Remove padding right from last row cell */
    mat-header-cell:last-child, mat-cell:last-child {
        padding-right: 0;
    }

    /* Override font sizing in file-download component to match table fonts */
    .fontsize-s {
        font-size: inherit;
        line-height: inherit;
    }
    
    /* Cell class "fontsize-..." */
    mat-cell, mat-cell.fontsize-xxs {
        margin: 4px 0; /* Overrides class "fontsize-..." margin */
    }
    
    /** Cells with multiple values */
    .mat-cell-multi {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    /** Actions - snap at 37px */
    mat-header-cell.mat-column-actions, mat-cell.mat-column-actions {
        flex-basis: 37px;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: space-between;
        max-width: 37px;
        min-width: 37px;
    }

    /** File name - cells */
    mat-cell.mat-column-fileName {
        word-break: break-all;
    }

    /** Preview toggle */
    .column-fileName-preview {
        color: $hca-primary;
        cursor: pointer;
        display: inline-block;
        margin-left: 4px;
    }

    /* Matrix archive row */
    .mat-row.matrix-archive-preview-row {
        border: 0;
        padding: 0;
    }
    
    /* Matrix archive cell */
    .mat-cell.mat-column-archive {
        margin: 0;
    }

    /* Matrix archive preview cell - stretch entire width (full colspan) of table cell */
    .matrix-archive-preview-cell {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}

/**
 * Small +
 */
@media (min-width: $md-sm-min) {
    
    mat-table {
        
        /* Header cell and cell other than actions, file name and preview */
        mat-header-cell:not(.mat-column-fileName, .mat-column-actions), mat-cell:not(.mat-column-fileName, .mat-column-archive, .mat-column-actions) {
            flex-basis: 160px;
            flex-shrink: 1;
            max-width: 160px;
        }

        /** File name header cell and cell */
        mat-header-cell.mat-column-fileName, mat-cell.mat-column-fileName {
            flex-basis: 230px;
            flex-grow: 1;
        }
    }
}
