<link rel="stylesheet" href="project-matrix-table.component.scss">
<div *ngFor="let tableView of groupProjectMatrixViewsBySpecies(projectMatrixViews); trackBy: trackProjectMatrixTableView">
    <h3 class="fontsize-l">{{getSpeciesDisplayText(tableView.species)}}</h3>
    <mat-table [dataSource]="tableView.projectMatrixViews" [trackBy]="trackProjectMatrixViews" multiTemplateDataRows>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs">
                <file-location-download [fileLocation]="getFileLocationByFileUrl(element.url)"
                                        [fileName]="element.fileName"
                                        [fileUrl]="element.url"
                                        (fileLocationRequested)="onFileLocationRequested($event)"></file-location-download>
                <file-location-copy [fileLocation]="getFileLocationByFileUrl(element.url)"
                                    [fileName]="element.fileName" [fileUrl]="element.url"
                                    (fileLocationRequested)="onFileLocationRequested($event)"></file-location-copy>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fileName">
            <mat-header-cell *matHeaderCellDef>
                <span class="fontsize-xxs bold">File Name</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs">
                <span>{{element.fileName}}</span>
                <ng-container *ngIf="isArchivePreviewAvailable(element)">
                    <mat-icon class="column-fileName-preview" (click)="onArchivePreviewRequested(element)">
                        <ng-container *ngIf="expandedProjectMatrixView !== element">keyboard_arrow_down</ng-container>
                        <ng-container *ngIf="expandedProjectMatrixView === element">keyboard_arrow_up</ng-container>
                    </mat-icon>
                </ng-container>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="contentDescription">
            <mat-header-cell *matHeaderCellDef class="column-file-name">
                <span class="fontsize-xxs bold">Content Description</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs column-file-name">
                <span>{{listContentDescriptions(element.contentDescription)}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="size">
            <mat-header-cell *matHeaderCellDef>
                <span class="fontsize-xxs bold">File Size</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs">
                <span>{{element.size | fileSize}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="genusSpecies">
            <mat-header-cell *matHeaderCellDef>
                <span class="fontsize-xxs bold">Species</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs">
                <span>{{element.genusSpecies}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="organ">
            <mat-header-cell *matHeaderCellDef>
                <span class="fontsize-xxs bold">Anatomical Entity</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs mat-cell-multi">
                <span *ngFor="let organ of element.organ;let last = last;">{{organ}}<ng-container *ngIf="!last">,</ng-container></span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="libraryConstructionApproach">
            <mat-header-cell *matHeaderCellDef>
                <span class="fontsize-xxs bold">Library Construction Method</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs mat-cell-multi">
                <span *ngFor="let libraryConstructionApproach of element.libraryConstructionApproach;let last = last;">{{libraryConstructionApproach}}<ng-container
                        *ngIf="!last">,</ng-container></span>
            </mat-cell>
        </ng-container>
        <!-- expanded matrix view archive start -->
        <ng-container matColumnDef="archive">
            <mat-cell *matCellDef="let element">
                <div class="matrix-archive-preview-cell" *ngIf="expandedProjectMatrixView === element">
                    <project-matrix-archive-preview [archivePreview]="getArchivePreview(element)"></project-matrix-archive-preview>
                </div>
            </mat-cell>
        </ng-container>
        <!-- expanded matrix view archive end -->
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columnsToDisplay;"></mat-row>
        <mat-row *matRowDef="let element; columns: ['archive'];" class="matrix-archive-preview-row"></mat-row>
    </mat-table>
</div>
