<div *ngFor="let tableView of groupProjectMatrixViewsBySpecies(projectMatrixViews); trackBy: trackProjectMatrixTableView">
    <h3 class="fontsize-l">{{getSpeciesDisplayText(tableView.species)}}</h3>
    <mat-table [dataSource]="tableView.projectMatrixViews" [trackBy]="trackProjectMatrixViews">
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs">
                <file-location-download [fileLocation]="getFileLocationByFileUrl(element.url)"
                                        [fileName]="element.fileName"
                                        [fileUrl]="element.url"
                                        (fileLocationRequested)="onFileLocationRequested($event)"></file-location-download>
                <file-location-copy [fileLocation]="getFileLocationByFileUrl(element.url)" 
                                                 [fileName]="element.fileName" [fileUrl]="element.url" 
                                                 (fileLocationRequested)="onFileLocationRequested($event)"></file-location-copy>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fileName">
            <mat-header-cell *matHeaderCellDef class="column-file-name">
                <span class="fontsize-xxs bold">File Name</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs column-file-name">
                <span>{{element.fileName}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="genusSpecies">
            <mat-header-cell *matHeaderCellDef>
                <span class="fontsize-xxs bold">Species</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs">
                <span>{{element.genusSpecies}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="organ">
            <mat-header-cell *matHeaderCellDef>
                <span class="fontsize-xxs bold">Organ</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs mat-cell-multi">
                <span *ngFor="let organ of element.organ;let last = last;">{{organ}}<ng-container *ngIf="!last">,</ng-container></span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="libraryConstructionApproach">
            <mat-header-cell *matHeaderCellDef>
                <span class="fontsize-xxs bold">Library Construction Method</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs mat-cell-multi">
                <span *ngFor="let libraryConstructionApproach of element.libraryConstructionApproach;let last = last;">{{libraryConstructionApproach}}<ng-container
                        *ngIf="!last">,</ng-container></span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="analysisPortals">
            <mat-header-cell *matHeaderCellDef><span class="fontsize-xxs bold">Analysis Portals</span></mat-header-cell>
            <mat-cell *matCellDef="let element" class="fontsize-xxs">
                <project-analysis-portals [analysisPortals]="element.analysisPortals">
                    <img src="assets/images/icon/no-result.png" noHits/>
                </project-analysis-portals>
            </mat-cell>
        </ng-container>        
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
    </mat-table>
</div>
