/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying a facet title within a facet menu.
 */
@import "../../../site/theme/cgl.vars";

/* Facet menu title */
.facet-menu-title {
    align-items: flex-start;
    border-bottom: 1px solid $hca-gray-lightest;
    display: flex;
    flex-shrink: 0;
    font-family: "din-2014", sans-serif;
    font-size: 18px;
    font-weight: 500;
    min-height: 36px;
    padding-bottom: 4px;
    width: 100%;
}
