/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for hca content ellipsis component.
 */

/* Apply ellipsis to content */
:host {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; /* Required for content to take up full available cell width */

    /* <hca-tooltip> styles applied for table cell content only */
    hca-tooltip {
        overflow: hidden; /* Required, if ellipsis applied */
        display: inherit;
        text-overflow: inherit;
    }

    /* Hides ellipsis tooltip - Safari only */
    &:after {
        content: "";
        display: block;
    }
}

/* Right align column contents */
:host-context(.right) {
    text-align: right;
}
