<footer>
    <div class="wrapper">
        <a href="https://dev.data.humancellatlas.org/" class="logo">
            <mat-icon>chevron_left</mat-icon>
            <img src="../../../assets/images/logos/hca/logo-hca-white.png"
                 srcset="../../../assets/images/logos/hca/logo-hca-white@2x.png 2x, ../../../assets/images/logos/hca/logo-hca-white@3x.png 3x">
        </a>
        <div class="links">
            <a href="https://dev.data.humancellatlas.org/about/overview/overview">About</a>
            <a href="https://dev.data.humancellatlas.org/help/help/help-and-faq">Help</a>
            <a href="https://dev.data.humancellatlas.org/contact/contact/contact-us">Contact</a>
        </div>
    </div>
</footer>
