<footer>
    <div class="wrapper">
        <a href="{{portalURL}}" class="logo">
            <mat-icon>chevron_left</mat-icon>
            <img src="assets/images/logos/hca/logo-hca-white.png"
                 srcset="assets/images/logos/hca/logo-hca-white@2x.png 2x, assets/images/logos/hca/logo-hca-white@3x.png 3x">
        </a>
        <div class="links">
            <a href="{{portalURL}}/about">About</a>
            <a href="{{portalURL}}/help">Help</a>
            <a href="{{portalURL}}/contact">Contact</a>
        </div>
    </div>
</footer>
