<footer class="squash">
    <div class="cgl-links layout-column layout-gt-sm-row layout-padding">
        <cgl-footer-nav class="layout-column layout-gt-sm-row">
            <cgl-footer-nav-item>
                <a href="https://www.humancellatlas.org/privacy" target="_blank">Privacy</a>
            </cgl-footer-nav-item>
        </cgl-footer-nav>
        <cgl-footer-nav class="layout-column layout-gt-sm-row">
            <cgl-footer-nav-item>
                <a href="mailto:hca@humancellatlas.org">Email</a>
            </cgl-footer-nav-item>
            <cgl-footer-nav-item>
                <a href="https://www.facebook.com/humancellatlas" target="_blank">Facebook</a>
            </cgl-footer-nav-item>
            <cgl-footer-nav-item>
                <a href="https://twitter.com/humancellatlas" target="_blank">Twitter</a>
            </cgl-footer-nav-item>
            <cgl-footer-nav-item>
                <a href="https://www.instagram.com/humancellatlas" target="_blank">Instagram</a>
            </cgl-footer-nav-item>
        </cgl-footer-nav>
    </div>
    <div class="cgl-disclaimer layout-column layout-gt-sm-row">
        <span>Copyright © 2018, The Human Cell Atlas.</span>
    </div>
</footer>
