<ng-container *ngIf="state$ | async as state">
    <h2 class="fontsize-xl">
        Metadata
    </h2>
    <project-manifest-spreadsheet [project]="project"></project-manifest-spreadsheet>
    <h2 class="fontsize-xl">
        File Manifest
    </h2>
    <div class="downloads">
        <div class="download-actions">
            <file-location-download [fileLocation]="state.fileLocation"
                                    (fileLocationRequested)="onFileLocationRequested($event)"></file-location-download>
            <file-location-copy [fileLocation]="state.fileLocation"
                                (fileLocationRequested)="onFileLocationRequested($event)"></file-location-copy>
        </div>
        <span class="fontsize-s">tsv</span>
    </div>
    <section-bar [position]="'top'">
        <data-use-notification></data-use-notification>
    </section-bar>
</ng-container>
