<pop-layout>
    <ng-container title>Not Found</ng-container>
    <ng-container content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin metus in elit commodo commodo vel eu leo. Phasellus semper suscipit fermentum. Proin condimentum justo eget volutpat fringilla. Aliquam tempor pellentesque magna, eu dignissim tellus luctus id. Quisque eget finibus leo. Integer eget urna eleifend, sollicitudin nisl ac, vestibulum purus. Vestibulum blandit aliquam sapien, sit amet dapibus enim tristique ut.</p></ng-container>
</pop-layout>
