/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying "page not found".
 */

@import "../../site/theme/cgl.global";

:host {
    flex: 1;
}

/* Not found - container */
.not-found {
    margin: 0 auto;
    max-width: 650px;
    padding: 36px 0;
}
