/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project overview component.
 */

@import "../../site/theme/hca.vars";

/* Title */
h2 {
    margin: 14px 0 0;
}

/* Project group heading */
h4 {
    margin: 24px 0 16px;
}

/* All <p> tag */
p {
    align-items: center;
    margin: 0;
    width: 100%;
}

/* Display - block */
/* Citation, contributors, contributor, curators, curator, .organizations, organization */
.citation, .contributors, .contributors > span, .curators, .curators > span, .organizations, .organizations > span {
    display: block;
}

/* Display - flex */
/* all <p>, class "flex50" */
p, .flex50 {
    display: flex;
}

/* Flex - 1 */
/* Class "flex50", "flex50" <div> */
.flex50, .flex50 > div {
    flex: 1;
}

/* Flex direction - column */
/* Class "flex50" */
.flex50 {
    flex-direction: column;
}

/* Styles */

/* Max widths */
/* 600px */
.max600 {
    max-width: 600px;
}

/* Margins - containers */
/* Outer and inner lhs and rhs container */
.outer > .lhs, .outer > .rhs, .inner > .lhs, .inner > .rhs {
    margin: 0;
}

/* Stack */
/* e.g. contacts, publications */
.stack {
    padding-top: 8px;
}

/* Stack - first list */
/* e.g. contacts, publications */
h4 + .stack {
    padding-top: 0;
}

/* Publication - add space between title and official publication indicator */
.publication span+span {
    margin-left: 4px;
}

/* Break word */
.break {
    word-break: break-all;
}

/* Specific styles */

/* Citation url */
.citation {
    padding-top: 4px;
}

/* Sup */
/* Contributors, organizations */
.contributors, .organizations {

    sup {
        font-size: smaller;
        vertical-align: super;
    }
}

/* Contributors, curators, organizations */
.contributors, .curators, .organizations {
    white-space: pre-wrap;
}

/* Data release policy */
.data-release-policy p {
    display: inline-block;
    max-width: 400px;

    a {
        cursor: pointer;
    }
}

/**
 * XSmall Window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 480px) {

    /* Flex direction - row */
    /* Class "flex50 inner" */
    .flex50.inner {
        flex-direction: row;
    }

    /* Margins - containers */
    /* Inner lhs */
    .inner .lhs {
        margin-right: 8px;
    }

    /* Inner rhs */
    .inner .rhs {
        margin-left: 8px;
    }
}

/**
 * Small Window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {

    /* Flex direction - column */
    /* Class "flex50 inner" */
    .flex50.inner {
        flex-direction: column;
    }

    /* Margins - containers */
    /* Inner lhs */
    .inner .lhs {
        margin-right: 0;
    }

    /* Inner rhs */
    .inner .rhs {
        margin-left: 0;
    }
}

/**
 * Small Window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Flex direction - row */
    /* Class "flex50 inner" */
    .flex50.inner {
        flex-direction: row;
    }

    /* Margins - containers */
    /* Inner lhs */
    .inner .lhs {
        margin-right: 15px;
    }

    /* Inner rhs */
    .inner .rhs {
        margin-left: 15px;
    }
}

/**
 * Small Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {

    /* Flex direction - row */
    /* Class "flex50 outer" */
    .flex50.outer {
        flex-direction: row;
    }

    /* Flex direction - column */
    /* Class "flex50 inner" */
    .flex50.inner {
        flex-direction: column;
    }

    /* Outer lhs container */
    .outer > .lhs {
        margin-right: 24px;
    }

    /* Outer rhs container */
    .outer > .rhs {
        margin-left: 24px;
    }

    /* Inner lhs container */
    .inner > .lhs, .inner > .rhs {
        margin-right: 0;
    }

    /* Inner rhs container */
    .inner > .rhs {
        margin-left: 0;
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

    /* Styles */

    /* Margins - containers */
    /* Outer lhs container */
    .outer > .lhs {
        margin-right: 30px;
    }

    /* Outer rhs container */
    .outer > .rhs {
        margin-left: 30px;
    }
}

/**
 * Large Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1440px) {

    /* Flex direction - row */
    /* Class "flex50 inner" */
    .flex50.inner {
        flex-direction: row;
    }

    /* Styles */

    /* Margins - containers */
    /* Inner lhs container */
    .inner > .lhs {
        margin-right: 15px;
    }

    /* Inner rhs container */
    .inner > .rhs {
        margin-left: 15px;
    }
}
