<ng-container [ngSwitch]="file.fileFormat === 'matrix'">
    <ng-container *ngSwitchCase="true">
        <img src="assets/images/icon/noFileType.png">
    </ng-container>
    <ng-container *ngSwitchDefault>
        <ng-container *ngIf="(observeFileDownloadStatus() | async) as downloadResponse">
            <img *ngIf="isDownloadNotStarted(downloadResponse)"
                 src="assets/images/icon/hca-download-black.png" (click)="onRequestFile()">
            <mat-spinner *ngIf="showSpinner(downloadResponse)"
                         class="hca-spinner"
                         [diameter]="14"
                         [mode]="indeterminate">
            </mat-spinner>
            <ng-container *ngIf="isDownloadFailed(downloadResponse)"><div class="error">x</div></ng-container>
            <img *ngIf="isDownloading(downloadResponse)"
                 src="assets/images/icon/check-black.png">
        </ng-container>
        <a download class="hidden" #download></a>
    </ng-container>
</ng-container>
