<ng-container *ngIf="(observeFileDownloadStatus() | async) as downloadStatus">
    <img *ngIf="file.fileFormat != 'matrix' && isDownloadNotStarted(downloadStatus)"
         src="assets/images/icon/hca-download-black.png"
         (click)="onRequestFile()">

    <img *ngIf="file.fileFormat == 'matrix'"
         src="assets/images/icon/noFileType.png">

    <mat-spinner *ngIf="isDownloadInProgress(downloadStatus)"
                 class="hca-spinner"
                 [diameter]="14"
                 [mode]="indeterminate">
    </mat-spinner>
    <ng-container *ngIf="isDownloadFailed(downloadStatus)"><div class="error">x</div></ng-container>
    <img *ngIf="isDownloadComplete(downloadStatus)"
         src="assets/images/icon/check-black.png">
</ng-container>


