/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table - file related data.
 */

@import "../../site/theme/hca.vars";

:host {

    align-items: baseline;
    display: flex;
    padding: 8px 0;

    /* Download image */
    img {
        cursor: pointer;
        margin-right: 16px;
        width: 14px;

        &:not(.download-disabled):hover {
            opacity: 0.8;
        }

        &.download-disabled {
            cursor: default;
            opacity: 1;
            padding: 2px 0;
        }
        
        &.download-complete {
            opacity: 0.4;
        }
    }

    /* Spinner */
    .download-spinner {
        flex: none;
        margin-right: 16px;
    }

    /* Error */
    .download-error {
        color: red;
        font-size: 12px;
        line-height: 18px;
        margin-right: 16px;
        text-align: center;
        width: 14px;
    }
    
    .hidden {
        display: none;
    }
}
