/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for table - file related data.
 */
@import "../../shared/theme/cgl.vars";

:host {

    align-items: baseline;
    display: flex;

    /* Download image */
    img {
        cursor: pointer;
        opacity: 0.4;
        margin-right: 16px;
        width: 14px;

        &:hover {
            opacity: 0.8;
        }
    }

    /* Spinner */
    mat-spinner {
        flex: none;
        margin-right: 16px;
    }

    /* Error */
    .error {
        color: red;
        min-width: 16px;
    }
}

