<ng-container [ngSwitch]="fileFormat === 'matrix'">
    <img *ngSwitchCase="true" class="download-disabled" src="assets/images/icon/no-result.png">
    <ng-container *ngSwitchDefault>
        <ng-container *ngIf="(downloadResponse$ | async) as downloadResponse">
            <img *ngIf="isDownloadNotStarted(downloadResponse)" (click)="onFileRequested()" src="assets/images/icon/download-primary.png">
            <mat-spinner *ngIf="showSpinner(downloadResponse)" class="download-spinner" diameter="14"></mat-spinner>
            <div *ngIf="isDownloadFailed(downloadResponse)" class="download-error">x</div>
            <img *ngIf="isDownloading(downloadResponse)" class="download-complete" src="assets/images/icon/check-black.png">
        </ng-container>
        <a class="hidden" #download></a>
    </ng-container>
</ng-container>
