/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for a wrapper for a "banner" style announcement.
 */

@import "../../site/theme/hca.vars";

:host {
    display: block;
    padding: 14px 16px; /* Site gutter */
}

/* announcement-catalog */
:host-context(announcement-catalog) {
    background-color: $hca-blue-light;
}

/* Component announcement-catalog */
:host-context(announcement-catalog) {
    padding: 20px 16px;
}

/* Component app with class "data-re-ingestion" */
:host-context(.data-re-ingestion) {
    background-color: $hca-orange;
}

/* Component app with class "status" */
:host-context(.status) {
    background-color: $hca-black;
    color: $hca-white;
    display: flex;
}

/* Component desktop-footer */
:host-context(desktop-footer) {
    border-bottom: 1px solid $hca-gray-lightest; /* Create delimiter between desktop and data policy footer (not noticeable if data policy has been dismissed) */
}

/* Banners - bottom of site */
/* Component desktop-footer */
/* Component data-policy-footer */
:host-context(desktop-footer), :host-context(data-policy-footer) {
    background-color: $hca-off-white;
    text-align: center;
}

/**
 * Tablet +
 */
@media screen and (min-width: 768px) {

    /* Banners - bottom of site */
    /* Text left aligned */
    /* Component desktop-footer */
    /* Component data-policy-footer */
    :host-context(desktop-footer), :host-context(data-policy-footer) {
        text-align: left;
    }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 1200px) {

    :host {
        padding: 14px 30px; /* Site gutter */
    }

    /* Center align content - for banners at the top of site */
    /* Component announcement-catalog */
    /* Component app with class "status" */
    /* Component app with class "data-re-ingestion" */
    :host-context(announcement-catalog), :host-context(.status), :host-context(.data-re-ingestion) {
        display: flex;
        justify-content: center;
    }
}

