<md-toolbar>
    <img src="/assets/images/logos/ucsc-gi/logo-ucsc-gi@1x.png"
         srcset="/assets/images/logos/ucsc-gi/logo-ucsc-gi@2x.png 2x, /assets/images/logos/ucsc-gi/logo-ucsc-gi@3x.png 3x">
    <button md-mini-fab menu-open cc-hamburger><md-icon>menu</md-icon></button>
    <button md-mini-fab menu-close><md-icon>close</md-icon></button>
    <cc-toolbar-nav>
        <cc-toolbar-nav-item>
            <a href="{{rootUrl}}/index.html">Home</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="{{rootUrl}}/file_browser.html">Browser</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item class="active">
            <a href="{{rootUrl}}/boardwalk.html">Boardwalk</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="{{rootUrl}}/redwood.html">Redwood</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="{{rootUrl}}/spinnaker.html">Spinnaker</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item *ngIf="authorizedUser$ | async">
            <a href="{{rootUrl}}/action_service.html">Action</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item *ngIf="authorizedUser$ | async">
            <a href="{{rootUrl}}/invoicing_service.html">Invoicing</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="https://ucsc-cgl.atlassian.net/wiki/" target="_blank">Wiki</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="{{rootUrl}}/about.html">About</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="{{rootUrl}}/help.html">Help</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item *ngIf="(authorizedUser$ | async) as user">
            <a href="{{rootUrl}}/logout"><img src="{{user.avatar}}" alt="{{user.name}}" height="20" width="20">Logout</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item *ngIf="!(authorizedUser$ | async)">
            <a href="{{rootUrl}}/login">Login</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item *ngIf="authorizedUser$ | async">
            <a *ngIf="hasRedwoodToken$ | async" (click)="onDownloadRedwoodToken()">Get Token</a>
            <a *ngIf="!(hasRedwoodToken$ | async)">No Token</a>
        </cc-toolbar-nav-item>
    </cc-toolbar-nav>
</md-toolbar>