<md-toolbar>
    <img src="/assets/images/logos/ucsc-gi/logo-ucsc-gi@1x.png"
         srcset="/assets/images/logos/ucsc-gi/logo-ucsc-gi@2x.png 2x, /assets/images/logos/ucsc-gi/logo-ucsc-gi@3x.png 3x">
    <button md-mini-fab menu-open cc-hamburger><md-icon>menu</md-icon></button>
    <button md-mini-fab menu-close><md-icon>close</md-icon></button>
    <cc-toolbar-nav>
        <cc-toolbar-nav-item>
            <a href="http://ucsc-cgl.org/index.html">Analysis Core</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="http://ucsc-cgl.org/file_browser/index.html">File Browser</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item class="active">
            <a href="http://ucsc-cgl.org/boardwalk.html">Boardwalk</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="http://ucsc-cgl.org/redwood.html">Redwood</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="http://ucsc-cgl.org/spinnaker.html">Spinnaker</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="https://ucsc-cgl.atlassian.net/wiki/" target="_blank">Wiki</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="http://ucsc-cgl.org/about.html">About</a>
        </cc-toolbar-nav-item>
        <cc-toolbar-nav-item>
            <a href="http://ucsc-cgl.org/help.html">Help</a>
        </cc-toolbar-nav-item>
    </cc-toolbar-nav>
</md-toolbar>