/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * HCA-specific overrides of Material Design toolbar.
 */

@import "../../theme/hca.vars";

/**
 * Custom HCA-specific overrides of MD toolbar.
 */

:host {
    display: block;
}

mat-toolbar {
    background-color: $hca-off-white;
    min-height: 60px !important; /* HCA specific */
    position: relative; /* Positions overlay, nav-toolbar */

    mat-toolbar-row {
        align-items: center;
        display: flex;
        height: 60px !important; /* HCA specific */
        justify-content: space-between; /* RHS menu */
        margin: 0 auto;
        padding: 0 16px; /* Gutter 16px */

        /* Wrapper around logo */
        > a {
            line-height: 0;
        }
    }

    /* Logo */
    img {
        height: 30px;
    }

    toolbar-nav {
        padding: 12px 0;
        z-index: 101; /* Positioned above hamburger-overlay */
    }

    /* Hamburger */
    hamburger .fontsize-s {
        margin-bottom: 0;
    }

    /* Active navigation */
    toolbar-nav-item.active .link {
        color: $hca-black;
        text-decoration: none;
    }

    /* Nav link - wrapper */
    toolbar-nav-item .link {
        align-items: flex-start;
        color: $hca-black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 24px;
        text-transform: capitalize;

        /* Nav link - hover state */
        &:hover {
            color: $hca-black;
        }

        /* Title */
        .fontsize-xs {
            font-weight: 600;
            margin: 0 0 4px;
        }

        /* Sub title */
        .fontsize-xxs {
            letter-spacing: 1.2px;
            margin: 0;
            text-align: left;
            text-transform: none;
            white-space: pre-wrap;
        }
    }

    /* Nav drop down button */
    toolbar-nav-item button.link {
        background-color: transparent;
        border: none;
        cursor: default;
        padding: 0;
        pointer-events: none;
    }

    /** Logo in modal */
    &.modal-open {

        background-color: transparent;
        position: fixed;
        top: 0;
        z-index: 1001;

        mat-toolbar-row > *:not(a) {
            display: none;
        }
    }

    /* Auth image hidden on mobile, use nav item instead */
    .auth {
        display: none;
    }
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

    mat-toolbar {
        img {
            height: 40px;
        }
    }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 1200px) {

    @mixin toolbar-link() {
        color: $hca-gray-dark;
        text-transform: capitalize;
        margin: 0;

        /* Title */
        .fontsize-xs {
            font-size: 14px;
            line-height: 60px;
            margin: 0;
            white-space: nowrap;
        }

        /* Sub title - hide */
        .fontsize-xxs {
            display: none;
        }
    }

    mat-toolbar {

        mat-toolbar-row {
            padding: 0 30px; /* Gutter 30px */
        }

        toolbar-nav {
            padding: 0;
        }

        /* Link wrapper */
        toolbar-nav-item {
            padding: 0 12px;

            .link {
                @include toolbar-link();
            }
        }

        /* Nav drop down button */
        toolbar-nav-item button.link {
            cursor: pointer;
            pointer-events: auto;
        }

        /* Hide auth link on tablet + */
        .nav-item-auth {
            display: none;
        }

        /* Display auth image on tablet + */
        .auth {
            display: flex; /* Full height */
        }

        .auth-link {
            cursor: pointer;
            @include toolbar-link();

            .fontsize-xs {
                font-weight: 600; /* Missing from tablet link definition, specified only in mobile */
            }
        }

        .auth-authenticated {
            align-items: center;
            display: flex;
        }

        .auth-menu-button {
            background-color: unset;
            border: 0;
        }

        .auth-image-placeholder {
            align-items: center;
            background-color: $hca-secondary;
            display: flex;
            color: $hca-white;
            font-size: 20px;
            font-weight: 500;
            height: 40px;
            justify-content: center;
            width: 40px;
        }

        .auth-image-hover {
            border: 3px solid transparent;
            border-radius: 50%;
            transition: border 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        .auth-image-hover:hover {
            border-color: $hca-secondary-hover;
        }
    }

    /* Projected menu content */
    .auth-menu-item-profile {
        line-height: 20px;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        width: 200px;
    }

    /* Stack elements */
    .auth-menu-item-profile > * {
        display: block;
    }

    /* Truncate long usernames */
    .auth-username {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .catalog-update-chip {
        position: relative;
    }

    .catalog-update-chip:after {
        background-color: $hca-orange;
        border-radius: 50%;
        content: '';
        height: 8px;
        position: absolute;
        right: -8px;
        transition: background-color 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
        top: 20px;
        width: 8px;
    }

    .catalog-update-chip:hover::after {
        background-color: $hca-orange-hover;
    }
}
