<mat-toolbar *ngIf="state$ | async as state" [ngClass]="{'modal-open': state.modalOpen}">
    <mat-toolbar-row>
        <a href="{{portalUrl}}" *ngIf="!state.modalOpen">
            <img src="assets/images/logos/logo-hca.png"/>
        </a>
        <a [routerLink]="['/projects']" queryParamsHandling="preserve" *ngIf="state.modalOpen">
            <img src="assets/images/logos/logo-hca.png"/>
        </a>
        <hamburger><span class="fontsize-s semi-bold">Menu</span></hamburger>
        <toolbar-nav>
            <toolbar-nav-item [ngClass]="{'active': isExploreActiveUrl()}">
                <a class="link" [routerLink]="['/projects']" queryParamsHandling="preserve" (click)="onExploreLinkClicked()">
                    <span class="fontsize-xs">Explore</span>
                    <span class="fontsize-xxs">Search for data in the HCA</span>
                </a>
            </toolbar-nav-item>
            <toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/guides">
                    <span class="fontsize-xs">Guides</span>
                    <span class="fontsize-xxs">Find user guides and how-to’s here</span>
                </a>
            </toolbar-nav-item>
            <toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/metadata">
                    <span class="fontsize-xs">Metadata</span>
                    <span class="fontsize-xxs">Fields used to describe datasets in the Human Cell Atlas</span>
                </a>
            </toolbar-nav-item>
            <toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/pipelines">
                    <span class="fontsize-xs">Pipelines</span>
                    <span class="fontsize-xxs">Pipelines</span>
                </a>
            </toolbar-nav-item>
            <toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/analyze">
                    <span class="fontsize-xs">Analysis Tools</span>
                    <span class="fontsize-xxs">Find a list of Apps</span>
                </a>
            </toolbar-nav-item>
            <toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/contribute">
                    <span class="fontsize-xs">Contribute</span>
                    <span class="fontsize-xxs">Submit your data to the HCA</span>
                </a>
            </toolbar-nav-item>
            <toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/apis">
                    <span class="fontsize-xs">APIs</span>
                    <span class="fontsize-xxs">APIs</span>
                </a>
            </toolbar-nav-item>
            <toolbar-nav-item *ngIf="isAuthEnabled()">
                <ng-container [ngSwitch]="state.authenticated">
                    <a class="link" *ngSwitchCase="true" (click)="onLogoutClicked()">
                        <span class="fontsize-xs">Hi, {{getGivenName(state.user)}}. Logout</span>
                        <span class="fontsize-xxs">Hi, {{getGivenName(state.user)}}. Logout</span>
                    </a>
                    <a class="link" *ngSwitchDefault (click)="onLoginClicked()">
                        <span class="fontsize-xs">Login</span>
                        <span class="fontsize-xxs">Login</span>
                    </a>
                </ng-container>

            </toolbar-nav-item>
        </toolbar-nav>
    </mat-toolbar-row>
</mat-toolbar>
