/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * HCA-specific overrides of Material Design toolbar.
 */

@import "../../theme/hca.vars";

/**
 * Custom HCA-specific overrides of MD toolbar.
 */

mat-toolbar {
    align-items: center;
    background-color: $hca-white;
    box-shadow: $elevation-0;
    color: $ink-main;
    display: flex;
    gap: 0 16px;
    height: 56px;
    padding: 0 12px;
    position: relative; /* Positions search. */

    /* Logo */
    .logo {
        line-height: 0;

        img {
            height: 32px;
        }
    }

    /* Nav link */
    nav-link a {
        color: $ink-main;
        font-weight: 500;
    }

    /* Catalog update */
    nav-link a.catalog-update-chip {
        display: flex;
        gap: 0 4px;

        &:after {
            align-self: center;
            background-color: $hca-orange;
            border-radius: 50%;
            content: "";
            display: block;
            height: 8px;
            width: 8px;
        }
    }

    /* Modal - metadata, matrices download */
    &.modal-open {
        box-shadow: none;
        position: fixed;
        top: 0;
        z-index: 1001;

        toolbar-nav,
        toolbar-actions {
            display: none; /* Hide toolbar tools and nav bar */
        }
    }

    /* Authentication */
    .auth-authenticated {
        background-color: $smoke-main;
        border: none;
        border-radius: 50%;
        flex: none;
        height: 32px;
        position: relative; /* Positions avatar. */
        width: 32px;

        .auth-image {
            border-radius: inherit;
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1440px) {
    mat-toolbar {
        padding: 0 16px;
    }
}
