<mat-toolbar *ngIf="state$ | async as state" [ngClass]="{'modal-open': state.modalOpen}">
    <a class="logo" href="{{portalUrl}}" *ngIf="!state.modalOpen">
        <img src="assets/images/logos/logo-hca.png"/>
    </a>
    <a class="logo" [routerLink]="['/projects']" queryParamsHandling="preserve" *ngIf="state.modalOpen">
        <img src="assets/images/logos/logo-hca.png"/>
    </a>
    <toolbar-nav *ngIf="isToolbarNavOpen(state.menuOpen)">
        <nav-links>
            <nav-link class="text-body-500">
                <a [routerLink]="['/projects']" queryParamsHandling="preserve"
                   (click)="onExploreLinkClicked()">Explore</a>
            </nav-link>
            <nav-link class="text-body-500">
                <a href="{{portalUrl}}/guides">Guides</a>
            </nav-link>
            <nav-link class="text-body-500">
                <a href="{{portalUrl}}/metadata">Metadata</a>
            </nav-link>
            <nav-link class="text-body-500">
                <a href="{{portalUrl}}/pipelines">Pipelines</a>
            </nav-link>
            <nav-link class="text-body-500">
                <a href="{{portalUrl}}/analyze">Analysis Tools</a>
            </nav-link>
            <nav-link class="text-body-500">
                <a href="{{portalUrl}}/contribute">Contribute</a>
            </nav-link>
            <nav-link class="text-body-500">
                <a href="{{portalUrl}}/apis">APIs</a>
            </nav-link>
            <nav-link class="text-body-500">
                <a href="{{portalUrl}}/dcp-updates"
                   [class]="{'catalog-update-chip': state.catalogUpdatedSinceLastVisit}">Updates</a>
            </nav-link>
        </nav-links>
        <socials>
            <social-icon-button [url]="'https://twitter.com/humancellatlas'">
                <twitter-icon></twitter-icon>
            </social-icon-button>
            <social-icon-button [url]="'https://github.com/HumanCellAtlas'">
                <github-icon></github-icon>
            </social-icon-button>
            <social-icon-button [url]="'https://humancellatlas.slack.com/archives/C02TM2SDVM2'">
                <slack-icon></slack-icon>
            </social-icon-button>
        </socials>
    </toolbar-nav>
    <toolbar-actions>
        <search-button (click)="onSearchOpen()"></search-button>
        <ng-container *ngIf="isAuthEnabled()">
            <div [ngSwitch]="state.authenticated">
                <div class="auth-authenticated" *ngSwitchCase="true">
                    <button class="auth-menu-button" [matMenuTriggerFor]="menuAuth"
                            aria-label="Authentication menu">
                        <ng-container [ngSwitch]="isProfileImageSpecified(state.user)">
                            <img class="auth-image auth-image-hover" *ngSwitchCase="true"
                                 [src]="getProfileImageUrl(state.user)">
                            <div class="auth-image-placeholder auth-image-hover"
                                 *ngSwitchDefault>{{getNameStartsWith(state.user)}}</div>
                        </ng-container>
                    </button>
                    <mat-menu #menuAuth="matMenu">
                        <div class="auth-menu-item-profile">
                            You are signed in as: <strong class="auth-username">{{getFullName(state.user)}}</strong>
                        </div>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="onLogoutClicked()">Logout</button>
                    </mat-menu>
                </div>
                <profile-button *ngSwitchDefault (click)="onLoginClicked()"></profile-button>
            </div>
        </ng-container>
        <hamburger [ngSwitch]="state.menuOpen">
            <close-icon *ngSwitchCase="true"></close-icon>
            <menu-icon *ngSwitchDefault></menu-icon>
        </hamburger>
    </toolbar-actions>
</mat-toolbar>
<portal-search *ngIf="searchOpen" [searchOpen]="searchOpen" (searchClosed)="onSearchClose()"></portal-search>
