:host .summary-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}

:host .summary-row-item {
    text-align: right;
    flex: 1 1 auto;
}