<mat-card>
    <div class="layout-column layout-gt-xs-row">
        <div class="layout-padding flex summary-count file">
            <div>
                <h3 class="mat-headline">{{summary.fileCount | localeString}}</h3>
                <span class="md-body-1">Files</span>
            </div>
        </div>
        <div class="layout-padding flex summary-count donor">
            <div>
                <h3 class="mat-headline">{{summary.donorCount | localeString}}</h3>
                <span class="md-body-1">Donors</span>
            </div>
        </div>
        <div class="layout-padding flex summary-count size">
            <div>
                <h3 class="mat-headline">{{summary.totalFileSize | fileSize}}</h3>
                <span class="md-body-1">Size</span>
            </div>
        </div>
    </div>
</mat-card>
