/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying search button.
 */

@import "../../../site/theme/hca.vars";

.icon-button {
    align-items: center;
    background-color: $hca-white;
    border: none;
    border-radius: 4px;
    color: $ink-main;
    display: flex;
    gap: 0 4px;
    justify-content: center;
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    > span {
        display: none;
    }

    &:hover {
        background-color: $smoke-light;
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1440px) {
    .icon-button {
        padding: 6px 12px;

        search-icon {
            display: inline-flex;
            margin-left: -4px;
        }

        > span {
            display: inline-flex;
        }
    }
}
