/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for table - download metadata component.
 */
@import "../../site/theme/cgl.vars";

.metadata-download {
    cursor: pointer;
    opacity: 0.4;
    width: 14px;
}

