<div class="wrapper">
    <div id="filter" [ngClass]="{'filter': true, 'small': (isDeviceMobile() || isWindowWidthSmall())}">
        <hca-search [searchTerms]="searchTerms" [selectedSearchTerms]="selectedSearchTerms"></hca-search>
        <ng-container [ngSwitch]="isDeviceMobile() || isWindowWidthSmall()">
            <div id="facet-group-menus" class="view-all-options" *ngSwitchDefault>
                <ng-container *ngFor="let fileFacetGroup of fileFacetGroups; let i = index; trackBy: trackFileFacetGroupsByFn">
                    <div class="facet-group-menu"
                         [ngClass]="{'active': selectIndex === i}"
                         (click)="onToggleFacetMenu(i)">
                        <span>{{fileFacetGroup.facetGroupName}}</span>
                        <mat-icon>keyboard_arrow_down</mat-icon>
                        <facet-menu *ngIf="isFacetGroupActive(i)"
                                     id="facet-group"
                                     [ngStyle]="getFacetGroupStyles(fileFacetGroup, i)"
                                     (menuOpen)="onFacetMenuOpen($event)">
                                <ng-container *ngFor="let facetName of fileFacetGroup.facetNames; trackBy: trackFileFacetByFn">
                                    <ng-container [ngSwitch]="isFacetOrganismAge(facetName)">
                                        <facet-menu-option *ngSwitchCase="true"
                                                    [ngClass]="{'facet-double-wide': facetDoubleWideOrganismAge, 'organism-age-range': true}">
                                            <facet-menu-option-title>{{getFacetDisplayName(facetName)}}</facet-menu-option-title>
                                            <facet-menu-option-content>
                                                <facet-age-range-form *ngSwitchCase="true"
                                                                      [ageRange]="getFacet(facetName).ageRange"
                                                                      (applyFacet)="onAgeRangeSelected(facetName, selectedSearchTerms, $event)"
                                                                      (clearFacet)="onAgeRangeCleared(facetName, selectedSearchTerms, $event)"></facet-age-range-form>
                                            </facet-menu-option-content>
                                        </facet-menu-option>
                                        <facet-menu-option *ngSwitchDefault>
                                            <facet-menu-option-title>{{getFacetDisplayName(facetName)}}</facet-menu-option-title>
                                            <facet-menu-option-content>
                                                <file-facet [fileFacet]="getFacet(facetName)"
                                                            [facetName]="facetName"
                                                            [selectedEntity]="selectedEntity"
                                                            (facetTermSelected)="onFacetTermSelected(selectedSearchTerms, $event)"></file-facet>
                                            </facet-menu-option-content>
                                        </facet-menu-option>
                                    </ng-container>
                                </ng-container>
                        </facet-menu>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngSwitchCase="true">
                <div class="facet-group-menu view-options"
                     [ngClass]="{'active': selectIndex === 1}"
                     (click)="onToggleFacetMenu(1)">
                    <span>Filter</span>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
                <div [ngClass]="getOptionsSmallClass()">
                    <div>
                        <ng-container *ngFor="let fileFacetGroup of fileFacetGroups; let f = index">
                            <div class="facet-group">{{fileFacetGroup.facetGroupName}}</div>
                            <ng-container *ngIf="facets.length">
                                <div [ngClass]="getIsOpenClass(f, t)"
                                     *ngFor="let facetName of fileFacetGroup.facetNames; let t = index">
                                    <div class="facet" (click)="onFacetAccordionOpened(f, t)">
                                        <span>{{getFacetDisplayName(facetName)}}</span>
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </div>
                                    <div class="facet-term-list">
                                        <ng-container [ngSwitch]="isFacetOrganismAge(facetName)">
                                            <facet-age-range-form *ngSwitchCase="true"
                                                             [ageRange]="getFacet(facetName).ageRange"
                                                             (applyFacet)="onAgeRangeSelected(facetName, selectedSearchTerms, $event)"
                                                             (clearFacet)="onAgeRangeCleared(facetName, selectedSearchTerms, $event)"></facet-age-range-form>
                                            <ng-container *ngSwitchDefault>
                                                <span class="fontsize-xxs">{{getLabelName(selectedEntity)}}</span>
                                                <facet-term-list [fileFacetName]="facetName"
                                                                     [terms]="getSortedFacetTerms(facetName)"
                                                                     (facetTermSelected)="onFacetTermSelected(selectedSearchTerms, $event)"></facet-term-list>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <div class="apply">
                            <button class="button secondary" (click)="onFacetMenuOpen(false)">Close</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
<div *ngIf="selectIndex != null" class="facet-group-menu-overlay" (click)="onFacetMenuOpen(false)"></div>
