/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * CC snapper component styles.
 */
@import "../shared/theme/cgl.vars";
@import "../shared/theme/cgl.global";

:host {

    /** Add flex to snapper to push footer to bottom of snapper container */
    display: flex;
    flex-direction: column;
    flex: 1;

    &.snap {

        /deep/ hca-table .wrapper .hca-table mat-table mat-header-row {
            box-shadow: 0 2px 4px 0 rgba($hca-black, 0.06);
        }
    }
}
