/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * CC snapper component styles.
 */
@import "../shared/theme/cgl.vars";

/** Toolbar heights taken from MD toolbar component - required for calculating snap position of summary results */
$md-toolbar-height-desktop: 64px !default;
$md-toolbar-height-mobile-portrait: 56px !default;
$md-toolbar-height-mobile-landscape: 48px !default;

/**
 * Mixins
 */

/** Position summary results according to device size (and therefore toolbar height) */
@mixin snapper-top($height) {

    :host {

        &.snap {
            /deep/ bw-file-summary, /deep/ hca-file-summary {
                top: ($height); // Single height - for main nav
            }

            /deep/ bw-file-filter {
                margin-top: ($height);
                top: 84px; // Sits below bw-file-summary

                /* Search filter input field */
                .search {
                    max-width: calc(50% + 8px) !important;
                }
            }
        }
    }
}

:host {

    /** Add flex to snapper to push footer to bottom of snapper container */
    display: flex;
    flex: 1;
    flex-direction: column;
}

/**
 * Small +
 */
@media (min-width: $md-sm-min) {

    :host {

        overflow-y: auto; // Enable scroll if necessary

        /** Handle snap of results summary - add padding top to host, to allow for snapped results summary. */
        &.snap {
            padding-top: 100px; // Matches height of results summary + padding (84px + 16px)

            /** Handle snap of results summary element itself */
            /deep/ bw-file-summary, /deep/ hca-file-summary {
                position: absolute;
                left: 0;
                padding: 0; // Remove default padding
                right: 0;
                z-index: 10;
            }

            /** Handle snap of file filter element itself */
            /deep/ bw-file-filter {
                position: absolute;
                left: 0;
                padding: 0; // Remove default padding
                right: 0;
                z-index: 10;
            }
        }
    }
}

/**
 * Medium +
 */
@media (min-width: $md-md-min) {
    :host {

        &.snap {

            /* Search filter input field */
            /deep/ bw-file-filter mat-card .search {
                max-width: calc((100% + 16px) / 4 + 8px) !important; // Matches width of facet card
            }
        }
    }
}

/**
 * Large +
 */
@media (min-width: $md-lg-min) {
    :host {

        &.snap {

            /* Search filter input field */
            /deep/ bw-file-filter mat-card .search {
                max-width: calc((100% + 16px) / 5 + 8px) !important; // Matches width of facet card
            }
        }
    }
}

// Set the default position for the open menu
@include snapper-top($md-toolbar-height-desktop);

// Specific position for mobile devices in portrait mode.
@media (max-width: $md-sm-min) and (orientation: portrait) {
    @include snapper-top($md-toolbar-height-mobile-portrait);
}

// Specific position for mobile devices in landscape mode.
@media (max-width: $md-md-min) and (orientation: landscape) {
    @include snapper-top($md-toolbar-height-mobile-landscape);
}
