<div class="max600">
    <h2>
        DCP Generated Matrices
    </h2>
    <p class="fontsize-m">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus ex sit amet cursus porta. Fusce tincidunt, mauris id ultricies venenatis, mauris est malesuada lectus, eget dictum turpis metus vitae magna.
    </p>
    <no-hits>
        <p class="fontsize-xs">{{getDCPGeneratedMatricesText(project)}}</p>
    </no-hits>
    <p class="fontsize-m">
        
    </p>
    <h2>
        Contributor Generated Matrices
    </h2>
    <p class="fontsize-m">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus ex sit amet cursus porta. Fusce tincidunt, mauris id ultricies venenatis, mauris est malesuada lectus, eget dictum turpis metus vitae magna.
    </p>
    <no-hits>
        <p class="fontsize-xs">{{getContributorMatricesText(project)}}</p>
    </no-hits>
</div>
