/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project contributor and DCP-generated matrices download functionality.
 */

h2 {
    margin-top: 24px;
}

p.fontsize-xs {
    margin-bottom: 0;
}

.max600 {
    max-width: 600px;
}
