<input class="hca-input" type="text" placeholder="Search all filters" aria-label="Number" matInput
       [formControl]="filterControl" #filterInput [matAutocomplete]="auto">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSearchTermSelected(selectedSearchTerms, $event)"
                  [displayWith]="selectedSearchTermOptionDisplayFn">
    <mat-option *ngIf="searchReturnsEmpty" class="hca-option error">Oops! We don’t have an exact match, it may
        be called by a different name. Scroll through the list to see what data we currently have available.
    </mat-option>
    <mat-optgroup class="hca-optgroup" *ngFor="let optionGroup of filteredSearchTerms$ | async"
                  [label]="optionGroup.displayValue"
                  [disabled]="optionGroup.disabled">
        <mat-option class="hca-option" *ngFor="let option of optionGroup.options" [value]="{optionGroup: optionGroup, option: option}">
            <span [ngClass]="getTruncatedClass(option.displayValue)">{{option.displayValue}}</span>
            <span>{{option.count | countSize}}</span>
        </mat-option>
    </mat-optgroup>
</mat-autocomplete>
