@media not print {
	a.analytics-logo {
		margin-bottom: 3em;
		display: block
	}
}

@media print {
	#main-content {
		max-width: none !important;
		margin-left: 0 !important;
	}
	
	main.bd-content {
		padding-top: 2em !important;
	}

	.onlyprint {
		padding-top: 4em;
	}

	a.analytics-logo {
		position: absolute;
		top: 0;
	}
}

.container {
	max-width: unset;
}