/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Header socials styles.
 */

@import "../../../site/theme/hca.vars";

:host {
    align-items: center;
    display: flex;
    gap: 0 16px;
    padding: 8px 16px;
}

/**
 * Custom - desktop.
 */
@media screen and (min-width: $desktop) {
    :host {
        gap: 0 8px;
        padding: 0;
    }
}
