/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for status panel. ViewEncapsulation is disabled - required in order to style <ng-content>.
 */

@import "../../site/theme/hca.vars";

.status-panel {
    padding: 0 0 24px;
    position: relative;

    /* Separator */
    &:before,
    &.loading:after {
        border-radius: 3px;
        bottom: 10px;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
    }

    &:before {
        background-color: $hca-gray-lightest;
        width: 84px;
    }

    /* Loading indicator */
    &.loading:after {
        animation: 1.2s loading linear infinite;
        background-color: $hca-secondary;
        width: 8px;
    }

    /* Loading animation */
    @keyframes loading {
        from {
            left: 0;
        }
        to {
            left: 76px;
        }
    }

    /* Separator - error */
    &.error:before {
        background-color: $hca-orange;
    }
}
