<mat-toolbar>
    <mat-toolbar-row>
        <a href="https://dev.data.humancellatlas.org/">
        <img src="../../../assets/images/logos/hca/logo-hca.png"/>
        </a>
        <div menu-open cc-hamburger class="menu-dropdown">Menu</div>
        <div menu-close cc-hamburger class="menu-dropdown-close">Menu</div>
        <cc-toolbar-nav>
            <cc-toolbar-nav-item class="active">
                <a href="#">
                    <span>Explore</span>
                    <span>Search for data in the HCA</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a href="https://dev.data.humancellatlas.org/analyze/portals/visualization-portals">
                    <span>Analyze</span>
                    <span>Find a list of Apps</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a href="https://dev.data.humancellatlas.org/contribute/overview/overview">
                    <span>Contribute</span>
                    <span>Submit your data to the HCA</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a href="https://dev.data.humancellatlas.org/learn/overview/overview">
                    <span>Learn</span>
                    <span>Find user guides and how-to’s here</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a href="https://dev.data.humancellatlas.org/build/development-guides/pipeline-development-guide">
                    <span>Build</span>
                    <span>Find developer guides and API docs</span>
                </a>
            </cc-toolbar-nav-item>
        </cc-toolbar-nav>
        <div menu-open class="hca-toolbar-nav-overlay"></div>
        <div class="menu-dropdown-user">Alex S.</div>
    </mat-toolbar-row>
</mat-toolbar>
