/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA-specific overrides of Material Design toolbar.
 */
@import "../../shared/theme/cgl.vars";

/**
 * Custom CGL-specific overrides of MD toolbar.
 */

:host {
    display: block;
}

mat-toolbar {

    background-color: $hca-off-white;
    position: relative;

    mat-toolbar-row {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px; /* Snap to 1200px */
        padding: 0 18px; /* Gutter 18px */
    }

    // Menu is hidden by default
    [menu-close] {
        display: none;
    }

    img {
        height: 45px;
    }

    /* Override default cc-toolbar-nav left margin */
    cc-toolbar-nav {
        margin-left: 0;
    }

    /* Override default nav item color TODO will need to revisit this once theming per instance is setup */
    cc-toolbar-nav-item {
        padding: 0 16px; /* HCA specific override */

        &.active {
            a {
                color: $hca-black;
                text-decoration: none;

                &:hover {
                    color: $hca-black;
                }
            }
        }

        a {
            color: $hca-gray-medium;
            font-family: "Gotham";
            font-size: 13px; /* TODO review with typography */
            font-weight: 500; /* TODO review with typography */
            letter-spacing: 1.2px;

            &:hover {
                color: $hca-black;
            }
        }
    }

    /* User menu */
    .menu-dropdown {
        display: none;
    }

    /* Drop down icon */
    .menu-dropdown::after {
        display: none;
    }
}

/**
 * Extra small, small
 */
@media (max-width: $md-sm-max) {

    mat-toolbar {

        // Position logo to the left and hamburger to the right
        mat-toolbar-row { /* /deep/ only required by Angular app, not generic style sheet */
            justify-content: space-between;
        }

        // Shrink logo to match smaller toolbar height
        img { /* /deep/ only required by Angular app, not generic style sheet */
            height: 36px;
        }
    }
}

/**
 * Medium, medium +
 */
@media (min-width: $md-md-min) {

    // Hide hamburger
    [menu-open] {
        display: none;
    }

    mat-toolbar {

        mat-toolbar-row {
            height: 60px; // 60px toolbar, HCA specific
            justify-content: space-between; // HCA specific
        }

        /* User menu */
        .menu-dropdown {
            align-items: center;
            color: $hca-off-white; /* TODO change when implement hca-grey-dark */
            //cursor: pointer;
            font-family: "Gotham Book"; /* Todo typography */
            font-size: 14px; /* Todo typography */
            //font-weight: 500; /* Todo typography */
            display: flex;
        }

        /* Drop down icon */
        .menu-dropdown::after {
            color: $hca-off-white; /* TODO change when implement hca-gray-dark */
            content: "\E313";
            font-family: "Material Icons";
            font-size: 11px; // HCA specific
        }
    }
}

// Specific toolbar height (overrides MD specification on .mat-toolbar-row and also .mat-toolbar) for mobile devices in portrait mode.
@media (max-width: $md-sm-min) and (orientation: portrait) {

    mat-toolbar {
        min-height: 0;

        mat-toolbar-row {
            height: 56px; // 56px toolbar
        }
    }
}

// Specific toolbar height (overrides MD specification on .mat-toolbar-row and also .mat-toolbar) for mobile devices in landscape mode.
@media (max-width: $md-md-min) and (orientation: landscape) {

    mat-toolbar {
        min-height: 0;

        mat-toolbar-row {
            height: 48px; // 48px toolbar
        }
    }
}

