<mat-toolbar>
    <mat-toolbar-row>
        <a href={{portalURL}}>
        <img src="assets/images/logos/hca/logo-hca.png"/>
        </a>
        <div menu-open cc-hamburger class="menu-dropdown" (click)="isMenuOpen(true)">Menu</div>
        <div menu-close cc-hamburger class="menu-dropdown-close" (click)="isMenuOpen(false)">Menu</div>
        <cc-toolbar-nav>
            <cc-toolbar-nav-item class="active">
                <a href="#">
                    <span>Explore</span>
                    <span>Search for data in the HCA</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a href="{{portalURL}}/contribute/overview/overview">
                    <span>Contribute</span>
                    <span>Submit your data to the HCA</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a href="{{portalURL}}/analyze/portals/visualization-portals">
                    <span>Analyze</span>
                    <span>Find a list of Apps</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a href="{{portalURL}}/learn/userguides/accessing-data">
                    <span>Learn</span>
                    <span>Find user guides and how-to’s here</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item class="about">
                <a href="{{portalURL}}/about/overview/overview">
                    <span>About</span>
                </a>
            </cc-toolbar-nav-item>
        </cc-toolbar-nav>
        <a href="{{portalURL}}/about/platform/dcp" class="about">About</a>
        <div menu-open class="hca-toolbar-nav-overlay"></div>
    </mat-toolbar-row>
</mat-toolbar>
