<footer class="squash">
    <div class="cgl-links layout-column layout-gt-sm-row layout-padding">
        <cgl-footer-nav class="layout-column layout-gt-sm-row">
            <cgl-footer-nav-item>
                <a href="#">UCSC</a>
            </cgl-footer-nav-item>
            <cgl-footer-nav-item>
                <a href="#">UCSC Genomics Institute</a>
            </cgl-footer-nav-item>
            <cgl-footer-nav-item>
                <a href="#">UCSC Computational Genomics Laboratory</a>
            </cgl-footer-nav-item>
        </cgl-footer-nav>
        <cgl-footer-nav class="layout-column layout-gt-sm-row">
            <cgl-footer-nav-item>
                <a href="#">Email</a>
            </cgl-footer-nav-item>
            <cgl-footer-nav-item>
                <a href="#">Facebook</a>
            </cgl-footer-nav-item>
            <cgl-footer-nav-item>
                <a href="#">Twitter</a>
            </cgl-footer-nav-item>
        </cgl-footer-nav>
    </div>
    <div class="cgl-disclaimer layout-column layout-gt-sm-row">
        <span>Copyright © 2016, The Regents of the University of California, Santa Cruz.</span> <span>All Rights Reserved. Apache-2.0 licence.</span>
    </div>
</footer>