# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results/*
/playwright-report

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.tmp
/downloads/*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

#System Files
.DS_Store
Thumbs.db

# env files
/.env*.local
/.env.development
/.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo

# IDEs and editors
.idea
/.vscode

# hygen
_templates

# nvm
.nvmrc

# favicons
/public/favicons/*

/files/**/out/

#Python
__pycache__/
/analytics/**/_build
/analytics/venv
