node_modules
node_modules_bak
.tmp

# IDEs and editors
.idea

#Typescript
typings

# misc
npm-debug.log
downloads/*

#System Files
.DS_Store
Thumbs.db

#Python
__pycache__/
/analytics/**/_build
/analytics/venv
