# general
README.md
/CHANGELOG.md
/analytics
/.gitlab
/reports

# testing
coverage

# next.js
.next
out

# production
build

# dependencies
node_modules

# other (avoids breaking a link)
app/components/common/MDXContent/hca-dcp/downloadBatchCorrectionWarning.mdx