<warning [cta]="true">
    <warning-title>
        <p class="fontsize-m"><strong>Help improve the HCA DCP</strong></p>
    </warning-title>
    <warning-content>
        <p class="fontsize-m">The HCA DCP product team is conducting user surveys and interviews to help discover how
            researches are using matrices and ways they can improve their utility. For more information, see
            <a [href]="portalUrl"
               target="_blank"
               rel="noopener">About the Spring 2021 DCP Matrix UX Effort</a>.</p>
        <button class="button primary" (click)="onTakeSurvey()">Take the Survey</button>
    </warning-content>
</warning>
