<warning [cta]="true">
    <warning-title>
        <p class="fontsize-m"><strong>Help improve the HCA DCP</strong></p>
    </warning-title>
    <warning-content>
        <p class="fontsize-m">The HCA DCP product team is recruiting volunteers to participate in a 15 - 20 minute virtual interview to help us understand how to improve the findability and reusability of the Data Portal project matrices.</p>
        <p class="fontsize-m">To participate, please take a short
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuX6Xn1KzjURXdPUjBoQGK3fbKQMUuh3JKs2MHS9xCSR2TQw/viewform"
               target="_blank"
               (click)="onTakeSurvey()">survey</a> to tell us a bit about
            yourself, your work, and how you use the matrices.</p>
        <p class="fontsize-m">You can also indicate in the survey if you are available to participate in a virtual interview about your experiences finding and using matrices.</p>
        <p class="fontsize-m">For more information, read the <a
            [href]="getSurveyDescriptionLink()"
            target="_blank"
            rel="noopener">Spring 2021 DCP Matrix UX Study</a> overview.</p>
        <a class="anchor-button button primary"
           href="https://docs.google.com/forms/d/e/1FAIpQLSfuX6Xn1KzjURXdPUjBoQGK3fbKQMUuh3JKs2MHS9xCSR2TQw/viewform"
           target="_blank"
           (click)="onTakeSurvey()">Take the survey</a>
    </warning-content>
</warning>
