<warning [cta]="true">
    <warning-title>
        <p class="fontsize-m"><strong>Have matrix questions?</strong></p>
    </warning-title>
    <warning-content>
        <p class="fontsize-m">Take a <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuX6Xn1KzjURXdPUjBoQGK3fbKQMUuh3JKs2MHS9xCSR2TQw/viewform"
                                         target="_blank"
                                         (click)="onTakeSurvey()">survey</a> and sign up for a 1:1 session where you can receive help and share your experiences.</p>
        <a class="anchor-button button primary"
           href="https://docs.google.com/forms/d/e/1FAIpQLSfuX6Xn1KzjURXdPUjBoQGK3fbKQMUuh3JKs2MHS9xCSR2TQw/viewform"
           target="_blank"
           (click)="onTakeSurvey()">Get help with matrices</a>
    </warning-content>
</warning>
