/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * HCA get data downloads styles.
 */

.heading-logo {
    display: flex;
}

.heading-logo img {
    margin-right: 8px;
    width: 24px;
}
