<get-data-layout [tabs]="getBackButtonTab()" (tabSelected)="onTabSelected($event)">
    <ng-container title>Export Selected Data</ng-container>
    <div content>
        <get-data-panel>
            <h4 class="fontsize-m semi-bold">Download Selected Data Using "curl"</h4>
            <p class="fontsize-m">Obtain a curl command for downloading the selected data.</p>
            <div class="start">
                <button class="button secondary" 
                        type="button"
                        [routerLink]="['/export', 'get-curl-command', 'select-species']">Request curl Command</button>
            </div>
        </get-data-panel>
        <get-data-panel>
            <h4 class="fontsize-m semi-bold">Download a File Manifest with Metadata for the Selected Data</h4>
            <p class="fontsize-m">Request a file manifest for the current query containing the full list of selected files and
                the metadata for each file.</p>
            <div class="start">
                <button class="button secondary"
                        type="button"
                        [routerLink]="['/export', 'download-manifest', 'select-species']">Request File Manifest</button>
                <p class="fontsize-m delimiter">|</p>
                <a href="{{portalURL}}/guides/consumer-vignettes/intro-to-downloading-and-analyzing"
                   target="_blank"
                   rel="noopener noreferrer"><p class="fontsize-m">Help</p></a>
            </div>
        </get-data-panel>
        <get-data-panel>
            <h4 class="fontsize-m semi-bold">Analyze in Terra</h4>
            <p class="fontsize-m"><a href="https://terra.bio/" target="_blank" rel="noopener noreferrer">Terra</a> is a scalable
                cloud platform for biomedical research. Terra offers the ability to use data, tools, and workflows to do
                interactive analysis in the cloud. To start using Terra, visit <a href="https://app.terra.bio/"
                                                                                  target="_blank"
                                                                                  rel="noopener noreferrer">https://app.terra.bio.</a>
            </p>
            <div class="start">
                <button class="button primary anchor-button button-terra" 
                        type="button"
                        [routerLink]="['/export', 'export-to-terra', 'select-species']">Analyze in Terra</button>
                <p class="fontsize-m delimiter">|</p><a href="{{portalURL}}/guides/consumer-vignettes/export-to-terra"
                                                        target="_blank"
                                                        rel="noopener noreferrer"><p class="fontsize-m">Help</p></a>
            </div>
        </get-data-panel>        
    </div>
</get-data-layout>
