<ng-content></ng-content>
<ng-container *ngIf="isMatrixUrlRequestFailed(matrixUrlRequest)">
    <p class="fontsize-m">An error has occurred.</p>
    <p class="fontsize-m error-message" [innerHTML]="matrixUrlRequest.message"></p>
</ng-container>
<ng-container *ngIf="isMatrixUrlRequestCompleted(matrixUrlRequest)">
    <p class="fontsize-m">To download your expression matrix with the file name
        <span class="fontsize-m semi-bold file-name">{{getMatrixDownloadFileName(matrixUrlRequest)}}</span>,
        select the link below.</p>
    <p class="fontsize-m">To save your expression matrix with a different name, right click the link below and choose
        “Save Link As...”.</p>
    <p class="fontsize-m">This link expires in 30 days.</p>
    <copy-to-clipboard [copyToClipboardLink]="getMatrixLink(matrixUrlRequest)"></copy-to-clipboard>
</ng-container>
