/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying download button.
 */

:host {
    display: block;
}

.icon-download:not(.icon-download-disabled) {
    cursor: pointer;
}

.icon-download {
    width: 14px;
}
