/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for the facet widget wrapper component when displayed inside a form group menu. A facet widget can be a facet
 * terms selector or a facet age range selector.
 */
@import "../../../site/theme/cgl.vars";

/* Facet widget wrapper */
:host {
    display: block;
    margin: 8px -8px 0;
    max-height: 229.5px; /* For display of 8.5 terms at 229.5px total */
    -ms-overflow-style: none; // IE 10+, scrollbar hidden
    overflow-y: auto; // Firefox, scrollbar hidden unless actively scrolling
    padding: 0 8px;

    // Safari and Chrome, scrollbar hidden
    &::-webkit-scrollbar {
        display: none;
    }
}
