<warning>
    <warning-title><h4 class="fontsize-m">Note: Not all selected data will be included in the generated
        matrix.</h4></warning-title>
    <warning-content>
        <p class="fontsize-m">The HCA Matrix Service supports the currently following data types:</p>
        <ol class="fontsize-m">
            <li>Human, Smart Seq2, paired end true, or</li>
            <li>Human, 10X v2 sequencing</li>
            <li>Human, 10X 3' v2 sequencing</li>
        </ol>
        <p class="fontsize-m">Non-matching data types will be omitted from the generated matrix.</p>
    </warning-content>
</warning>
