/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project metadata component.
 */

/* Title */
h2 {
    margin: 14px 0 24px;
}

/* Styles */

/* Max widths */
/* 600px */
.max600 {
    display: inline-block;
    max-width: 600px;
}
