/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project ingest in progress component.
 */

.text-container {
    margin: 0 auto;
    max-width: 650px;
    padding: 36px 0;
}
