/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Banner announcing 2020-Mar release and linking to release page.
 */
@import "../../../site/theme/cgl.vars";

/* Release banner */
.release-banner span {
    margin: 0; /* Overrides fontsize-s margin */

    /* "View the release" */
    a {
        color: $hca-black;
        text-decoration: underline;
        white-space: nowrap;
    }
}
