/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facet (grid item) styles - HCA
 */
@import "../../shared/theme/cgl.vars";

:host {

    display: flex; /* Scroll content */
    flex-direction: column; /* Scroll content */
    padding: 18px;
    width: 220px;

    /* Facet title */
    .facet-title {
        align-items: center;
        display: flex;
        justify-content: space-between;

        /* Facet name */
        span:first-of-type {
            font-family: "DIN Alternate", sans-serif; /* TODO typography */
            font-size: 18px; /* TODO typography */
            font-weight: 500; /* TODO typography */
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        /* Facet count */
        span:last-of-type {
            font-family: "Montserrat", sans-serif; /* TODO typography */
            font-size: 14px; /* TODO typography */
        }
    }

    /* Facet term list - container */
    .facet-term-list {
        max-height: 237.5px; /* For display of 9.5 terms at 237.5px total */
        margin: 14px -8px 0;
        overflow-y: scroll; /* Scroll content */
        padding: 0 8px;
    }
}
