/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facet (grid item) styles - HCA
 */
@import "../../shared/theme/cgl.vars";

:host {
    display: flex; /* Scroll content */
    flex-direction: column; /* Scroll content */
    padding: 18px;
    width: 180px;

    /* Facet title */
    .facet-title {
        align-items: flex-start;
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;

        /* Facet name */
        span:first-of-type {
            font-family: "din-2014", sans-serif; /* TODO typography */
            font-size: 18px; /* TODO typography */
            font-weight: 500; /* TODO typography */
            min-width: 0;
        }

        /* Facet label */
        span:last-of-type {
            color: transparent;
            font-family: "Montserrat", sans-serif; /* TODO typography */
            font-size: 10px;
            height: 18px;
            line-height: 18px;
            padding-left: 8px;
        }
    }

    /* Facet label shows on hover of facet */
    &:hover .facet-title span:last-of-type {
        color: $hca-gray-medium;
    }

    /* Facet term list - container */
    .facet-term-list {
        margin: 14px -8px 0;
        max-height: 229.5px; /* For display of 8.5 terms at 229.5px total */
        -ms-overflow-style: none; // IE 10+, scrollbar hidden
        overflow-y: auto; // Firefox, scrollbar hidden unless actively scrolling
        padding: 0 8px;

        // Safari and Chrome, scrollbar hidden
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    :host {
        width: 220px;
    }
}
