/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for catalog update chip.
 */

@import "../../../site/theme/hca.vars";

span {
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    width: 8px;
}

.catalog-update-chip-new {
    background-color: $hca-primary;
}

.catalog-update-chip-updated {
    background-color: $hca-orange;
}
