<get-data-panel>
    <h4 class="fontsize-m semi-bold">Confirm Species Selection</h4>
    <ng-content></ng-content>
</get-data-panel>
<div class="species fontsize-s">
    <p class="fontsize-s">Species:</p>
    <div *ngFor="let option of speciesCheckboxOptions"
         (click)="onSpeciesClicked(option)"
         class="hca-checkbox-group">
        <div class="hca-checkbox" [ngClass]="{'selected': option.selected}">
            <mat-icon *ngIf="option.selected">check</mat-icon>
        </div>
        <div class="hca-checkbox-label">{{option.label}}</div>
    </div>
</div>
<button class="button primary" (click)="onSpeciesSelected(speciesFileFacet, speciesCheckboxOptions)"
        [disabled]="!isSpeciesSelected(speciesCheckboxOptions)">Confirm Species</button>
