<ng-container *ngIf="state$ | async as state">
    <div class="species fontsize-s" *ngIf="state.loaded">
        <p class="fontsize-s">Species:</p>
        <div *ngFor="let option of state.speciesCheckboxOptions"
             (click)="onSpeciesClicked(option)"
             class="hca-checkbox-group">
            <div class="hca-checkbox" [ngClass]="{'selected': option.selected}">
                <mat-icon *ngIf="option.selected">check</mat-icon>
            </div>
            <div class="hca-checkbox-label">{{option.label}}</div>
        </div>
    </div>
    <download-button 
            [disabled]="!isSpeciesSelected(state.speciesCheckboxOptions)"
            (downloadClicked)="onSpeciesSelected(state.speciesFileFacet, state.speciesCheckboxOptions)">Confirm Species</download-button>
</ng-container>
