<div class="project-matrix" (click)="onClickCard($event)">
    <div>
        <img class="close" (click)="onPreparedMatrixDownloadsOpened(false)" src="assets/images/icon/clear.png"/>
        <h3 class="fontsize-l">Download Expression Matrix</h3>
        <h4 class="project-title fontsize-m">{{projectTitle}}</h4>
        <div class="file-format fontsize-s">
            <ng-container *ngFor="let species of projectURLs.listSpeciesWithMatrixUrls()">
                <h5>{{species}}</h5>
                <div *ngFor="let matrixUrl of projectURLs.listMatrixUrlsBySpecies(species)">
                    <a [href]="matrixUrl.url">
                        <img src="assets/images/icon/hca-download-primary.png">
                        <span>{{matrixUrl.name}}</span>
                    </a>
                    <copy-to-clipboard [copyToClipboardLink]="matrixUrl.url"></copy-to-clipboard>
                </div>
            </ng-container>
        </div>
    </div>
    <!--<span class="fontsize-xs">For instructions on how to use the expression matrix see the expression matrix userguide.</span>-->
</div>
