/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for hca specific tooltip.
 * Overrides styles for Angular Material Tooltip (mat-tooltip).
 *
 * ViewEncapsulation is disabled - required in order to style nested material components.
 *
 */
@import "../../site/theme/cgl.vars";

/* Tooltip styles */
.hca-tooltip {
    background: $hca-black;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 12px; /* TODO typography */
    font-weight: 500; /* TODO typography */
    letter-spacing: 0.18px; /* TODO typography */
    line-height: 16px; /* TODO typography */
    max-width: none !important;
    padding: 8px;
    position: relative; /* Positions tooltip arrow */
    z-index: 3;

    /* Wrap text */
    &.narrow {
        max-width: 152px !important;
    }

    /* Request tooltip */
    &.request {
        display: flex;
        max-width: 250px !important;
    }

    /* Tooltip for counts */
    &.count {
        margin: 0 !important;

        &:before {
            display: none;
        }
    }

    /* Force break on longer tooltips where there are no spaces */
    &.truncate {
        word-break: break-all;
    }
}
