/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project file type counts component.
 */

/* Component container */
.host {
    flex: 1;
}

/* Heading */
h4 {
    margin: 24px 0 16px;
}

/* Section title */
p {
    margin: 16px 0 4px;
}
