    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Your Browser is Not Supported</h2>
                <h5>To use Medtel, we recommend using the latest version of Chrome, Firefox, Safari or IE11+.</h5>
            </div>
        </div>
    </div>
