<announcement class="announcement-catalog">
    <span class="announcement-catalog-content fontsize-m">
        <ng-container [ngSwitch]="isCatalogDCP1()">
            <span *ngSwitchCase="true"
                  class="announcement-catalog-message"><strong>Update: </strong>A preview of the HCA DCP 2.0 data is now available.</span>
            <span *ngSwitchDefault
                  class="announcement-catalog-message">You are currently viewing the HCA DCP 2.0 Data Preview.</span>
        </ng-container>
        <span class="announcement-catalog-links">
            <ng-container [ngSwitch]="isCatalogDCP1()">
                <span *ngSwitchCase="true"
                      (click)="onCatalogSelected('dcp2')"
                      class="announcement-catalog-link">View DCP 2.0 Data Preview</span>
                <span *ngSwitchDefault
                      (click)="onCatalogSelected('dcp1')"
                      class="announcement-catalog-link">View DCP 1.0 Data</span>
            </ng-container>
            <span class="announcement-catalog-delimiter">|</span>
            <a [href]="getCatalogAnnouncementUrl()">Learn More</a>
        </span>
    </span>
</announcement>
