/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for catalog announcement banner.
 */

@import "../../site/theme/hca.vars";

/* Announcement - inner */
.announcement-catalog > span {
    display: flex;
    flex-wrap: wrap;
}

/* Text - all */
.announcement-catalog span {
    margin: 0; /* Overrides fontsize-s margin */
}

/* Catalog selector */
.announcement-catalog > span > span:last-of-type > span:first-of-type {
    color: $hca-primary;
    cursor: pointer;
}

/* Separator */
.announcement-catalog > span > span:last-of-type > span:nth-of-type(2) {
    color: $hca-gray-medium;
    padding: 0 8px;
}

/**
 * Small Window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {

    /* Announcement links */
    .announcement-catalog > span > span:first-of-type {
        margin-right: 24px;
    }
}
