/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for catalog announcement banner.
 */

@import "../../site/theme/hca.vars";

/* Text - all */
.announcement-catalog span {
    margin: 0; /* Overrides fontsize-s margin */
}

/* Catalog selector */
.announcement-catalog-link {
    color: $hca-primary;
    cursor: pointer;
}

/* Separator */
.announcement-catalog-delimiter {
    color: $hca-gray-medium;
    padding: 0 8px;
}

/* Single "learn more" link - remove padding */
.announcement-catalog-links-single .announcement-catalog-delimiter {
    padding-left: 0;
}

/* Announcement message */
.announcement-catalog-content .announcement-catalog-message {
    margin-right: 8px;
}
