<ng-container [ngSwitch]="isDisplayTermMenu()">
    <ng-container *ngSwitchCase="true">
        <div [matMenuTriggerFor]="editMenu">
            <bw-file-facet [fileFacet]="fileFacet"></bw-file-facet>
        </div>
        <mat-menu #editMenu="matMenu" [class]="'edit-menu double-wide'">
            <bw-file-facet-menu [fileFacetName]="fileFacet.name" (closeMenu)="onCloseMenu()"></bw-file-facet-menu>
        </mat-menu>
    </ng-container>
    <div *ngSwitchDefault>
        <bw-file-facet [fileFacet]="fileFacet"></bw-file-facet>
    </div>
</ng-container>
