/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Toolbar nav item styles.
 */

@import "../../site/theme/cgl.vars";
@import "../../site/theme/cgl.global";

:host, cc-toolbar-nav-item {
    cursor: pointer;
    box-sizing: border-box;
    display: flex; // Force child anchor elements to be full height (for click area)
    color: $hca-black;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

/**
 * Large +
 */
@media (min-width: 1200px) {

    :host, cc-toolbar-nav-item {
        color: $hca-gray-medium;
        flex-direction: row;
        padding: 0 12px;
    }
}

