/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for displaying error page.
 */

:host {

    flex: 1;

    .error-info {
        background-color: #fafafa;
        font-family: monospace;
        margin-top: 12px;
        padding: 8px;
        text-align: left;
        white-space: pre-wrap;
    }
    
    .label {
        font-weight: 500;
        margin-bottom: 0;
    }
}
