/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for hca specific table header cell sort.
 * Overrides styles for Angular Material MatSort for mat-sort-header.
 *
 * ViewEncapsulation is disabled - required in order to style nested material components.
 *
 */
@import "../../site/theme/cgl.vars";

.hca-table-sort {

    /* Sort container */
    .mat-sort-header-container {
        align-items: flex-start;
        justify-content: flex-end;

        button {
            overflow: hidden; /* Required for <hca-content-ellipsis/> */
        }
    }

    /* Arrow position, before content */
    .mat-sort-header-position-before .mat-sort-header-arrow {
        margin: 0 4px 0 0;
    }
}

/* ViewEncapsulation is disabled thereby removing the use of :host-context */
/* css specificity required to avoid style conflicts */
/* Column right aligned - header content to be right aligned */
.hca-table mat-header-cell.right {

        .hca-table-sort .mat-sort-header-container {
            justify-content: flex-start;
        }
}

/* File type - center "Data" heading */
.hca-table mat-header-cell.file-type.right {

    .hca-table-sort .mat-sort-header-container {
        justify-content: center;
    }
}
