<div *ngIf="state$ | async as state">
    <ng-container *ngIf="isDownloadNotStarted(state.manifestResponse)">
        <hca-get-data-panel [loading]="isFileTypeSummariesEmpty(state.fileManifestFileSummary)">
            <h4 class="fontsize-m semi-bold">Select File Types for Download</h4>
            <p class="fontsize-m">Select the file types to include in the generated curl command.</p>
        </hca-get-data-panel>
        <ng-container *ngIf="!isFileTypeSummariesEmpty(state.fileManifestFileSummary)">
            <file-type-summary-list [selectedSearchTermNames]="state.selectedSearchTermNames"
                                    [fileTypeSummaries]="getFileTypeSummaries(state.fileManifestFileSummary)"
                                    (facetTermSelected)="onFacetTermSelected($event)"></file-type-summary-list>
            <div *ngIf="isShellOptionsVisible()" class="execution-environment fontsize-s">
                <p class="fontsize-s">Select Shell:</p>
                <mat-radio-group [(ngModel)]="executionEnvironment" class="hca-radio">
                    <mat-radio-button *ngFor="let option of getShellOptions()" [value]="option">
                        {{option}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <warning>
                <warning-content>
                    <p class="fontsize-m">The generated curl command is compatible with the bash shell on Mac and Linux
                        systems and will remain valid for one hour. Support for Windows systems is coming soon.</p>
                </warning-content>
            </warning>
            <button class="button primary"
                    type="button"
                    (click)="onRequestManifest(state.selectedSearchTerms)"
                    [disabled]="!isRequestFormValid(state.selectedSearchTerms, executionEnvironment)">Request curl
                Command
            </button>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="isDownloadInProgress(state.manifestResponse)">
        <hca-get-data-panel [loading]="isDownloadInProgress(state.manifestResponse)">
            <h4 class="fontsize-m semi-bold">Your curl Command is Being Prepared</h4>
            <p class="fontsize-m">Your curl command will be ready shortly.</p>
        </hca-get-data-panel>
    </ng-container>
    <ng-container *ngIf="isDownloadComplete(state.manifestResponse)">
        <hca-get-data-panel>
            <h4 class="fontsize-m semi-bold">Your curl Command is Ready</h4>
        </hca-get-data-panel>
        <p class="fontsize-m">Execute the curl command below in your terminal to download the selected data.</p>
        <div class="download">
            <p class="bulk-download-curl fontsize-xs"
               (dataLinkClicked)="onDataLinkClicked(state.selectedSearchTerms, state.manifestResponse.fileUrl)">
                {{getCurlCommand(state.manifestResponse, executionEnvironment)}}
            </p>
            <copy-to-clipboard [copyToClipboardLink]="getCurlCommand(state.manifestResponse, executionEnvironment)"
                               (copyClicked)="onDataLinkCopied(state.selectedSearchTerms, state.manifestResponse.fileUrl)"></copy-to-clipboard>
            <warning>
                <warning-content>
                    <p class="fontsize-m">The curl command downloads data files only. To download the matching metadata,
                        select "Prepare Manifest" on the  <a [routerLink]="" queryParamsHandling="preserve" (click)="onDownloadManifestClicked()">Request File Manifest</a> page.</p>
                </warning-content>
            </warning>
        </div>
    </ng-container>
</div>
