<div *ngIf="state$ | async as state">
    <ng-container *ngIf="isDownloadNotStarted(state.manifestResponse)">
        <hca-get-data-panel [loading]="isFileTypeSummariesEmpty(state.fileManifestFileSummary)">
            <h4 class="fontsize-m semi-bold">Select Bulk Download File Types</h4>
            <p class="fontsize-m">TBD</p>
        </hca-get-data-panel>
        <ng-container *ngIf="!isFileTypeSummariesEmpty(state.fileManifestFileSummary)">
            <file-type-summary-list [selectedSearchTermNames]="state.selectedSearchTermNames"
                                    [fileTypeSummaries]="getFileTypeSummaries(state.fileManifestFileSummary)"
                                    (facetTermSelected)="onFacetTermSelected($event)"></file-type-summary-list>
            <button class="button primary"
                    type="button"
                    (click)="onRequestManifest(state.selectedSearchTerms)"
                    [disabled]="!isAnyFileFormatSelected(state.selectedSearchTerms)">Prepare Bulk Download</button>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="isDownloadInProgress(state.manifestResponse)">
        <hca-get-data-panel [loading]="isDownloadInProgress(state.manifestResponse)">
            <h4 class="fontsize-m semi-bold">Your Bulk Download is Being Prepared</h4>
            <p class="fontsize-m">Your download will be ready shortly.</p>
        </hca-get-data-panel>
    </ng-container>
    <ng-container *ngIf="isDownloadComplete(state.manifestResponse)">
        <hca-get-data-panel>
            <h4 class="fontsize-m semi-bold">Your Bulk Download is Ready</h4>
        </hca-get-data-panel>
        <p class="fontsize-m">TBD.</p>
        <div class="download">
            <p class="bulk-download-curl fontsize-xs"
                 (dataLinkClicked)="onDataLinkClicked(state.selectedSearchTerms, state.manifestResponse.fileUrl)">
                {{getUrlCommand(state.manifestResponse.fileUrl)}}
            </p>
            <copy-to-clipboard [copyToClipboardLink]="getUrlCommand(state.manifestResponse.fileUrl)"
                               (copyClicked)="onDataLinkCopied(state.selectedSearchTerms, state.manifestResponse.fileUrl)"></copy-to-clipboard>
        </div>
    </ng-container>
</div>
