/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facets (grid) styles.
 */

@import "../../shared/theme/cgl.vars";

/**
 * Small +
 */
@media (min-width: $md-sm-min) {

    :host {

        /** Override default left/right padding for cards, so card padding and card width is uniform and correct */
        padding-left: 0 !important;
        padding-right: 0 !important;

        /** Set up wrap and margins for 2x grid **/
        .facet-wrap {

            max-width: 50%; // Max width required for "remainder children" in last row - prevent grow
        }
    }
}

/**
 * Medium +
 */
@media (min-width: $md-md-min) {

    :host {

        /** Set up wrap and margins for 4x grid **/
        .facet-wrap {

            max-width: 25%; // Max width required for "remainder children" in last row - prevent grow
        }
    }
}

/**
 * Large +
 */
@media (min-width: $md-lg-min) {

    :host {

        /** Set up wrap and margins for 5x grid **/
        .facet-wrap {

            max-width: 20%; // Max width required for "remainder children" in last row - prevent grow
        }
    }
}