/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facets (grid) styles.
 */

@import "../../shared/theme/cgl.vars";

:host {

    md-card {

        /** Override MD default padding, for all device sizes */
        padding: 24px 16px !important;

        /** Force header text to be full width, required for right-aligning the selected facet term count in the subtitle */
        /deep/ .md-card-header-text {
            flex: 1;
            margin: 0; // Remove MD's default left/right margin
        }

        /** Right align selected facet term count in subtitle */
        /deep/ md-card-subtitle {
            display: flex;
            justify-content: space-between;
        }

        /** Add min height to card content for consistent card height **/
        /deep/ md-card-content {
            min-height: 112px;
        }


        /** "More" option at bottom of facet term rows */
        .facet-more {

            align-items: center;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            margin-top: 16px;
        }

        /** Divider above footer */
        hr {
            margin: 16px -16px -8px;
        }

        /** Override default MD margin left/right to align buttons with checkboxes */
        md-card-actions {
            margin-left: -16px;
            margin-right: -16px;
        }
    }
}

/**
 * XS only
 */
@media (max-width: $md-xs-max) {

    :host {

        md-card {

            margin: 0 0 16px; // Add margin bottom to stacked cards TODO revisit - why is layout-margin applied to XS?

            /** Override MD default margin bottom */
            /deep/ md-card-header {
                margin-bottom: 16px;
            }
        }
    }
}

/**
 * Small only
 */
@media (min-width: $md-sm-min) and (max-width: $md-sm-max) {

    :host {

        /** Set up wrap and margins for 2x grid **/
        .facet-wrap {

            max-width: 50%; // Max width required for "remainder children" in last row - prevent grow

            &:nth-child(even) {

                md-card {
                    margin-right: 0;
                }
            }

            &:nth-child(odd) {

                md-card {
                    margin-left: 0;
                }
            }
        }
    }
}

/**
 * Medium only
 */
@media (min-width: $md-md-min) and (max-width: $md-md-max) {

    :host {

        /** Set up wrap and margins for 4x grid **/
        .facet-wrap {

            max-width: 25%; // Max width required for "remainder children" in last row - prevent grow

            &:nth-child(4n+1) {

                md-card {
                    margin-left: 0;
                }
            }

            &:nth-child(4n+0) {

                md-card {
                    margin-right: 0;
                }
            }
        }
    }
}

/**
 * Large and extra large
 */
@media (min-width: $md-lg-min) {

    :host {

        /** Set up wrap and margins for 5x grid **/
        .facet-wrap {

            max-width: 20%; // Max width required for "remainder children" in last row - prevent grow

            &:nth-child(5n+1) {

                md-card {
                    margin-left: 0;
                }
            }

            &:nth-child(5n+0) {

                md-card {
                    margin-right: 0;
                }
            }
        }
    }
}