<div class="hca-download" *ngIf="state$ | async as state">
    <p class="fontsize-l">Request Expression Matrix</p>
    <hca-file-summary
            [showDownload]="false"
            [summary]="state.fileSummary"></hca-file-summary>
    <div class="separator"></div>
    <hca-file-filter-result *ngIf="state.selectedSearchTerms"
                            [selectedSearchTerms]="state.selectedSearchTerms"
                            [removable]="false"></hca-file-filter-result>
    <div class="separator"></div>
    <div class="hca-download-content">
        <ng-container *ngIf="!isRequestNew(state.matrixResponse); else selectFileType">
            <ng-container *ngIf="isRequestInProgress(matrixResponse)">
                <p class="fontsize-s">Your expression matrix is being prepared.</p>
                <p class="fontsize-s" *ngIf="isETASpecified(matrixResponse)">Wait times are currently about
                    {{formatETA(matrixResponse.eta)}}.</p>
            </ng-container>
            <ng-container *ngIf="isRequestCompleted(matrixResponse) && !this.downloadAs">
                <p class="fontsize-s">Your expression matrix is ready.</p>
            </ng-container>
            <ng-container *ngIf="isRequestCompleted(matrixResponse) && this.downloadAs">
                <p class="fontsize-s">Right-click the download link below and choose "Save Link As...".</p>
            </ng-container>
            <ng-container *ngIf="isRequestCompleted(matrixResponse)">
                <p class="fontsize-xxs save-as"><a href="{{getMatrixLink(matrixResponse)}}">{{getMatrixLink(matrixResponse)}}</a></p>
            </ng-container>
            <ng-container *ngIf="isRequestFailed(matrixResponse)">
                <p class="fontsize-s">An error has occurred.</p>
                <p class="fontsize-s matrix-error" [innerHTML]="matrixResponse.message"></p>
            </ng-container>
        </ng-container>
        <ng-template #selectFileType>
            <p class="fontsize-s">Select Output File Format:</p>
            <mat-radio-group [(ngModel)]="fileFormat" class="hca-radio">
                <mat-radio-button *ngFor="let fileFormat of getFileFormats(state)" [value]="fileFormat">{{fileFormat}}
                </mat-radio-button>
            </mat-radio-group>
            <mat-spinner *ngIf="!state.matrixFileFormats.length"
                         class="hca-spinner"
                         diameter="20">
            </mat-spinner>
        </ng-template>
    </div>
    <div class="hca-download-action">
        <button *ngIf="isRequestNew(state.matrixResponse)" type="button"
                (click)="onRequestMatrix(fileFormat)">Request Expression Matrix
        </button>
        <ng-container *ngIf="!isRequestNew(state.matrixResponse)">
            <mat-spinner *ngIf="isRequestInProgress(state.matrixResponse)"
                         class="hca-spinner"
                         diameter="28">
            </mat-spinner>
            <ng-container *ngIf="isRequestCompleted(state.matrixResponse) && !this.downloadAs">
                <button type="button" (click)="onDownloadMatrix(state.matrixResponse)">Download</button>
                <button type="button" (click)="onDownloadAs()">Download As</button>
                <button type="button"
                        ngxClipboard
                        [cbContent]="(getCopyToClipboardValue(state.matrixResponse))"
                        class="hca-outline-button">
                    <img src="assets/images/icon/hca-copy.png"/><span>Copy Link to Clipboard</span></button>
            </ng-container>
            <ng-container *ngIf="this.downloadAs">
                <button type="button" (click)="onDownloadAs()" class="hca-outline-button">Cancel</button>
            </ng-container>
        </ng-container>
    </div>
</div>
