/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for HCA get data requested url.
 */

@import "../../site/theme/hca.vars";

/* Copy to clipboard */
.clipboard-copy {
    align-items: center;
    cursor: pointer;
    display: flex;

    /* Copy text */
    span {
        margin: 0;
        white-space: nowrap;
    }

    /* Copy icon */
    img {
        opacity: 0.54;
        padding-right: 8px;
        width: 14px;
    }
}

/* ProjectOverviewComponent */
/* ProjectDownloadMatrixComponent */
/* ProjectMatrixTable */
/* ProjectSupplementaryLinksComponent */
:host-context(project-overview),
:host-context(project-download-manifest),
:host-context(project-matrix-download),
:host-context(project-matrix-table),
:host-context(project-supplementary-links) {

    /* Display - none */
    /* Copy icon */
    .clipboard-copy img {
        display: none;
    }

    /* Copy text */
    .clipboard-copy span {
        color: $hca-primary;
    }
}

/* ProjectSupplementaryLinksComponent */
:host-context(project-supplementary-links) {

    /* Clipboard container */
    .clipboard-copy {
        display: inline-block;
        flex: none;
    }
}
