/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for HCA get data requested url.
 */

@import "../../site/theme/hca.vars";

/* Copy to clipboard */
.clipboard-copy {
    align-items: center;
    cursor: pointer;
    display: flex;

    /* Copy text */
    span {
        margin: 0;
        white-space: nowrap;
    }

    /* Copy icon */
    mat-icon {
        color: $hca-gray-dark;
        padding-right: 8px;
    }
}

/* ProjectOverviewComponent */
/* ProjectDownloadManifestComponent */
/* ProjectDownloadMatrixComponent */
/* ProjectSupplementaryLinksComponent */
/* ReleaseFileDownloadComponent */
:host-context(project-overview),
:host-context(project-download-manifest),
:host-context(project-download-matrix),
:host-context(project-supplementary-links),
:host-context(release-files-modal) {

    /* Display - none */
    /* Copy icon */
    .clipboard-copy mat-icon {
        display: none;
    }

    /* Copy text */
    .clipboard-copy span {
        color: $hca-primary;
    }
}

/* ProjectSupplementaryLinksComponent */
:host-context(project-supplementary-links) {

    /* Clipboard container */
    .clipboard-copy {
        flex: none;
        justify-content: flex-end;
        width: 76px; /* Required to placehold space for "link copied" text */
    }
}
