/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for HCA get data requested url.
 */
@import "../../site/theme/cgl.vars";

/* Copy to clipboard */
.clipboard-copy {
    align-items: center;
    cursor: pointer;
    display: flex;

    /* Copy text */
    span {
        margin: 0;
    }

    /* Copy icon */
    mat-icon {
        color: $hca-gray-dark;
        padding-right: 8px;
    }
}

/* HCAProjectComponent TODO remove */
/* ProjectOverviewComponent */
/* ProjectDownloadManifestComponent */
/* ProjectDownloadMatrixComponent */
/* ProjectSupplementaryLinksComponent */
:host-context(hca-project), :host-context(project-overview), :host-context(project-download-manifest), :host-context(project-download-matrix), :host-context(project-supplementary-links) {

    /* Display - none */
    /* Copy icon */
    .clipboard-copy mat-icon {
        display: none;
    }

    /* Copy text */
    .clipboard-copy span {
        color: $hca-primary;
    }
}

/* HCAProjectComponent - .project-supplementary TODO remove */
:host-context(.project-supplementary) {

    flex: none;
    width: 76px; /* Required to placehold space for "link copied" text */

    /* Clipboard container */
    .clipboard-copy {
        justify-content: flex-end;
    }
}

/* ProjectSupplementaryLinksComponent */
:host-context(project-supplementary-links) {

    /* Clipboard container */
    .clipboard-copy {
        flex: none;
        justify-content: flex-end;
        width: 76px; /* Required to placehold space for "link copied" text */
    }
}
