/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Facet term list styles.
 */
@import "../../site/theme/cgl.vars";

/** Individual facet term rows (checkbox, title, count) */
:host {

    .facet-term {
        align-items: flex-start; // Align checkbox, term name and count to top (to allow for terms with long names that span multiple line)
        display: flex;
        cursor: pointer;
        padding: 6px 0;

        /* Select box */
        .chart-legend-bar {
            border: 1px solid $hca-gray-light;
            border-radius: 3px;
            flex-shrink: 0;
            height: 13px;
            margin-right: 8px;
            position: relative; /* Positions check */
            width: 13px;

            /* Check */
            mat-icon {
                color: $hca-white;
                font-size: 10px;
                height: 10px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 10px;
            }
        }

        .chart-legend-bar + .term-summary {
            margin-left: 0;
        }

        .term-summary {
            align-items: flex-start;
            display: flex; // Spit title and count (with justify-content) to be left and right aligned
            flex: 1; // Always set term and count to consume remaining space (excluding checkbox)
            justify-content: space-between;
            min-width: 0; /* Fix ellipses bleeding into count Fix ellipses bleeding into count (see https://css-tricks.com/flexbox-truncated-text/) */

            /* Select all button */
            .select-all {
                color: $hca-primary;
            }

            /* Term name */
            .term-name {
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 13px;
                flex: 1; // Always title to consume remaining space (excluding count)
            }

            /* Term count */
            .term-count {
                color: $hca-gray-dark;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 13px;
                flex-basis: 100px; // Always set width of count to 100px
                flex-shrink: 0;
                text-align: right;
            }
        }
        
        &.list-headers {
            .term-summary {
                .term-name, .term-count {
                    color: $hca-black;
                    font-weight: 500;
                }
            }
            .chart-legend-bar {
                border: 0;
            }
        }
    }

    .facet-term > .term-summary {
        margin-left: 23px;
    }
}
