/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * CGL footer nav styles.
 */

@import "../../../shared/theme/cgl.vars";

/**
 * Extra small, small - matches _cgl-footer-nav-item styles in style guide
 */
@media (max-width: $md-sm-max) {

    // Add vertical space between stacked nav items
    /deep/ cgl-footer-nav-item:not(:last-child) { // /deep/ only required for Angular (and not for style guide)
        margin-bottom: 8px;
    }
}

/**
 * Small + - matches _cgl-footer-nav-item styles in style guide
 */
@media (min-width: $md-md-min) {

    /deep/ cgl-footer-nav-item { // /deep/ only required for Angular (and not for style guide)

        // Add bullets between nav items
        & + cgl-footer-nav-item {

            &:before {
                content: "\b7";
                margin: 0 16px;
            }
        }
    }
}
