/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for display data link.
 */

/* Link */
.link {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
