/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for table.
 */
@import "../../shared/theme/cgl.vars";

:host {
    position: relative; /* Positions fade on horizontal scroll */

    /* Fade on horizontal scroll */
    &::after, &::before {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 16px;
    }

    /* Fade on horizontal scroll RHS */
    &::after {
        background: linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255,255,255,0.00) 100%); /* TODO confirm */
        right: 0;
    }

    /* Fade on horizontal scroll LHS */
    &::before {
        background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255,255,255,0.00) 100%); /* TODO confirm */
        left: 0;
    }
}

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    overflow-x: auto; /* Horizontal scroll */
    padding: 0 16px; /* Gutter 16px - margin to maintain RHS gutter in mobile view */

    /* HCA table */
    .hca-table {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 4px -16px 0;
        padding: 0 16px;

        /* Pagination */
        .pagination {
            align-items: center;
            color: $hca-gray-dark;
            display: flex;
            font-family: "Montserrat", sans-serif; /* TODO typography */
            font-size: 13px; /* TODO typography */
            font-weight: 600; /* TODO typography */
            height: 56px;
            justify-content: flex-start;
            padding: 0 10px; /* Left aligns button with table content */

            /* Pagination button */
            button {
                align-items: center;
                background-color: $hca-white;
                border: none;
                border-radius: 3px;
                color: $hca-primary;
                display: flex;
                flex-shrink: 0;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 11px; /* TODO typography */
                font-weight: 400; /* TODO typography */
                height: 38px; /* HCA specific style */
                letter-spacing: 0.34px; /* TODO typography */
                padding: 0;

                mat-icon {
                    font-size: 18px;
                    height: 18px;
                    width: 18px;
                }

                &:focus {
                    outline: none;
                }
            }

            > span {
                height: 38px; /* Matches button */
                line-height: 36px; /* Bottom aligns text with button text */
                padding: 0 16px;
            }
        }

        mat-table {
            min-width: 1140px; /* Fixed table width for horizontal scroll - snap at 1200px */
            max-width: 1140px;

            mat-row, mat-header-row {
                padding: 0 12px; /* Total left and right padding is 16px */
            }

            mat-header-row {
                border-bottom: 2px solid $hca-gray-light;
            }

            mat-row {
                border-bottom: 1px solid $hca-gray-lightest;
            }

            mat-header-cell {
                color: $hca-black;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 12px; /* TODO typography */
                font-weight: 600; /* TODO typography */
                letter-spacing: 0.36px; /* TODO typography */
                line-height: 18px; /* TODO typography */
                overflow: visible;
                position: relative; /* Positions sort arrow */

                /* File Types */
                .file-type {
                    align-items: flex-start;
                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    > div {
                        width: 100%;

                        /* Primary, secondary */
                        > span {
                            align-self: center;
                            display: inline-block;
                            font-family: "Montserrat", sans-serif; /* TODO typography */
                            font-size: 10px; /* TODO typography */
                            font-weight: 400;
                            text-align: left;
                            width: 50px;
                        }
                    }
                }
            }

            mat-cell {
                color: $hca-gray-dark;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 12px; /* TODO typography */
                font-weight: 400; /* TODO typography */
                line-height: 18px; /* TODO typography */

                /* Ellipsis on cell text */
                > div {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                /* Bio Material */
                &:first-of-type {
                    color: $hca-primary;
                    font-family: "Montserrat", sans-serif; /* TODO typography */
                    font-weight: 500; /* TODO typography */
                }

                /* File Name */
                &:nth-of-type(2) {
                    color: $hca-gray-darkest;
                    font-family: "Montserrat", sans-serif; /* TODO typography */
                    font-weight: 500; /* TODO typography */
                }
            }

            mat-cell, mat-header-cell {
                flex: none;
                flex-shrink: 0;
                padding-left: 4px;
                padding-right: 4px;

                /* Bio Material */
                &:first-of-type {
                    width: calc(10% - 8px); /* 8px for left and right padding */
                }

                /* File Name */
                &:nth-of-type(2) {
                    width: calc(10% - 8px);
                }

                /* Organ */
                &:nth-of-type(3) {
                    width: calc(10% - 8px);
                }

                /* Organ Part */
                &:nth-of-type(4) {
                    width: calc(10% - 8px);
                }

                /* Library construction */
                &:nth-of-type(5) {
                    width: calc(10% - 8px);
                }

                /* Species */
                &:nth-of-type(6) {
                    width: calc(10% - 8px);
                }

                /* Age */
                &:nth-of-type(7) {
                    width: calc(5% - 8px);
                }

                /* Sex */
                &:nth-of-type(8) {
                    width: calc(5% - 8px);
                }

                /* Disease */
                &:nth-of-type(9) {
                    width: calc(10% - 8px);
                }

                /* File Types */
                &:nth-of-type(10) {
                    width: calc(12.5% - 8px); /* 8px for left and right padding */

                    /* Primary, secondary */
                    .file-type-data {
                        align-items: center;
                        cursor: pointer;
                        display: flex;

                        > span {
                            display: inline-flex;
                            width: 50px;
                        }
                    }
                }

                /* Cell count */
                &:nth-of-type(11) {
                    width: calc(7.5% - 8px);
                }

                /* Table header text alignment */
                /deep/ .mat-sort-header-button {
                    flex: 1;
                    line-height: 18px; /* TODO typography */
                    text-align: left !important;
                }

                /* Sort icon */
                /deep/ .mat-sort-header-arrow {
                    left: -8px;
                    margin: 0;
                    position: absolute;
                }
            }
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    :host {

        /* Hide fade on larger screens */
        &::after, &::before {
            display: none;
        }
    }

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        max-width: 1140px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px; /* Gutter 30px */
    }
}

