<div class="wrapper">
    <div class="hca-table">
        <mat-table *ngIf="pagination$ | async; let pagination" #table [dataSource]="tableElementDataSource" matSort
                   matSortDirection="asc" matSortActive="specimenId"
                   (matSortChange)="sortTable(pagination, $event)">
            <ng-container matColumnDef="specimenId">
                <mat-header-cell *matHeaderCellDef class="specimen">
                    <hca-table-column-header [columnName]="'specimenId'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'A unique ID for this specimen.'"
                                             [columnSort]="true">Specimen Id
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="specimen">
                    <hca-table-cell [cellContent]="element.specimenId" [contentEllipsis]="false">
                        {{element.specimenId}}
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectTitle">
                <mat-header-cell *matHeaderCellDef class="project">
                    <hca-table-column-header [columnName]="'projectTitle'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'The project name of the data file.'"
                                             [columnSort]="true">Project Name
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell class="project" *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.projectTitle" [contentEllipsis]="false">
                        {{element.projectTitle}}
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileCount">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'fileCount'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'The count of files for this specimen.'"
                                             [columnSort]="false">File Count
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.fileCount | localeString">{{element.fileCount |
                        localeString}}
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organ">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'organ'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'The organ that the biomaterial came from. Blood and connective tissue are considered organs.'"
                                             [columnSort]="true">Organ
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.organ">{{element.organ}}</hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organPart">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'organPart'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'A term for a specific part of the organ that the biomaterial came from.'"
                                             [columnSort]="true">Organ Part
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.organPart">{{element.organPart}}</hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="libraryConstructionApproach">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'libraryConstructionApproach'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'The general method for sequencing library construction.'"
                                             [columnSort]="true">Library Construction Method
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.libraryConstructionApproach">
                        {{element.libraryConstructionApproach}}
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="genusSpecies">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'genusSpecies'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'The scientific binomial name for the species of the biomaterial.'"
                                             [columnSort]="true">Species
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.genusSpecies">{{element.genusSpecies}}</hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organismAge">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'organismAge'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'Age, measured since birth. Age unit is the unit in which age is expressed. Must be one of hour, day, week, month, or year.'"
                                             [columnSort]="true">Age
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.organismAge">{{getAge(element.organismAge,
                        element.ageUnit)}}
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="biologicalSex">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'biologicalSex'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'The biological sex of the organism. Should be one of male, female, mixed, or unknown.'"
                                             [columnSort]="true">Sex
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.biologicalSex">{{element.biologicalSex}}</hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="disease">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'disease'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'Free text describing any disease association to the cell type. Should be an EFO ontology.'"
                                             [columnSort]="true">Known Diseases
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.disease">{{element.disease}}</hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileType">
                <mat-header-cell class="file-type" *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'fileFormats'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'The format of the data file.'"
                                             [columnSort]="false">Data
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell class="file-type" *matCellDef="let element">
                    <hca-table-cell [contentEllipsis]="false" class="file-count">
                        <span>{{element.rawCount | localeString}}</span>
                        <span>{{element.processedCount | localeString}}</span>
                        <span>{{element.matrixCount | localeString}}</span>
                        <span>{{element.otherFileCount | localeString}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalCells">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'estimatedCellCount'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipDescription]="'Total estimated number of cells in biomaterial. May be 1 for well-based assays.'"
                                             [columnSort]="false">Estimated Cell Count
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [cellContent]="element.totalCells | localeString">{{element.totalCells |
                        localeString}}
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="getHeaderClass()"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                     [ngClass]="getRowClass(i)"></mat-row>
        </mat-table>
        <hca-table-data-status-placeholder [loading]="loading$ | async"
                                           [isData]="data$ | async"></hca-table-data-status-placeholder>
        <hca-table-pagination [isData]="data$ | async"></hca-table-pagination>
    </div>
</div>
