<div class="wrapper">
    <div class="hca-table">
        <mat-table *ngIf="pagination$ | async; let pagination" #table [dataSource]="tableElementDataSource" matSort
                   (matSortChange)="sortTable(pagination, $event)">
            <ng-container matColumnDef="fileName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="File name"
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">File Name</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.fileName, display15)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.fileName}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.fileName}}</div>
                        <div *ngSwitchDefault matTooltip [matTooltipDisabled]="true">{{element.fileName}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="biomaterial">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="Specimen"
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">Specimen Id</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.biomaterial, display12)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.biomaterial}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.biomaterial}}</div>
                        <div *ngSwitchDefault matTooltip [matTooltipDisabled]="true">{{element.biomaterial}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organ">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The organ that the biomaterial came from. Blood and connective tissue are considered organs."
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">Organ</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.organ, display12)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.organ}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.organ}}</div>
                        <div *ngSwitchDefault matTooltip [matTooltipDisabled]="true">{{element.organ}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organPart">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="A term for a specific part of the organ that the biomaterial came from."
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">Organ Part</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.organPart, display12)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.organPart}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.organPart}}</div>
                        <div *ngSwitchDefault matTooltip [matTooltipDisabled]="true">{{element.organPart}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="libraryConstruction">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="Library Construction"
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">Library Construction</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.libraryConstruction, display12)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.libraryConstruction}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.libraryConstruction}}</div>
                        <div *ngSwitchDefault matTooltip
                              [matTooltipDisabled]="true">{{element.libraryConstruction}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="species">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="Species"
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">Species
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.species, display10)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.species}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.species}}</div>
                        <div *ngSwitchDefault matTooltip [matTooltipDisabled]="true">{{element.species}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="age">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="Age in age_units. Measured since birth."
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">Age</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.age, display5)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.age}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.age}}</div>
                        <div *ngSwitchDefault matTooltip [matTooltipDisabled]="true">{{element.age}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ageUnit">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The unit in which age is expressed. Must be one of hour, day, week, month, or year."
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">Age Unit</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.ageUnit, display5)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.ageUnit}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.ageUnit}}</div>
                        <div *ngSwitchDefault matTooltip [matTooltipDisabled]="true">{{element.ageUnit}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sex">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The biological sex of the organism. Should be one of male, female, mixed, or unknown."
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">Sex</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.sex, display5)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.sex}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.sex}}</div>
                        <div *ngSwitchDefault matTooltip [matTooltipDisabled]="true">{{element.sex}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="diseased">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="Disease on the specimen level"
                          matTooltipPosition="below"
                          matTooltipShowDelay="2000"
                          matTooltipClass="hca-tooltip narrow">Diseased</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="isTermNameTruncated(element.diseased, display10)">
                            <div *ngSwitchCase="true"
                                  matTooltip="{{element.diseased}}"
                                  matTooltipPosition="below"
                                  matTooltipShowDelay="2000"
                                  matTooltipClass="hca-tooltip">{{element.diseased}}</div>
                        <div *ngSwitchDefault matTooltip [matTooltipDisabled]="true">{{element.diseased}}</div>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pagination$ | async; let pagination" class="pagination">
            <button type="button" (click)="previousPageSelected(pagination)">
                <mat-icon>chevron_left</mat-icon>
                <span>Back</span>
            </button>
            <span>{{getCurrentPage(pagination)}} of {{getPageCount(pagination)}}</span>
            <button type="button" (click)="nextPageSelected(pagination)">
                <span>Next</span>
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>
