/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table - sample related data.
 */
@import "../../site/theme/cgl.vars";

:host {
    height: 100%; /* Table to take up remaining space - positions mobile download banner to bottom hca-download-manifest */
    position: relative; /* Positions fade on horizontal scroll */

    /* Fade on horizontal scroll */
    &::after, &::before {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 16px;
        z-index: 8;
    }

    /* Fade on horizontal scroll RHS */
    &::after {
        background: linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255, 255, 255, 0.00) 100%); /* TODO confirm */
        right: 0;
    }

    /* Fade on horizontal scroll LHS */
    &::before {
        background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255, 255, 255, 0.00) 100%); /* TODO confirm */
        left: 0;
    }
}

/* Wrapper */
.wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: auto; /* Horizontal scroll */
    -ms-overflow-style: -ms-autohiding-scrollbar; // Hide scrollbar in IE unless actively scrolling.
    margin-top: 4px;
    padding: 0 16px; /* Gutter 16px - margin to maintain RHS gutter in mobile view */

    /* HCA table */
    .hca-table {
        margin: 0 -16px;
        padding: 0 16px;
        width: 100%; /* To take up full width of screen */

        mat-table {
            min-width: 1140px; /* Fixed table width for horizontal scroll - snap at 1200px */

            /* Row - header and cell */
            mat-header-row, mat-row {
                align-items: stretch;
            }

            mat-header-row {
                background-color: $hca-white;
                border-bottom: 2px solid $hca-gray-light;
            }

            mat-row {
                border-bottom: 1px solid $hca-gray-lightest;
            }

            /* Cell - header and cell */
            mat-header-cell, mat-cell {
                flex: 0 1 10%;
                padding: 0;

                /* Specimen Id */
                &.specimen {
                    flex: 1 0 12%;
                }

                /* Project */
                &.project {
                    flex: 0 1 20%;
                }

                &.file-type {
                    flex: none;
                }
            }

            mat-header-cell {
                align-items: flex-start;
            }

            mat-cell {
                align-items: stretch;

                .fontsize-xxs {
                    margin: 0; /* Required.  Overrides global .fontsize-xxs */
                }
            }

            .file-count span {
                display: inline-block;
                line-height: 24px; /* Matches term-count line height */
                width: 50px;
            }
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    :host {

        /* Hide fade on larger screens */
        &::after, &::before {
            display: none;
        }
    }

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        padding: 0 30px; /* Gutter 30px */

        .hca-table mat-table {

            /* Snapped header row */
            mat-header-row.snapped {
                left: 30px;
                position: fixed;
                right: 30px;
                top: 0;
                z-index: 20;
            }

            /* Snapped first row */
            mat-row.snapped {
                padding-top: 58px;
            }
        }
    }
}
