/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Custom, HCA-specific overrides of Material Design toolbar nav. Mobile first.
 */

@import "../../site/theme/hca.vars";

/**
 * Extra small, small
 */
@media (max-width: 839px) {
    :host {
        background-color: $hca-white;
        display: none;
        flex-direction: column;
        height: calc(100vh - 60px);
        left: 0;
        overflow: auto;
        padding: 12px 0;
        position: fixed;
        top: 60px;
        width: 100vw;
        z-index: 100;
    }

    /**
     * Hamburger is open - display nav
     */
    .hamburger-open {
        :host {
            display: flex;
        }
    }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 840px) {
    :host {
        display: grid;
        grid-auto-flow: column;
        gap: 0 20px;
        padding: 0;
    }
}

/**
 * Large +
 */
@media (min-width: 1200px) {
    :host {
        gap: 0 24px;
    }
}
