/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Custom, HCA-specific overrides of Material Design toolbar nav. Mobile first.
 */

@import "../../site/theme/hca.vars";

/**
 * HCA toolbar nav
 */

:host, toolbar-nav {
    display: none;
}

/**
 * Extra small, small
 */
@media (max-width: 1199px) {

    /**
     * Default state
     */
    :host, toolbar-nav {
        background-color: $hca-white;
        border-bottom: 1px solid $hca-gray-light;
        left: 0;
        padding-bottom: 12px;
        position: fixed;
        right: 0;
        text-align: center;
        top: 60px;
        z-index: 100;
    }

    /**
     * Hamburger is open - display nav
     */
    .hamburger-open {

        :host, toolbar-nav {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 60px);
            overflow: auto;
        }
    }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 1200px) {

    /* Nav - centered */
    :host, toolbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        z-index: unset;
    }
}
