<md-card class="layout-margin" [cglMenuTriggerFor]="editMenu">
    <md-card-header>
        <md-card-title>{{fileFacet.name | camelToSpace}}</md-card-title>
        <md-card-subtitle>
            <span>
                {{fileFacet.total | localeString}}
            </span>
        </md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <div class="chart-dummy"></div>
        <p class="md-body-1 secondary">No files selected.</p>
        <div *ngIf="fileFacet.moar" class="facet-more">
            <md-icon>expand_more</md-icon>
        </div>
    </md-card-content>
    <hr>
    <md-card-actions>
        <button class="cgl-button"
                md-button
                [disableRipple]="true">
            EDIT
        </button>
    </md-card-actions>
</md-card>
<md-menu #editMenu="mdMenu" [class]="'edit-menu'">
  <bw-file-facet-search-menu [fileFacetName]="fileFacet.name" (closeMenu)="onCloseMenu()"></bw-file-facet-search-menu>
</md-menu>