<mat-card class="layout-margin" [matMenuTriggerFor]="editMenu" >
    <mat-card-header>
        <mat-card-title>{{fileFacet.name | camelToSpace}}</mat-card-title>
        <mat-card-subtitle>
            <span>
                <!--{{fileFacet.total | localeString}}-->
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="chart-dummy"></div>
        <mat-form-field>
            <mat-placeholder>{{fileSearchConfig.placeholder}}</mat-placeholder>
            <input matInput type="text" disabled>
        </mat-form-field>
        <facet-term-list  *ngIf="!!fileFacet.terms.length"
                          [fileFacet]="fileFacet"
                          [useShortList]="true"
                          (facetTermSelected)="onFacetTermSelected($event)"></facet-term-list>
        <div *ngIf="fileFacet.moar" class="facet-more">
            <span class="md-caption secondary">+{{fileFacet.moarCount}}</span>
            <mat-icon>expand_more</mat-icon>
        </div>
    </mat-card-content>
</mat-card>
<mat-menu #editMenu="matMenu" [class]="'edit-menu edit-menu-tall'">
    <bw-file-facet-search-menu [fileSearchConfig]="fileSearchConfig"
                               (closeMenu)="onCloseMenu()"></bw-file-facet-search-menu>
</mat-menu>
