<div cc-stop-propagation (mouseleave)="onClickCloseMenu()">
    <div class="edit-menu-card-header">
        <h2 class="menu-title">{{(fileFacet$ | async).name | camelToSpace}}</h2>
        <div class="menu-subtitle">
            <span>
                {{(fileFacet$ | async).total | localeString}}
            </span>
            <span>
                {{(fileFacet$ | async).selectedTermCount}} /  {{(fileFacet$ | async).termCount}}
            </span>
        </div>
    </div>
    <div class="edit-menu-card-content">
        <facet-term-list [fileFacet]="fileFacet$ | async"
                         [useShortList]="false"
                         (facetTermSelected)="onFacetTermSelected($event)"></facet-term-list>
    </div>
    <div class="edit-menu-card-actions">
        <button class="cgl-button"
                mat-button
                [disableRipple]="true"
                (click)="onClickCloseMenu()">
            CLOSE
        </button>
    </div>
</div>
