<div cc-stop-propagation>
    <div class="edit-menu-card-header">
        <h2 class="menu-title">{{(fileFacet$ | async).name | camelToSpace}}</h2>
        <div class="menu-subtitle">
            <span>
                {{(fileFacet$ | async).total | localeString}}
            </span>
            <span>
                {{(fileFacet$ | async).selectedTermCount}} /  {{(fileFacet$ | async).termCount}}
            </span>
        </div>
    </div>
    <div class="edit-menu-card-content">
        <button md-menu-item
                *ngFor="let term of (fileFacet$ | async).terms"
                (click)="selectFacetTerm($event, fileFacet, term)">
            <md-icon *ngIf="!term.selected" [style.color]="term.color">check_box_outline_blank</md-icon>
            <md-icon class="term-selected" *ngIf="term.selected" [style.color]="term.color">check_box_outline</md-icon>
            <span class="with-count">
                <span class="key">{{term.name}}</span>
                <span class="count md-caption secondary">{{term.count}}</span>
            </span>
        </button>
    </div>
    <div class="edit-menu-card-actions">
        <button class="cgl-button"
                md-button
                [disableRipple]="true"
                (click)="onClickCloseMenu()">
            CLOSE
        </button>
    </div>
</div>

