/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA download manifest styles.
 */
@import "../../shared/theme/cgl.vars";

/* Download button */
button {
    align-items: center;
    background-color: $hca-secondary;
    border: none;
    border-radius: 3px;
    color: $hca-white;
    display: flex;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 14px; /* TODO typography */
    font-weight: 600; /* TODO typography */
    height: 38px; /* HCA specific style */
    letter-spacing: 0.21px; /* TODO typography */
    min-width: 84px;
    padding: 0 9px;
    white-space: nowrap;

    /* Download icon, text */
    .spacer {
        margin: 0 3px;
    }

    img {
        height: 20px;
    }

    &:hover {
        background-color: $hca-secondary-hover;
    }

    &:focus {
        outline: none;
    }
}



