<ng-container [ngSwitch]="downloadActive">
    <button *ngSwitchCase="true" (click)="onDownloadManifest()"
        matTooltip="Choose files to download as a manifest"
        matTooltipPosition="below"
        matTooltipShowDelay="500"
        matTooltipClass="hca-tooltip narrow">
    <img class="spacer" src="../../../assets/images/icon/hca-download-white.png"/>
    <span class="spacer">Download</span>
</button>
<div *ngSwitchDefault class="no-download">You will need to use a desktop to download data!</div>
</ng-container>
