/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Header toolbar actions styles.
 */

@import "../../../site/theme/hca.vars";

:host {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 12px;
    justify-content: flex-end;
}

/**
 * Custom - desktop.
 */
@media screen and (min-width: $desktop) {
    :host {
        flex: none;
        gap: 8px;
    }
}
