/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying a group of facets when contained inside a menu.
 */
@import "../../../site/theme/cgl.vars";

/* Facet group */
:host {
    background-color: $hca-white;
    border: 1px solid $hca-gray-light;
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    -ms-overflow-style: none; // IE 10+, scrollbar hidden
    overflow-y: auto; // Firefox, scrollbar hidden unless actively scrolling
    padding: 6px;
    position: absolute;
    top: 44px; /* 38px for select field + 6px below select field */
    z-index: 11;
}

// Safari and Chrome, scrollbar hidden
:host::-webkit-scrollbar {
    display: none;
}

/* Close icon */
:host mat-icon {
    font-size: 16px;
    height: 16px;
    opacity: 0.5;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: opacity 280ms cubic-bezier(.4, 0, .2, 1);
    width: 16px;
}

:host mat-icon:hover {
    opacity: 1;
}
