/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * CGL-specific overrides of Material Design toolbar.
 */

@import "../../shared/theme/cgl.vars";
@import "../../shared/theme/cgl.mixin";

/**
 * Custom CGL-specific overrides of MD toolbar.
 */

md-toolbar {

    &.subheader {

        background-color: $cgl-turquoise;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
        color: #ffffff;

        a {
            @include a-white();
            // md-body-1 start
            font-size: 14px;
            line-height: 20px;
            letter-spacing: .01em;
            // md-body-1 end
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                color: $cgl-green;
            }
        }

        // Position title to the left and links to the right
        /deep/ md-toolbar-row { /* /deep/ only required by Angular app, not generic stlye sheet */
            justify-content: space-between;
        }
    }
}