/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table cell.
 */
@import "../../site/theme/cgl.vars";

:host {
    align-items: center;
    color: $hca-gray-dark;
    display: flex; /* Required for height styles */
    margin-left: 16px;
    padding: 4px 0;
    width: calc(100% - 16px);

    hca-tooltip {
        overflow: hidden; /* Required, if ellipsis applied */
    }
}

/* Right align column contents */
:host-context(.right) {
    justify-content: flex-end;
}

/* Centers column contents */
:host-context(.center) {
    justify-content: center;
    margin: 0;
    width: 100%;
}
