/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table cell.
 */
@import "../../site/theme/cgl.vars";

:host {
    align-items: center;
    color: $hca-gray-dark;
    display: flex; /* Required for height styles */
    margin-left: 16px;
    padding: 4px 0;
    width: calc(100% - 16px);
}

/* Centers column contents - downloads only */
:host-context(.center) {
    justify-content: center;
    margin: 0; /* Downloads only */
    width: 100%;
}

/* Contents flex - direction column */
:host-context(.flex-column) {
    flex-direction: column;
    justify-content: center;
}

/* Right align column contents */
:host-context(.right) {
    justify-content: flex-end;
}
