/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for a get data layout, which is a thin layer around PopLayout.
 */

.layout-content {
    padding: 30px 0 0;
}

.layout-content-columns {
    display: flex;
    flex: 1;
    margin: 30px 0;
}

.layout-content-columns-left {
    flex: 1;
    margin-right: 60px;
    max-width: 600px;
    min-width: 338px; /* Required for snap */
}

/* Project Title */
.project-title {

    /* Project title */
    h2 {
        display: inline-block;
        margin-top: 0;
        max-width: 600px; /* TODO re-use */
    }
}

/* Spinner when state is loading */
mat-spinner {
    margin: 30px 0 0 30px;
}
