<pop-layout [tabs]="tabs" (tabSelected)="onTabSelected($event)" >
    <ng-container title>
        <ng-content select="[title]"></ng-content>
    </ng-container>
    <div class="layout-content" content *ngIf="loaded" [@fadeIn]>
        <status-panel class="project-title">
            <h2 class="fontsize-xl">{{project.projectTitle}}</h2>
        </status-panel>
        <ng-container [ngSwitch]="fullWidth">
            <ng-container *ngSwitchCase="true">
                <ng-content select="[content]"></ng-content>
            </ng-container>
            <div *ngSwitchDefault class="layout-content-columns">
                <div class="layout-content-columns-left">
                    <ng-content select="[contentLeft]"></ng-content>
                </div>
                <ng-content select="[contentRight]"></ng-content>
            </div>
        </ng-container>
    </div>
</pop-layout>
<mat-spinner *ngIf="!loaded"
             class="hca-spinner hca-spinner-grey"
             diameter="32"></mat-spinner>
