<div class="layout-column layout-padding">
    <bw-file-summary [summary]="selectFileSummary$ | async"></bw-file-summary>
    <bw-file-facets [fileFacets]="fileFacets$ | async"
                    (termSelected)="onTermSelected($event)">
    </bw-file-facets>
    <button class="cgl-fab"
            md-fab
            mdTooltip="Download Manifest"
            [mdTooltipPosition]="'before'"
            (click)="onDownloadManifest()">
        <md-icon>file_download</md-icon>
    </button>
    <!--<bw-file-search [donors]="donors$ | async"-->
                    <!--[files]="files$ | async"-->
                    <!--(search)="onSearch($event)"-->
                    <!--(termSelected)="onTermSelected($event)">-->
    <!--</bw-file-search>-->
    <!--<div *ngIf="!(manifestSummaryLoading$ | async)">-->
        <!--<bw-file-manifest-summary [manifestSummary]="manifestSummary$ | async"-->
                                  <!--(downloadManifest)="onDownloadManifest($event)">-->
        <!--</bw-file-manifest-summary>-->
    <!--</div>-->
    <!--<div>SelectFileSummaryLoading is: {{selectFileSummaryLoading$ | async}}</div>-->
    <!--<div class="file-summary" [ngSwitch]="selectFileSummaryLoading$ | async">-->
        <!--<div *ngSwitchCase="true">-->
            <!--summary loading-->
        <!--</div>-->
        <!--<div *ngSwitchDefault>-->
            <!--summary loaded-->
        <!--</div>-->
    <!--</div>-->



    <!--<div class="file-facets" [ngSwitch]="fileFacetsLoading$ | async">-->
        <!--<div *ngSwitchCase="false">-->
            <!--facets loaded-->
        <!--</div>-->
        <!--<div *ngSwitchDefault>-->
            <!--facets loading-->
        <!--</div>-->

    <!--</div>-->
</div>