/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Files component styles.
 */

@import "../shared/theme/cgl.vars";

:host {
    display: block;
    background-color: #fafafa;
    flex: 1; // Push footer to bottom of available space (inside snapper)
    padding-bottom: 92px; // Add space below table to allow for download FAB
}
