/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Files component styles.
 */

:host {
    display: block;
    height: 100%;
    background-color: #fafafa;
    overflow-y: auto; // Enable scroll if necessary
}