<div class="project-table-detail">
    <div class="wrapper">
        <div><span>Project</span><span>Census of Immune Cells</span></div>
        <div><span>Species</span><span>Homo sapiens</span></div>
        <div><span>Organ</span><span>Umbilical cord blood and bone marrow</span></div>
        <div><span>Diseased</span><span>Normal</span></div>
        <div><span>Experimental Approach</span><span>10x</span></div>
        <div>
            <span>File Type</span><span>Expression matrix, fastq, metadata, BAM, SAM, JAM, Toast, Several, Specific</span>
        </div>
        <div class="stats">
            <div class="stat"><span>Estimated Cell Count</span><span>530k</span></div>
            <div class="stat"><span>Donor Count</span><span>16</span></div>
        </div>
    </div>
</div>
<div class="project-details">
    <div class="wrapper">
        <div class="description">
            <div>Description</div>
            <div>Diverse cells of the immune system maintain and protect tissue function, integrity, and homeostasis
                upon changes in functional demands and diverse perturbations. Recent advances such as massively parallel
                single-cell RNA-sequencing and sophisticated computational methods help shed new light on this
                complexity. This immune cell census aims to profile up to 2M immunocytes, the first tranche of this is
                currently available. With computational methods optimized to a massive scale, we can readily identify
                cell types and markers, as well as the process of hematopoietic differentiation. The high quality and
                comprehensive reference map is provided as an open community resource for understanding human health and
                disease.
            </div>
        </div>
        <div class="contact">
            <div>Contact</div>
            <div>Regev Lab</div>
            <div>Broad Institute</div>
            <div>help@broadinstitute.org</div>
        </div>
        <div class="publications">
            <div>Publications</div>
            <div>Census of the Immune</div>
            <div class="link">View here</div>
        </div>
        <div class="author-list">
            <div>Author List</div>
            <div>Bo Li, Monika S Kowalczyk, Danielle Dionne, Orr Ashenberg, Marcin Tabaka, Timothy Tickle, Jane Lee,
                Karthik Shekhar, Michal Slyper, Julia Waldman, Orit Rozenblatt-Rosen, Aviv Regev.
            </div>
        </div>
        <div class="collaborating">
            <div>Collaborating Organisations</div>
            <div>Broad Institute, Massachusetts Institute of Technology, Howard Hughes Medical Institute.</div>
        </div>
    </div>
</div>
