<div>
    <div class="wrapper">
        <div class="project-highlights">
            <div>
                <p class="fontsize-xs bold lhs">Project</p>
                <p class="fontsize-xs rhs">Census of Immune Cells</p>
            </div>
            <div>
                <p class="fontsize-xs bold lhs">Species</p>
                <p class="fontsize-xs rhs">Homo sapiens</p>
            </div>
            <div>
                <p class="fontsize-xs bold lhs">Organ</p>
                <p class="fontsize-xs rhs">Umbilical cord blood and bone marrow</p>
            </div>
            <div>
                <p class="fontsize-xs bold lhs">Diseased</p>
                <p class="fontsize-xs rhs">Normal</p>
            </div>
            <div>
                <p class="fontsize-xs bold lhs">Experimental Approach</p>
                <p class="fontsize-xs rhs">10x</p>
            </div>
            <div>
                <p class="fontsize-xs bold lhs">File Type</p>
                <p class="fontsize-xs rhs">Expression matrix, fastq, metadata, BAM, SAM, JAM, Toast, Several,
                    Specific</p>
            </div>
            <div>
                <p class="fontsize-xs bold lhs">Estimated Cell Count</p>
                <p class="fontsize-xs rhs">530k</p>
            </div>
            <div>
                <p class="fontsize-xs bold lhs">Donor Count</p>
                <p class="fontsize-xs rhs">16</p>
            </div>
            <div class="stats">
                <div class="stat">
                    <p class="fontsize-xs">Estimated Cell Count</p>
                    <h3 class="fontsize-l">530k</h3>
                </div>
                <div class="stat">
                    <p class="fontsize-xs">Donor Count</p>
                    <h3 class="fontsize-l">16</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="wrapper">
        <div class="project-info">
            <div>
                <h4 class="fontsize-m">Description</h4>
                <p class="fontsize-s">Diverse cells of the immune system maintain and protect tissue function,
                    integrity, and
                    homeostasis
                    upon changes in functional demands and diverse perturbations. Recent advances such as massively
                    parallel
                    single-cell RNA-sequencing and sophisticated computational methods help shed new light on this
                    complexity. This immune cell census aims to profile up to 2M immunocytes, the first tranche of this
                    is
                    currently available. With computational methods optimized to a massive scale, we can readily
                    identify
                    cell types and markers, as well as the process of hematopoietic differentiation. The high quality
                    and
                    comprehensive reference map is provided as an open community resource for understanding human health
                    and
                    disease.
                </p>
            </div>
            <div class="lhs">
                <h4 class="fontsize-m">Contact</h4>
                <p class="fontsize-xxs">Regev Lab</p>
                <p class="fontsize-xxs">Broad Institute</p>
                <p class="fontsize-xxs">help@broadinstitute.org</p>
                <h4 class="fontsize-m">Publications</h4>
                <p class="fontsize-xxs">Census of the Immune</p>
                <p class="fontsize-xxs link">View here</p>
            </div>
            <div class="rhs">
                <h4 class="fontsize-m">Author List</h4>
                <p class="fontsize-xxs">Bo Li, Monika S Kowalczyk, Danielle Dionne, Orr Ashenberg, Marcin Tabaka,
                    Timothy Tickle,
                    Jane Lee,
                    Karthik Shekhar, Michal Slyper, Julia Waldman, Orit Rozenblatt-Rosen, Aviv Regev.</p>
                <h4 class="fontsize-m">Collaborating Organisations</h4>
                <p class="fontsize-xxs">Broad Institute, Massachusetts Institute of Technology, Howard Hughes Medical
                    Institute.</p>
            </div>
        </div>
    </div>
</div>
