/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project export to Terra.
 */

/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for HCA get manifest.
 */

@import "../../../site/theme/hca.vars";

file-type-summary-form {
    display: block;
    margin: 24px 0 32px;
    max-width: 400px;
}

/* Error message */
.error-message {
    color: $hca-orange;
    font-weight: 600;
    margin: 0 0 8px;
    min-height: 18px;
    visibility: hidden;
}

.error-message-visible {
    visibility: visible;
}
