/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for data download citation component.
 */

@import "../../site/theme/hca.vars";

/* Text */
p {
    margin: 0;
}

/* ReleaseFilesModalComponent */
:host-context(release-files-modal) {

    display: inline-block;
    padding-top: 16px;
}
