<div class="wrapper">
    <div class="hca-table">
        <mat-table *ngIf="pagination$ | async; let pagination" #table [dataSource]="tableElementDataSource" matSort
                   matSortDirection="asc" matSortActive="specimenId"
                   (matSortChange)="sortTable(pagination, $event)">
            <ng-container matColumnDef="specimenId">
                <mat-header-cell *matHeaderCellDef class="specimen">
                    <hca-table-column-header [columnName]="'specimenId'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('specimenId')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('specimenId')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="specimen">
                    <hca-table-cell [tooltipContent]="element.specimenId">
                        <span class="fontsize-xxs">{{element.specimenId}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectTitle">
                <mat-header-cell *matHeaderCellDef class="project">
                    <hca-table-column-header [columnName]="'projectTitle'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('projectTitle')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('projectTitle')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell class="project" *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.projectTitle">
                        <span class="fontsize-xxs">{{element.projectTitle}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileCount">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'fileCount'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('fileCount')"
                                             [columnSort]="false">
                        <hca-table-column-header-title>{{getColumnDisplayName('fileCount')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.fileCount | localeString"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                        <span class="fontsize-xxs" #cellContent>{{element.fileCount |
                            localeString}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sampleEntityType">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'sampleEntityType'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [columnSort]="true"
                                             [tooltipContent]="getColumnDescription('sampleEntityType')">
                        <hca-table-column-header-title>{{getColumnDisplayName('sampleEntityType')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.sampleEntityType"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.sampleEntityType}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organ">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'organ'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('organ')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('organ')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.organ" [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.organ}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organPart">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'organPart'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('organPart')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('organPart')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.organPart"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.organPart}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="selectedCellType">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'selectedCellType'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('selectedCellType')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('selectedCellType')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.selectedCellType"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.selectedCellType}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="libraryConstructionApproach">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'libraryConstructionApproach'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('libraryConstructionApproach')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('libraryConstructionApproach')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.libraryConstructionApproach"
                                    [tooltipDisabled]="true">
                        <span class="fontsize-xxs" #cellContent>{{element.libraryConstructionApproach}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="genusSpecies">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'genusSpecies'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('genusSpecies')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('genusSpecies')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.genusSpecies"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.genusSpecies}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organismAge">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'organismAge'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('organismAge')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('organismAge')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.organismAge"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs"
                                  #cellContent>{{getAge(element.organismAge, element.ageUnit)}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="biologicalSex">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'biologicalSex'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('biologicalSex')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('biologicalSex')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.biologicalSex"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.biologicalSex}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="disease">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'disease'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('disease')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('disease')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.disease"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.disease}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileType">
                <mat-header-cell class="file-type" *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'fileFormats'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('fileType')"
                                             [columnSort]="false">
                        <hca-table-column-header-title>{{getColumnDisplayName('fileType')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell class="file-type" *matCellDef="let element">
                    <hca-table-cell [tooltipDisabled]="true">
                        <div class="file-count">
                            <span class="fontsize-xxs">{{element.rawCount | localeString}}</span>
                            <span class="fontsize-xxs">{{element.processedCount | localeString}}</span>
                            <span class="fontsize-xxs">{{element.matrixCount | localeString}}</span>
                            <span class="fontsize-xxs">{{element.otherFileCount | localeString}}</span>
                        </div>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalCells">
                <mat-header-cell *matHeaderCellDef>
                    <hca-table-column-header [columnName]="'totalCells'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [domainCountVisibleForColumns]="domainCountVisibleForColumns"
                                             [tooltipContent]="getColumnDescription('totalCells')"
                                             [columnSort]="false">
                        <hca-table-column-header-title>{{getColumnDisplayName('totalCells')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <hca-table-cell [tooltipContent]="element.totalCells | localeString"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.totalCells | localeString}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="getHeaderClass(snapped)"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                     [ngClass]="getRowClass(i, snapped)"></mat-row>
        </mat-table>
        <hca-table-data-status-placeholder [loading]="loading$ | async"
                                           [isData]="data$ | async"></hca-table-data-status-placeholder>
        <hca-table-pagination [isData]="data$ | async"></hca-table-pagination>
    </div>
</div>
