/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for hca specific tooltip.
 * Overrides styles for Angular Material Tooltip (mat-tooltip).
 *
 * ViewEncapsulation is disabled - required in order to style nested material components.
 *
 */

@import "../../site/theme/hca.vars";

/* Darken text on tooltip source, on hover (table cells only) */
.cell-wrapper.enabled {
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1) 50ms;
}

.cell-wrapper.enabled:hover {
    color: $hca-black;
}

/* Styles for ellipsis on table cell only - positions tooltip centered in relation to cell content */
.cell-wrapper {
    display: inherit;
    overflow: inherit;
    text-overflow: inherit;
}

/* Tooltip styles */
.hca-tooltip {
    background: $hca-black;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 12px; /* TODO typography */
    font-weight: 500; /* TODO typography */
    letter-spacing: 0.18px; /* TODO typography */
    line-height: 16px; /* TODO typography */
    padding: 8px;
    z-index: 3;

    /* Wrap text */
    &.narrow {
        max-width: 152px !important;
    }

    /* Request tooltip */
    &.request {
        display: flex;
        max-width: 250px !important;
    }

    /* Tooltip for facet counts */
    &.count {
        margin: 0 !important;

        &:before {
            display: none;
        }
    }

    /* Force break on longer tooltips where there are no spaces */
    &.truncate {
        word-break: break-all;
    }

    .hca-tooltip span:last-of-type {
        font-size: 600px;
    }
}
