<modal-layout *ngIf="state$ | async as state"
              [loaded]="state.loaded"
              (closed)="redirectToReleases()">
    <release-title-overline overline></release-title-overline>
    <ng-container title *ngIf="state.loaded">Release Files</ng-container>
    <ng-container subtitle *ngIf="state.loaded">{{state.releaseProject.projectShortname}}</ng-container>
    <ng-container content *ngIf="state.loaded">
        <h2>
            <span>{{state.releaseDataset.developmentalStage}}, </span>
            <span>{{state.releaseDataset.organ}}, </span>
            <span>{{state.releaseDataset.libraryConstructionApproach}}</span>
        </h2>
        <p class="fontsize-s max550">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at commodo diam, vel
            iaculis elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Sed rhoncus, ante vel scelerisque eleifend, tellus leo dapibus magna, ut finibus magna velit vel leo.</p>
        <warning class="max550">
            <warning-content>
                <p class="fontsize-s">This project contains additional organs, developmental stages or technologies. <a
                        routerLink="/projects/{{state.releaseProject.entryId}}/releases/2020-mar">View project release page</a>.
                </p>
            </warning-content>
        </warning>
        <release-file class="max550" [releaseFiles]="['csv']" [releaseFileParagraph]="getFileDownloadParagraph()" [releaseFileTitle]="'File Manifest'"></release-file>
        <release-file class="max550" [releaseFiles]="['h5ad', 'loom']" [releaseFileParagraph]="getFileDownloadParagraph()" [releaseFileTitle]="'Annotated Expression Matrix'"></release-file>
        <release-file class="max550" [releaseFiles]="['ext0', 'ext1']" [releaseFileParagraph]="getFileDownloadParagraph()" [releaseFileTitle]="'Other Type 0'"></release-file>
    </ng-container>
</modal-layout>
