<modal-layout *ngIf="state$ | async as state"
              [loaded]="state.loaded"
              (closed)="redirectToReleases()">
    <ng-container title *ngIf="state.loaded">{{state.releaseDataset.datasetId}} Release Files</ng-container>
    <ng-container subtitle *ngIf="state.loaded">{{state.releaseDataset.projectShortname}}</ng-container>
    <ng-container content *ngIf="state.loaded">
        <h4 class="fontsize-l" [ngClass]="{'singleDataset': state.singleDataset}">
            <span>{{state.releaseDataset.developmentalStage}}, </span>
            <span>{{state.releaseDataset.organ}}, </span>
            <span>{{state.releaseDataset.libraryConstructionApproach}}</span>
        </h4>
        <warning *ngIf="!state.singleDataset">
            <warning-content>
                <p class="fontsize-xs">This project contains additional organs, developmental stages or technologies. <a
                        routerLink="/projects/{{state.releaseDataset.entryId}}/releases/2020-mar"
                        (click)="setReleaseReferrer()">View project release
                    page</a>.
                </p>
            </warning-content>
        </warning>
        <mat-table [dataSource]="state.releaseDataset.files">
            <ng-container matColumnDef="download">
                <mat-cell *matCellDef="let element" class="download fontsize-xxs">
                    <a [href]="getReleaseFileUrl(element.url)" (click)="trackDownload(state.releaseDataset, element)"></a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-cell *matCellDef="let element" class="description">
                    <span class="fontsize-s">{{element.url}}</span>
                    <span class="fontsize-xxs">{{element.description}}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="copyLink">
                <mat-cell *matCellDef="let element" class="copy-to-clipboard fontsize-xxs">
                    <copy-to-clipboard [copyToClipboardLink]="getReleaseFileUrl(element.url)"
                                       (copyClicked)="trackReleaseFileUrlCopied(state.releaseDataset, element)"></copy-to-clipboard>
                </mat-cell>
            </ng-container>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        </mat-table>
        <data-download-citation></data-download-citation>
    </ng-container>
</modal-layout>
