/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for release files modal.
 */

@import "../../../site/theme/hca.vars";

/* Title */
h4 {
    margin-bottom: 12px;
}

.singleDataset h4 {
    margin-bottom: 24px;
}

/* Subtitle */
h4 span {
    text-transform: capitalize;
}

/* Cell class "fontsize-..." */
/* Warning - content */
/* mat-cell */
warning-content .fontsize-xs, mat-table mat-cell, mat-table mat-cell.fontsize-xxs {
    margin: 0; /* Overrides class "fontsize-..." margin */
}

/* Table */
mat-table {

    /* Cell row */
    mat-row {
        border-bottom: 1px solid $hca-gray-lightest;
        flex-wrap: wrap;
        min-height: 32px;
        padding: 8px 0;
    }
    
    mat-row:first-child {
        border-top: 1px solid #EAEAEA
    }

    /* Cell */
    mat-cell {
        color: $hca-black;
        flex: 1;
        padding: 0 12px;
    }

    /* Download */
    .download {
        min-width: 16px; /* Required to maintain column alignments */
        padding-right: 0;

        /* Icon */
        > a {
            background: url("assets/images/icon/download-primary.png") center no-repeat;
            background-size: contain;
            cursor: pointer;
            flex: none;
            height: 16px;
            margin-bottom: 4px; /* Required to bottom align icon with file download text */
            width: 16px;
        }

        /* File text */
        > span {
            margin-left: 8px;
        }
    }

    /* Description */
    .description {
        align-items: flex-start;
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        .fontsize-s {
            font-weight: 500;
            margin-bottom: 0;
        }
    }

    /* Copy to clipboard */
    .copy-to-clipboard {
        min-width: 72px; /* Copy Link and Link Copied */
    }
}

/**
 * Small Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {

    /* Table */
    mat-table {

        /* Cell row */
        mat-row {
            flex-wrap: nowrap;
            min-height: 40px;
            padding: 4px 0;
        }

        /* Description */
        .description {
            flex-basis: 80%;
        }
    }
}
