<form [formGroup]="ageRangeGroup" [ngClass]="{'min-max-error': isMinMaxError(ageRangeGroup)}" (ngSubmit)="onApply(ageRangeGroup)">
    <p [ngClass]="{'error-message fontsize-xxs': true, 'show': isMinMaxError(ageRangeGroup)}">Max age must be greater than min age.</p>
    <label>
        <span class="fontsize-xs semi-bold">Age unit</span>
        <mat-radio-group class="hca-radio term" formControlName="ageUnit">
            <mat-radio-button value="week">week</mat-radio-button>
            <mat-radio-button value="month">month</mat-radio-button>
            <mat-radio-button value="year">year</mat-radio-button>
        </mat-radio-group>
    </label>
    <label>
        <span class="fontsize-xs semi-bold">Min age</span>
        <input type="number" placeholder="e.g. 1" formControlName="ageMin">
    </label>
    <label>
        <span class="fontsize-xs semi-bold">Max age</span>
        <input type="number" placeholder="e.g. 2" formControlName="ageMax">
    </label>
    <div class="actions">
            <button class="apply"
                    type="submit"
                    [ngClass]="{'pristine': pristine}"
                    [disabled]="!isSubmittable(ageRangeGroup)">Apply</button>
        <button class="clear"
                type="button"
                [disabled]="!isClearable(ageRange)"
                (click)="onClearAgeRange(ageRangeGroup, ageRange)">Clear</button>
    </div>
</form>
