/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facet (grid item) styles.
 */
@import "../../shared/theme/cgl.vars";

:host {

    mat-card {

        cursor: pointer; // Entire card is clickable

        /** Override MD default padding, for all device sizes */
        padding: 24px 16px !important;
        
        /deep/ .mat-card-header {
            margin: 0 8px 8px 8px;
        }

        /** Force header text to be full width, required for right-aligning the selected facet term count in the subtitle */
        /deep/ .mat-card-header-text {
            flex: 1;
            height: 40px; /* Required to match MD 2.0.0-beta.1 md-card-header-text specification, which then allows file-facet-menu card to overlay with correct height proportions */
            margin: 0; // Remove MD's default left/right margin
        }

        /** Right align selected facet term count in subtitle */
        /deep/ mat-card-subtitle {
            display: flex;
            justify-content: space-between;
        }

        /** Add min height to card content for consistent card height **/
        /deep/ mat-card-content {
            margin: 8px 8px 0;
            min-height: 256px; /* For display of 10 terms at 200px total, 16px chart, 40px plus more */
            position: relative; /** Required for positioning of caret */

            .chart-dummy {
                background-color: rgba(0, 0, 0, 0.06);
                height: 8px;
                margin-left: -24px;
                margin-right: -24px;
            }

            &.term-list-3 {
                min-height: 120px;
            }

            &.term-list-4 {
                min-height: 140px;
            }

            &.term-list-5 {
                min-height: 160px;
            }

            &.term-list-6 {
                min-height: 180px;
            }

            &.term-list-7 {
                min-height: 200px;
            }

            &.term-list-8 {
                min-height: 220px;
            }

            &.term-list-9 {
                min-height: 240px;
            }

            &.term-list-10 {
                min-height: 256px;
            }
        }

        /** "More" option at bottom of facet term rows */
        .facet-more {

            align-items: center;
            bottom: 0;
            display: flex;
            justify-content: flex-end;
            margin-top: 16px;
            position: absolute;
            right: 0;
        }

        /** Divider above footer */
        hr {
            margin: 16px -16px -8px;
        }

        /** Override default MD margin left/right to align buttons with checkboxes */
        mat-card-actions {
            margin-left: -16px;
            margin-right: -16px;
        }
    }
}

/* TODO - DAVE - need this for full width only */
///deep/ .cdk-overlay-pane {
//    left: 16px !important;
//    right: 16px !important;
//    top: 188px !important;
//}

/**
 * XS only
 */
@media (max-width: $md-xs-max) {

    :host {

        mat-card {

            margin: 0 0 16px; // Add margin bottom to stacked cards TODO revisit - why is layout-margin applied to XS?

            /** Override MD default margin bottom */
            /deep/ .mat-card-header {
                margin-bottom: 16px;
            }
        }
    }
}
