<mat-card>
    <mat-card-header>
        <mat-card-title>{{fileFacet.name | camelToSpace}}</mat-card-title>
        <mat-card-subtitle>
            <span matTooltip="{{getFileCountTooltip(fileFacet)}}" [matTooltipPosition]="'above'">
                {{fileFacet.total | localeString}}
            </span>
            <span matTooltip="{{getFacetTermCountTooltip(fileFacet)}}" [matTooltipPosition]="'above'">
                {{fileFacet.selectedTermCount}} /  {{fileFacet.termCount}}
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ng-container [ngSwitch]="!fileFacet.terms.length">
            <div class="chart-dummy" *ngSwitchCase="true"></div>
            <ng-container *ngSwitchDefault>
                <facet-term-chart [chartData]="getFacetTermChartData(fileFacet)"></facet-term-chart>
                <facet-term-list [fileFacet]="fileFacet"
                                 [useShortList]="true"
                                 (facetTermSelected)="onFacetTermSelected($event)"></facet-term-list>
            </ng-container>
        </ng-container>
        <div *ngIf="fileFacet.moar" class="facet-more">
            <span class="md-caption secondary"  matTooltip="'View All Terms'" [matTooltipPosition]="'above'">+{{fileFacet.moarCount}}</span>
            <mat-icon>expand_more</mat-icon>
        </div>
    </mat-card-content>
</mat-card>
