<md-card class="layout-margin" [mdMenuTriggerFor]="editMenu">
    <md-card-header>
        <md-card-title>{{fileFacet.name | camelToSpace}}</md-card-title>
        <md-card-subtitle>
            <span>
                {{fileFacet.total | localeString}}
            </span>
            <span>
                {{fileFacet.selectedTermCount}} /  {{fileFacet.termCount}}
            </span>
        </md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <div [ngSwitch]="fileFacet.interfaceType">
            <div class="chart-dummy" *ngSwitchCase="'SEARCH'"></div>
            <facet-term-chart [chartData]="getFacetTermChartData(fileFacet)" *ngSwitchDefault></facet-term-chart>
        </div>
        <facet-term-list *ngIf="!isInterfaceTypeSearch(fileFacet)"
                         [fileFacet]="fileFacet"
                         [useShortList]="true"
                         (facetTermSelected)="onFacetTermSelected($event)"></facet-term-list>
        <p class="md-body-1 secondary" *ngIf="isInterfaceTypeSearch(fileFacet)">No files selected.</p>
        <div *ngIf="fileFacet.moar" class="facet-more">
            <span class="md-caption secondary">+{{fileFacet.moarCount}}</span>
            <md-icon>expand_more</md-icon>
        </div>
    </md-card-content>
</md-card>
<md-menu #editMenu="mdMenu" [class]="'edit-menu'">
    <bw-file-facet-menu [fileFacetName]="fileFacet.name" (closeMenu)="onCloseMenu()"></bw-file-facet-menu>
</md-menu>




