/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table header label.
 */

@import "../../site/theme/hca.vars";

:host {
    align-items: flex-start; /* Default left aligned */
    display: flex; /* Required for height styles */
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

/* Right align header content if column is right aligned */
:host-context(.right) {
    align-items: flex-end;
}

/* Center header if column is centered */
:host-context(.center) {
    align-items: center;
}
