/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA tab styles.
 */
@import "../../shared/theme/cgl.vars";

:host {
    border-bottom: 1px solid $hca-gray-light; /* Tab line */
    display: block;

    /* Wrapper */
    .wrapper {
        align-items: center;
        display: flex;
        margin: 0 auto;
        padding: 0 16px; /* Gutter 16px */

        /* Tab list */
        .hca-tab-list {
            align-items: flex-end;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin: 24px -16px 0;
            overflow-x: auto; /* Horizontal scroll */
            overflow-y: hidden;

            &::-webkit-scrollbar {
                display: none;
            }

            /* Tab */
            .hca-tab {
                box-sizing: border-box;
                color: $hca-gray-medium;
                cursor: pointer;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 15px; /* TODO typography */
                font-weight: 500; /* TODO typography */
                height: 30px;
                line-height: 30px;
                margin: 0 16px;
                position: relative; /* Horizontal scroll - last tab - RHS gutter */
                white-space: nowrap; /* Horizontal scroll */

                /* Active tab */
                &.active {
                    border-bottom: 3px solid $hca-secondary;
                    color: $hca-black;
                }

                /* Disabled tab */
                &.disabled {
                    cursor: auto;
                    color: $hca-gray-lightest;
                }

                /* Last tab - on horizontal scroll - mimics gutter for RHS */
                &:last-of-type:after {
                    bottom: -3px;
                    content: "";
                    height: 3px;
                    position: absolute;
                    width: 16px; /* 16px padding on tab */
                }
            }
        }
    }
}

/* hca-project component */
:host-context(.project-detail) {

    /* Back to projects */
    .wrapper .hca-tab-list .hca-tab:first-of-type {
        border-bottom: none;
        color: $hca-gray-medium;
        display: flex;

        &:before {
            content: "\e314";
            display: inline-flex;
            font-family: "Material Icons";
            margin-left: -5px;
        }

        &:hover {
            color: $hca-black;
        }
    }

}

/**
 * Tablet +
 */
@media screen and (min-width: 768px) {

    /* hca-project component */
    :host-context(.project-detail) {

        .wrapper {
            max-width: 636px; /* 668px total width and 16px padding, in keeping with hca-project component */
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    :host {

        /* Wrapper */
        .wrapper {
            //max-width: 1140px; /* Snap to 1200px, gutter 30px */
            padding: 0 30px;
        }
    }
}
