/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying Terra registration information page.
 */

@import "../../site/theme/hca.vars";
@import "../../site/theme/hca.global";

:host {
    flex: 1;
}

/* Content */
.content {
    margin: 0 auto;
    max-width: 650px;
    padding: 36px 0;

    p {
        margin: 0 0 6px;
    }
    
    .content-button {
        margin: 16px 0;
    }
    
    .button.primary.anchor-button.button-terra {
        background: url("assets/terra/logo-terra.png") 8px / 24px 24px no-repeat;
        background-color: $hca-white;
        border: 2px solid $hca-gray-lightest;
        color: $hca-gray-dark;
        padding-left: 40px;
        transition: border-color 280ms cubic-bezier(.4, 0, .2, 1) !important;
    }

    .button.primary.anchor-button.button-terra:hover {
        background-color: $hca-white;
        border-color: $hca-gray-light;
    }
    
    .button-as-anchor {
        @include a-primary();
        background: transparent;
        border: 0;
        font-family: inherit;
        font-size: inherit;
        padding: 0;
    }

    /* Link */
    .link {
        color: $hca-primary;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}
