/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying Terra registration information page.
 */

@import "../../site/theme/hca.vars";
@import "../../site/theme/hca.global";

:host {
    flex: 1;
}

/* Content */
.content {
    margin: 0 auto;
    max-width: 650px;
    padding: 36px 0;

    p {
        margin: 0 0 6px;
    }
    
    .content-button {
        margin: 16px 0;
    }

    /* Link */
    .link {
        color: $hca-primary;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}
