<pop-layout>
    <ng-container title>Terra Registration Required</ng-container>
    <ng-container content>
        <div class="content">
            <h2 class="fontsize-xl">To complete your registration, register with Terra</h2>
            <p class="fontsize-m">Thank you for registering with the Human Cell Atlas Data Portal.</p>
            <p class="fontsize-m">To complete your registration, we require that you also register with Terra using the
                same Google ID you used to register with the Data Portal.</p>
            <div class="content-button">
                <a [href]="getRegistrationUrl()" class="button primary anchor-button">Register with Terra</a>
            </div>
            <p class="fontsize-m">Once you have registered with Terra you will be able to view open
                access data along with any managed access data you are authorized to access.</p>
        </div>
    </ng-container>
</pop-layout>
