/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Mixins, use by including this file into individual component style sheets.
 */

@import "cgl.vars";

/**
 * Anchor elements, as well as clickable elements styled as anchors.
 */

@mixin a-primary() {
    color: $cgl-turquoise;
    &:hover {
        color: $cgl-peach;
    }
}

@mixin a-green() {
    color: $cgl-green;
    &:hover {
        color: $cgl-turquoise;
    }
}

@mixin a-white() {
    color: #ffffff;
    &:hover {
        color: $cgl-turquoise;
    }
}