/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Global styles, specific to CGL. Included in core cgl.theme style sheet.
 */

@import "cgl.vars";
@import "cgl.mixin";

a {
    @include a-primary();
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important; /** important required for overriding MD **/
}

/**
 * List elements.
 */

ul {

    // Position bullets inline (vertically) with text
    margin-bottom: 1.6rem;
    padding-left: 1.6rem;

    li:not(:last-child) {
        margin-bottom: 0.8rem;
    }
}

/**
 * Typography
 */

/** Add "missing" typography styles to match Sketch option for md-caption */
.md-caption {
    &.secondary {
        color: rgba(0, 0, 0, 0.54);
    }
}

/** Add "missing" typography styles to match Sketch option for md-subhead */
.md-subhead {
    &.secondary {
        color: rgba(0, 0, 0, 0.54);
    }
}

/**
* Horizontal rule
*/

hr {
    background-color: rgba(0, 0, 0, 0.12); // MD divider
    border: 0;
    height: 1px;
}

/**
 * Buttons
 */

/** Style and position global FAB TODO(theme) background color spec is no longer necessary once CGL theme is implemented */
$cgl-fab-gutter-xs: 16px;
$cgl-fab-gutter-gt-xs: 24px;
.cgl-fab {
    background-color: $cgl-turquoise;
    bottom: $cgl-fab-gutter-xs + 380px; /* +380 for stacked footer */
    right: $cgl-fab-gutter-xs;
    /** Use specific selector to overide MD defaults */
    &[md-fab] {
        color: #ffffff;
        position: fixed;
    }
}


/**
 * Small, small+
 */
@media (min-width: $md-sm-min) {

    /** Update gutter width for small devices and above */
    .cgl-fab {
        bottom: $cgl-fab-gutter-gt-xs + 176px; /* +176 for inline footer */
        right: $cgl-fab-gutter-gt-xs;
    }
}