/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Global styles, specific to CGL. Included in core cgl.theme style sheet.
 */

@import "cgl.vars";
@import "cgl.mixin";

a {
    @include a-primary();
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important; /** important required for overriding MD **/
}

/**
 * List elements.
 */

ul {

    // Position bullets inline (vertically) with text
    margin-bottom: 1.6rem;
    padding-left: 1.6rem;

    li:not(:last-child) {
        margin-bottom: 0.8rem;
    }
}

/**
 * Typography
 */

/** Add "missing" typography styles to match Sketch options */
.md-caption {
    &.secondary {
        color: rgba(0, 0, 0, 0.54);
    }
}

/**
* Horizontal rule
*/

hr {
    background-color: rgba(0, 0, 0, 0.12); // MD divider
    border: 0;
    height: 1px;
}