/**
 * UCSC Boardwalk Material Design theme -
 *
 * Primary palette: blue
 * Accent palette: light blue
 * Warning palette: red
 *
 * Theme based on instructions found at: https://github.com/angular/material2/blob/master/docs/theming.md
 */
@import "~@angular/material/theming";

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Palettes definitions for theme using the Material Design palettes available in palette.scss
// (imported above).
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-light-blue, A200, A100, A400);
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($app-theme);

// Include global CGL styles.
@import "cgl.global";

/* Overrides styles for Angular Material Tooltip (mat-tooltip) */
/* HCA tooltip */
.hca-tooltip {
    background: $hca-black;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 12px; /* TODO typography */
    font-weight: 500; /* TODO typography */
    letter-spacing: 0.18px; /* TODO typography */
    line-height: 16px; /* TODO typography */
    max-width: none !important;
    padding: 8px;
    position: relative; /* Positions tooltip arrow */
    z-index: 3;

    /* Wrap text */
    &.narrow {
        max-width: 152px !important;
    }

    /* Tooltip for counts */
    &.count {
        margin: 0 !important;

        &:before {
            display: none;
        }
    }

    /* Force break on longer tooltips where there are no spaces */
    &.truncate {
        word-break: break-all;
    }
}

/* Overrides styles for Angular Material Dialog (backdrop) */
.hca-form-backdrop {
    opacity: 1 !important;
    background-color: rgba($hca-white, 0.9);
    top: 0;
}

/* Overrides styles for Angular Material Dialog (mat-dialog-container) */
.hca-form-dialog .mat-dialog-container {
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

/* Overrides styles for Angular Spinner (mat-spinner) */
.hca-spinner circle {
    stroke: $hca-secondary;
}

/* Overrides styles for Angular Radio Button (mat-radio-button) */
.hca-radio .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $hca-secondary;
}

/* Overrides styles for Angular Radio Button (mat-radio-button) */
.hca-radio .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $hca-secondary;
}

.hca-radio .mat-radio-label {
    text-transform: capitalize;
}
