/**
 * UCSC Boardwalk Material Design theme -
 *
 * Primary palette: blue
 * Accent palette: light blue
 * Warning palette: red
 *
 * Theme based on instructions found at: https://github.com/angular/material2/blob/master/docs/theming.md
 */

@import "~@angular/material/theming";

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Palettes definitions for theme using the Material Design palettes available in palette.scss
// (imported above).
$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-light-blue, A200, A100, A400);
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($app-theme);

// Include global CGL styles.
@import "cgl.global";