/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * HCA project detail styles.
 */
@import "../../site/theme/cgl.vars";

:host {
    flex: 1;
}

/* <hca-tab> nested underneath <hca-section-title> */
hca-section-title + hca-tab {
    margin-top: -24px;
}

/* Wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 16px; /* Gutter 16px */

    /* Project overview */
    .project-overview {
        display: flex;
        flex: 1;
        flex-direction: column-reverse;
        margin-bottom: 36px;
    }

    /* Project title */
    h2 {
        margin: 0;
        max-width: 500px;
        padding: 30px 0 8px;
    }

    /* Project group heading */
    h4 {
        margin: 32px 0 12px;
        width: 100%;
    }

    /* All <p> tag */
    p {
        align-items: center;
        display: flex;
        margin: 0;
        width: 100%;

        /* Link */
        .link {
            color: $hca-primary;
            cursor: pointer;
            font: inherit;
        }

        /* Download */
        img {
            cursor: pointer;
            height: 20px;
            opacity: 0.38;
        }

        /* Download text */
        a + span, img + span {
            padding: 0 24px 0 8px;
        }
    }

    /* Project Title */
    .project-title {
        padding-bottom: 16px;
        position: relative; /* Positions separator */
        width: 100%;

        /* Select project */
        .select-project {
            align-items: center;
            cursor: pointer;
            display: flex;

            /* Select box */
            .chart-legend-bar {
                border: 1px solid $hca-gray-light;
                border-radius: 3px;
                flex-shrink: 0;
                height: 13px;
                margin-right: 8px;
                position: relative; /* Positions check */
                width: 13px;

                /* Check */
                mat-icon {
                    color: $hca-white;
                    font-size: 10px;
                    height: 10px;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 10px;
                }
            }

            /* Select text */
            span {
                color: $hca-secondary;
                margin: 0;
            }
        }

        /* Separator */
        &:after {
            background-color: $hca-gray-lightest;
            border-radius: 4px;
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            position: absolute;
            width: 84px;
        }
    }

    /* Project details */
    .project-details {
        display: flex;
        flex-wrap: wrap;

        > div {

            /* Contacts, publications */
            .details {
                padding-top: 8px;
            }

            /* Contacts, publications - first list */
            h4 + .details {
                padding-top: 0;
            }
        }
    }

    /* Project downloads, snapshot, accessions etc. */
    .project-snapshot, .project-accessions, .project-downloads, .project-counts, .project-views, .project-workflows {

        /* Row - excludes last row in each group */
        > div:not(:last-child) {
            margin-bottom: 8px;
        }

        /* Row */
        > div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
        }
    }

    /* LHS container */
    .lhs {
        box-sizing: border-box;
        width: 100%;
    }

    /* RHS container */
    .rhs {
        box-sizing: border-box;
        width: 100%;
    }
}

/**
 * Small Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {

    .wrapper {

        /* LHS container */
        .lhs {
            max-width: 220px;
        }

        /* RHS container */
        .rhs {
            flex: 1;
            max-width: 400px;
            padding-left: 16px;
        }

        /* Project downloads, snapshot, accessions etc. */
        .project-snapshot, .project-accessions, .project-downloads, .project-counts, .project-views, .project-workflows {

            /* Row */
            > div {
                flex-direction: row;
            }
        }
    }
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

    .wrapper {

        /* Project overview */
        .project-overview {
            flex-direction: row;
        }

        /* First column */
        .project-overview > div:first-of-type {
            flex: 1;
            max-width: 450px;
        }

        /* Second column */
        .project-overview > div:last-of-type {
            flex: 1;

            > div {
                margin-left: 44px;
            }
        }

        /* Project group heading */
        h4 {
            margin: 24px 0 16px;
        }
    }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 1200px) {

    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 30px; /* Gutter 30px */

        /* First column */
        .project-overview > div:first-of-type {
            flex: unset;
            max-width: 550px;
        }
    }
}

/**
 * xLarge +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1920px) {

    .wrapper {

        /* First column */
        .project-overview > div:first-of-type, .project-overview > div:last-of-type > div {
            max-width: 650px;
        }

        /* Second column */
        .project-overview > div:last-of-type {
            display: flex;

            > div {
                flex: 1;
                margin-left: 60px;
            }
        }
    }
}
