/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA project table detail styles.
 */
@import "../../shared/theme/cgl.vars";

:host {

    /* Separator between project highlights and description / author */
    > div > div:first-of-type {
        border-bottom: 1px solid $hca-gray-light;
    }

    /* Wrapper */
    .wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0 16px; /* Gutter 16px */
        position: relative; /* Positions stats */
    }

    /* LHS container */
    .lhs {
        box-sizing: border-box;
        width: 100%;
    }

    /* RHS container */
    .rhs {
        box-sizing: border-box;
        width: 100%;
    }

    /* Project highlights */
    .project-highlights {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 36px 0;
        position: relative; /* Positions stats */
        width: 100%;

        /* Row - excludes stats */
        > div:not(.stats) {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            padding: 4px 0;
            width: 100%;

            /* Heading and content */
            p {
                margin: 0;
            }
        }

        /* Stats - hidden */
        .stats {
            display: none;
            flex-direction: column;
            left: 0;
            position: absolute;
            top: 0;

            /* Stat */
            .stat {
                display: flex;
                flex-direction: column;
                padding-bottom: 16px;
                width: 76px;

                p, h3 {
                    margin: 0;
                }
            }
        }
    }
}

/* Description, author and collaborators list, publications, contact */
.project-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 36px;
    width: 100%;

    > div {

        /* Heading */
        h4.m {
            margin-top: 36px;
        }

        /* Content */
        p {
            margin: 0;

            /* Link */
            .link {
                color: $hca-primary;
                cursor: pointer;
                font: inherit;
            }
        }

        /* Contacts, publications */
        .details {
            padding-top: 8px;
        }

        /* Contacts, publications - first list */
        h4 + .details {
            padding-top: 0;
        }


        /* RHS heading and content */
        &.rhs p, &.rhs h4.m {
            max-width: 256px;
        }
    }
}

/**
 * Tablet +
 */
@media screen and (min-width: 768px) {

    :host {

        /* LHS container */
        .lhs {
            max-width: 220px;
        }

        /* RHS container */
        .rhs {
            max-width: calc(100% - 220px);
        }

        /* Project highlights */
        .project-highlights {

            /* Row - excludes stats */
            > div:not(.stats) {
                flex-direction: row;
                max-width: 668px;

                /* Heading and content */
                p {
                    padding: 0 16px;
                }
            }
        }

        /* Description, author and collaborators list, publications, contact */
        .project-info {
            max-width: 668px;

            > div {
                padding: 0 16px;
            }
        }
    }
}

/**
 * Medium +
 */
@media screen and (min-width: 1024px) {

    :host {

        /* Project highlights */
        .project-highlights {

            > div {

                /* Hide - estimated and donor count */
                &:nth-of-type(n+7):not(.stats) {
                    display: none;
                }
            }

            /* Show stats */
            .stats {
                display: flex;
            }
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    :host {

        /* Wrapper */
        .wrapper {
            //max-width: 1140px; /* Snap to 1200px, gutter 30px */
            padding: 0 30px;
        }
    }
}
