/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA project table detail styles.
 */
@import "../../shared/theme/cgl.vars";

:host {

    /* Separator between project highlights and description / author */
    > div > div:first-of-type {
        border-bottom: 1px solid $hca-gray-light;
    }

    /* Wrapper */
    .wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0 16px; /* Gutter 16px */
    }

    /* LHS container */
    .lhs {
        box-sizing: border-box;
        width: 100%;
    }

    /* RHS container */
    .rhs {
        box-sizing: border-box;
        width: 100%;
    }

    /* Project highlights */
    .project-highlights {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 36px 0;
        width: 100%;

        /* Row */
        > div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            padding: 4px 0;
            width: 100%;

            /* Heading and content */
            p {
                margin: 0;
            }

            /* Add project to selected facets */
            .add-project {
                color: $hca-gray-medium;
                cursor: pointer;
            }
        }
    }
}

/* Description, author and collaborators list, publications, contact */
.project-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 36px;
    width: 100%;

    > div {

        /* Heading */
        h4.fontsize-m {
            margin-top: 36px;
        }

        /* Content */
        p {
            margin: 0;

            /* Link */
            .link {
                color: $hca-primary;
                cursor: pointer;
                font: inherit;
            }
        }

        /* Contacts, publications */
        .details {
            padding-top: 8px;
        }

        /* Contacts, publications - first list */
        h4 + .details {
            padding-top: 0;
        }

        /* RHS heading and content */
        &.rhs p, &.rhs h4.fontsize-m {
            max-width: 272px;
        }
    }
}

/**
 * Tablet +
 */
@media screen and (min-width: 768px) {

    :host {

        /* LHS container */
        .lhs {
            max-width: 240px;
        }

        /* RHS container */
        .rhs {
            max-width: calc(100% - 240px);
        }

        /* Project highlights */
        .project-highlights {

            /* Row */
            > div {
                flex-direction: row;
                max-width: 688px;

                /* Heading and content */
                p {
                    padding: 0 16px;
                }
            }
        }

        /* Description, author and collaborators list, publications, contact */
        .project-info {
            max-width: 688px;

            > div {
                padding: 0 16px;
            }
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    :host {

        /* Wrapper */
        .wrapper {
            padding: 0 30px;
        }
    }
}
