<ng-container *ngIf="state$ | async as state">
    <ng-container [ngSwitch]="isV2()">
        <ng-container *ngSwitchCase="true">
            <h2 class="fontsize-xl">Project Matrices</h2>
            <project-download-generated-matrix
                    [project]="state.project"></project-download-generated-matrix>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <h2 class="fontsize-xl">Expression Matrices</h2>
            <project-download-matrix
                    class="max600"
                    [classFontName]="'fontsize-s'"
                    [projectMatrixUrls]="state.projectMatrixUrls"
                    [projectTitle]="state.project.projectTitle"></project-download-matrix>            
        </ng-container>
    </ng-container>
</ng-container>
