<div class="matrix" *ngIf="state$ | async as state">
    <ng-container [ngSwitch]="state.matrixUrlRequestStatus">
        <!-- Matrix not started -->
        <ng-container *ngSwitchCase="getStatusNotStarted()">
            <matrix-url-request-form [fileFormats]="getFileFormats(state.matrixFileFormats)"
                                     [matrixPartialQueryMatch]="state.matrixPartialQueryMatch"
                                     [matrixPartialQueryMatchCompleted]="state.matrixPartialQueryMatchCompleted"
                                     (matrixUrlRequested)="onMatrixUrlRequested($event)"></matrix-url-request-form>
        </ng-container>
        <!-- Matrix manifest in progress -->
        <ng-container *ngSwitchCase="getStatusManifestInProgress()">
            <hca-get-data-panel [loading]="true">
                <h4 class="fontsize-m semi-bold">Your Expression Matrix is Being Prepared</h4>
                <p class="fontsize-m">This can take several minutes to an hour or more depending on the size of the
                    request. Please leave this browser window open during processing.</p>
            </hca-get-data-panel>
        </ng-container>
        <!-- Matrix request/s in progress/failed/completed -->
        <ng-container *ngSwitchDefault>
            <ng-container *ngFor="let matrixUrlRequest of state.matrixUrlRequests">
                <matrix-url-request-progress [matrixUrlRequest]="matrixUrlRequest"></matrix-url-request-progress>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
