/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for HCA get matrix.
 */
@import "../../../site/theme/cgl.vars";

.matrix {

    /* File format */
    .file-format {
        margin: 24px 0 32px;

        mat-radio-group {
            display: flex;
            margin-top: 8px;
        }

        mat-radio-button {
            padding-right: 16px;
        }
    }

    .file-name.semi-bold {
        font-weight: 500;
    }

    /* Error message */
    .error-message {
        background-color: $hca-off-white;
        border: 3px;
        padding: 8px;
        margin: 24px 0 32px;
        width: fit-content;
    }
}
