<div class="matrix" *ngIf="state$ | async as state">
    <ng-container [ngSwitch]="true">
        <!-- Matrix not started -->
        <ng-container *ngSwitchCase="isMatrixUrlRequestStatusNotStarted(state.matrixUrlRequestStatus)">
            <matrix-url-request-form [fileFormats]="getFileFormats(state.matrixFileFormats)"
                                     [matrixPartialQueryMatch]="state.matrixPartialQueryMatch"
                                     [matrixPartialQueryMatchCompleted]="state.matrixPartialQueryMatchCompleted"
                                     (matrixUrlRequested)="onMatrixUrlRequested($event)"></matrix-url-request-form>
        </ng-container>
        <!-- Matrix manifest in progress/in progress -->
        <ng-container
                *ngSwitchCase="isMatrixUrlRequestStatusManifestInProgress(state.matrixUrlRequestStatus) || isMatrixUrlRequestStatusInProgress(state.matrixUrlRequestStatus)">
            <hca-get-data-panel [loading]="true">
                <h4 class="fontsize-m semi-bold">Your Expression Matrix is Being Prepared</h4>
                <p class="fontsize-m">This can take several minutes to an hour or more depending on the size of the
                    request. Please leave this browser window open during processing.</p>
            </hca-get-data-panel>
        </ng-container>
        <!-- Matrix request/s failed/completed -->
        <ng-container *ngSwitchDefault>
            <ng-container [ngSwitch]="isDisplayMultipleMatrixUrlRequests(state.matrixUrlRequests)">
                <ng-container *ngSwitchCase="true">
                    <hca-get-data-panel>
                        <h4 class="fontsize-m semi-bold">Your expression matrices are ready.</h4>
                    </hca-get-data-panel>
                    <p class="fontsize-m">Your request contains data from multiple species. Data from each species is
                        returned in its own expression matrix.</p>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <h4 class="fontsize-m semi-bold">Your expression matrix is ready.</h4>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let matrixUrlRequest of state.matrixUrlRequests">
                <matrix-url-request-completed [matrixUrlRequest]="matrixUrlRequest">
                    <p class="fontsize-m semi-bold" *ngIf="isDisplayMultipleMatrixUrlRequests(state.matrixUrlRequests)">{{matrixUrlRequest.species}}</p>
                </matrix-url-request-completed>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
