<ng-container *ngIf="keyValuePairs">
    <h4 class="fontsize-m semi-bold">Accessions</h4>
    <p *ngIf="!keyValuePairs.length" class="fontsize-xs">There are no accessions for this project.</p>
    <key-value-pair-layout *ngFor="let keyValuePair of keyValuePairs">
        <ng-container key>{{keyValuePair.key}}</ng-container>
        <ng-container value>
            <ng-container *ngFor="let pairValue of keyValuePair.value ; last as lastPair">
                <a [href]="pairValue.value"
                   target="_blank"
                   (click)="onValueClicked(pairValue)">{{pairValue.key}}</a><span *ngIf="!lastPair">, </span>
            </ng-container>
        </ng-container>
    </key-value-pair-layout>
</ng-container>



