<div class="wrapper">
    <div id="filter" [ngClass]="{'filter': true, 'small': (isDeviceMobile() || isWindowWidthSmall())}">
        <hca-search [searchTerms]="searchTerms" [selectedSearchTerms]="selectedSearchTerms"></hca-search>
        <ng-container [ngSwitch]="isDeviceMobile() || isWindowWidthSmall()">
            <div id="select" class="view-all-options" *ngSwitchDefault>
                <ng-container *ngFor="let fileFacetGroup of fileFacetGroups; let i = index;trackBy: trackFileFacetGroupsByFn">
                    <div [ngClass]="getSelectClass(i)" (click)="onHCASelect(i)">
                        <span>{{fileFacetGroup.facetGroupName}}</span>
                        <mat-icon>keyboard_arrow_down</mat-icon>
                        <ng-container *ngIf="fileFacets.length && selectIndex === i">
                            <div id="options" [ngClass]="getOptionsClass(i)" [ngStyle]="getFacetStyles(i, fileFacetGroup.facetNames.length, fileFacetGroups.length)" (mouseleave)="onHCASelectClose()">
                                <hca-file-facet id="facet" [fileFacet]="getFacet(facetName)"
                                                *ngFor="let facetName of fileFacetGroup.facetNames;trackBy: trackFileFacetByFn"></hca-file-facet>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngSwitchCase="true">
                <div class="view-options" [ngClass]="getSelectClass(1)" (click)="onHCASelect(1)">
                    <span>Filter</span>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
                <div [ngClass]="getOptionsSmallClass()">
                    <div>
                        <ng-container *ngFor="let fileFacetGroup of fileFacetGroups; let f = index">
                            <div class="facet-group">{{fileFacetGroup.facetGroupName}}</div>
                            <ng-container *ngIf="fileFacets.length">
                                <div [ngClass]="getIsOpenClass(f, t)"
                                     *ngFor="let facetName of fileFacetGroup.facetNames; let t = index">
                                    <div class="facet" (click)="onHCAFacetSelect(f, t)">
                                        <span>{{getFileFacetDisplayName(facetName)}}</span>
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </div>
                                    <div class="facet-term-list">
                                        <span class="fontsize-xxs">{{getLabelName(selectedEntity)}}</span>
                                        <hca-facet-term-list [fileFacetName]="facetName"
                                                             [terms]="getSortedFacetTerms(facetName)"
                                                             (facetTermSelected)="onFacetTermSelected($event)"></hca-facet-term-list>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <div class="apply">
                            <button (click)="onHCASelectClose()">Apply</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
<div *ngIf="selectIndex != null" class="hca-select-overlay" (click)="onHCASelectClose()"></div>
