/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA File filter styles.
 */
@import "../../shared/theme/cgl.vars";

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1164px; /* Snap to 1200px, gutter is 18px */
    padding: 0 18px;

    /* Filter container */
    .filter {
        align-items: center;
        display: flex;
        margin: 8px -4px;
        width: 100%;
    }

    /* Search and select container */
    .hca-input, .hca-select {
        align-items: center;
        border: 1px solid $hca-gray-light;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex: none;
        font-family: "Montserrat", sans-serif; /* TODO typography */
        font-size: 13px; /* TODO typography */
        height: 38px;
        letter-spacing: 0.4px; /* TODO typography */
        margin: 0 4px;
        padding: 0 16px;
    }

    /* Search input field */
    .hca-input {
        width: 354px;

        /* Input field */
        input {
            color: $hca-black;
        }
    }

    /* Select field */
    .hca-select {
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative; /* Positions options */
        width: 150px;

        /* Field is open */
        &.isOpen {
            border: 1px solid $hca-primary;
        }

        /* Drop down icon */
        mat-icon {
            font-size: 16px;
            height: 16px;
            width: 16px;
        }

        .hca-options {
            background-color: $hca-white;
            border: 1px solid $hca-gray-light;
            border-radius: 1px;
            box-sizing: border-box;
            display: flex;
            left: 0;
            padding: 6px;
            position: absolute;
            top: 44px;
            z-index: 2;
        }
    }
}

/* mat-option panel */
// TODO deep deprecated
/deep/ .mat-autocomplete-panel {
    margin: 14px -16px; /* Panel to take up full width + opens below search box */
}

/* mat-optgroup-label */
// TODO deep deprecated
/deep/ .mat-optgroup-label {
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 13px; /* TODO typography */
    font-weight: 600; /* TODO typography */
}

/* mat-option list */
// TODO deep deprecated
/deep/ .mat-option {
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 13px; /* TODO typography */

    /* mat-option flex between term and count */
    > span {
        align-items: center;
        display: flex;
        justify-content: space-between;

        /* Ellipsis of term name if required */
        > span:first-of-type {
            overflow: hidden;
            padding-right: 4px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        /* Term count */
        > span:nth-of-type(2) {
            color: $hca-gray-medium;
        }
    }
}
