/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA File filter styles.
 */
@import "../../shared/theme/cgl.vars";

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1140px; /* Snap to 1200px, gutter is 30px */
    padding: 0 30px;

    /* Filter container */
    .filter {
        align-items: center;
        display: flex;
        margin: 8px -4px;
        width: 100%;
    }

    /* Search and select container */
    .hca-input, .hca-select {
        align-items: center;
        border: 1px solid $hca-gray-light;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex: none;
        font-family: "Montserrat", sans-serif; /* TODO typography */
        font-size: 13px; /* TODO typography */
        height: 38px;
        letter-spacing: 0.4px; /* TODO typography */
        margin: 0 4px;
        padding: 0 16px;

        /* Field is on focus */
        &:focus, &.active {
            border: 1px solid $hca-primary;
        }
    }

    /* Search input field */
    .hca-input {
        width: 354px;

        /* Input field */
        input {
            color: $hca-black; /* TODO review input field colour */
        }
    }

    /* Select field */
    .hca-select {
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative; /* Positions options */
        width: 150px;

        /* Drop down icon */
        mat-icon {
            font-size: 16px;
            height: 16px;
            width: 16px;
        }

        /* Select options */
        .hca-options {
            background-color: $hca-white;
            border: 1px solid $hca-gray-light;
            border-radius: 1px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap; /* TODO review */
            padding: 6px;
            position: absolute;
            top: 44px; /* 38px for select field + 6px below select field */
            z-index: 11;

            &.hide {
                display: none;
            }
        }
    }
}

/* Select overlay */
.hca-select-overlay {
    background-color: transparent;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10; /* z-index < hca-options */
}

/* mat-option panel */
// TODO deep deprecated
/deep/ .mat-autocomplete-panel {
    border: 1px solid $hca-gray-light;
    box-shadow: 0 2px 4px 0 $hca-gray-light !important;
    margin: 6px 0; /* Panel to take up full width + opens below search box */
    padding: 8px 16px 12px; /* Override MD spec */
}

/* mat-optgroup-label */
// TODO deep deprecated
/deep/ .hca-optgroup .mat-optgroup-label {
    color: $hca-gray-light;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 10px; /* TODO typography */
    font-weight: 600; /* TODO typography */
    height: unset; /* Override MD spec */
    letter-spacing: 0.83px; /* TODO typography */
    line-height: 20px; /* Override MD spec */
    padding: 4px 0; /* Override MD spec */
}

/* mat-option list */
// TODO deep deprecated
/deep/ .mat-option.hca-option {
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 14px; /* TODO typography */
    height: unset; /* Override MD spec */
    letter-spacing: 0.43px; /* TODO typography */
    line-height: 18px; /* Override MD spec */
    min-height: 26px;
    padding: 4px 0 !important; /* Override MD spec */

    /* mat-option flex between term and count */
    > span {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;

        /* Ellipsis of term name if required */
        > span:first-of-type {
            overflow: hidden;
            padding-right: 4px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
