/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table column header count labels.
 */
@import "../../site/theme/cgl.vars";

:host {
    display: block;
    width: 100%;

    /* Sub header - domain or summary count */
    .column-count {
        align-items: flex-end;
        border-top: 1px solid $hca-gray-light;
        color: $hca-gray-dark;
        display: flex;
        margin: 0;
        min-height: 24px;
        padding: 0 0 2px 16px; /* Padding accounts for mat-sort-header icon */
        width: calc(100% - 16px);
    }
}

/* Right align count content if column is right aligned */
:host-context(.right) {

    .column-count {
        justify-content: flex-end;
    }
}

/* Center count if column is centered */
:host-context(.center) {

    .column-count {
        justify-content: center;
    }
}
