<div class="data-snapshot">
    <div class="data-query" *ngIf="selectedSearchTerms$ | async as selectedSearchTerms">
        <h4 class="fontsize-m semi-bold">Query</h4>
        <selected-search-terms [removable]="false"
                                [selectedSearchTerms]="selectedSearchTerms"></selected-search-terms>
        <p class="fontsize-xs" *ngIf="selectedSearchTerms && selectedSearchTerms.length === 0">No query applied to
            data</p>
    </div>
    <div class="data-file-summary">
        <h4 class="fontsize-m semi-bold">Selected Data Summary</h4>
        <hca-get-data-file-summary [selectedGenusSpecies]="selectedGenusSpecies"
                                   [selectedLibraryConstructionApproaches]="selectedLibraryConstructionApproaches"
                                   [selectedOrgans]="selectedOrgans"
                                   [selectedOrganParts]="selectedOrganParts"
                                   [selectedPairedEnds]="selectedPairedEnds"
                                   [summary]="selectFileSummary$ | async"
                                   [viewState]="viewState"></hca-get-data-file-summary>
    </div>
</div>
