<ng-container *ngIf="projectMatrixUrls">
    <ng-container [ngSwitch]="projectMatrixUrls.isAnyProjectMatrixUrlAvailable()">
        <ng-container *ngSwitchCase="true">
            <p class={{classFontName}}>
                <span>Expression matrices for the specified project are available for download below in </span>
                <ng-container
                        *ngFor="let fileFormat of projectMatrixUrls.listAvailableMatrixFileFormats(); last as lastFileFormat; first as firstFileFormat">
                    <span *ngIf="isCommaDelimited(firstFileFormat, lastFileFormat)">, </span>
                    <span *ngIf="isAndDelimited(firstFileFormat, lastFileFormat)"> and </span>
                    <a href="{{getFileFormatLink(fileFormat)}}" target="_blank">{{fileFormat}}</a>
                </ng-container>
                <ng-container [ngPlural]="countOfFileFormats(projectMatrixUrls.listAvailableMatrixFileFormats())">
                    <ng-template ngPluralCase="1"><span> format.</span></ng-template>
                    <ng-template ngPluralCase="other"><span> formats.</span></ng-template>
                </ng-container>
            </p>
            <div class="downloads">
                <div>
                    <ng-container *ngFor="let species of projectMatrixUrls.listSpeciesWithMatrixUrls()">
                        <h3 class="fontsize-l">{{species}}</h3>
                        <file-download *ngFor="let matrixUrl of projectMatrixUrls.listMatrixUrlsBySpecies(species)"
                                       [link]="matrixUrl"
                                       (linkClicked)="onMatrixDownloadUrlClicked(projectTitle, $event)"
                                       (linkCopiedToClipboard)="onMatrixDownloadUrlCopiedToClipboard(projectTitle, $event)"></file-download>
                    </ng-container>
                </div>
                <left-bar>
                    <data-download-citation></data-download-citation>
                </left-bar>
            </div>
        </ng-container>
        <p class="fontsize-s"
           *ngSwitchDefault>There are no expression matrices for the specified project available for download.</p>
    </ng-container>
</ng-container>
