/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project prepared expression matrices download functionality.
 */

/* Initial paragraph */
p:first-of-type {
    margin-top: 24px;
}

/* Species headings */
h3 {
    margin-top: 24px;
}
