/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project matrix archive preview component.
 */

@import "../../site/theme/hca.vars";

:host {
    background-color: $hca-off-white;
    display: grid;
    gap: 0 20px;
    grid-template-columns: 36px repeat(2, auto) 1fr;
    justify-content: flex-start;
    overflow: scroll;
    margin-bottom: 8px;
    max-height: 315px; /* 10.5 rows at 30px each, plus 24px table padding */
    min-height: 18px; /* Height if preview not available: 70px minus padding top and bottom */
    padding: 24px 0 28px;
}

/* Loading spinner, "no results" */
.archive-preview-loading, .archive-preview-none {
    align-self: center;
    grid-column: 2 / -2;
    margin: 0;
}

/* Archive preview row */
.matrix-archive-preview-row {
    display: contents;

    &::after {
        box-shadow: inset 0px -1px 0px $hca-gray-lightest;
        content: "";
        grid-column: 1 / -1; /* spans grid column's entire set out */
        height: 1px;
        margin-top: -1px; /* positions box shadow 1px above lower bounds of mat-header-row */
        min-height: unset;
    }
}

/* Archive preview cell */
.archive-file-cell {
    color: $hca-black;
    margin: 0;
    padding: 6px 0;
}

/* Archive file cell size */
.archive-file-cell-size {
    margin: 0 12px;
}
