/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for export to Terra.
 */

file-type-summary-form {
    display: block;
    margin: 24px 0 32px;
    max-width: 400px;
}

/* Download */
.download {
    margin: 24px 0 32px;
}
