/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying set of currently selected search terms (file facet terms and projects).
 */
@import "../../site/theme/cgl.vars";

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 16px; /* Gutter 16px */

    /* Selected facet and selected terms grouped by flex */
    /* Wraps by key groups of results */
    .filter-result, .filter-result .selected-facets, .filter-result .selected-terms {
        display: flex;
        flex-wrap: wrap;
    }

    .filter-result {
        min-height: 26px; /* Placeholder for empty list */

        .selected-facets {
            margin-right: 8px;
        }

        span {
            display: inline-flex;
            line-height: 26px;
            margin: 0;
        }

        /* Facet name */
        .facet-name {
            color: $hca-gray-dark;
            margin-right: 6px;
        }

        /* Parenthesis */
        .parenthesis {
            color: $hca-gray-light;
            font-family: "Courier New", sans-serif;
            font-size: 24px;
        }

        /* Parenthesis open */
        .parenthesis.open {
            margin-left: -6px;
        }

        /* Parenthesis close */
        .parenthesis.close {
            margin-right: -6px;
        }

        /* Operator - OR, AND */
        .operator {
            color: $hca-gray-darkest;
            font-family: "Courier New", sans-serif;
            font-size: 14px;
            font-style: italic;
            padding: 0 6px;
            text-transform: uppercase;
        }

        /* Selected term */
        .selected-term {
            display: flex;
            flex: none;
        }

        .selected-term > div, .selected-facet {
            display: flex;
            cursor: pointer;
            position: relative; /* Positions remove button */
        }

        /* Selected term/facet - hover state */
        .selected-term:hover mat-icon, .selected-facet:hover mat-icon {
            opacity: 1;
            transition: opacity 1s ease;
        }

        /* Remove button 'x' */
        .selected-term mat-icon, .selected-facet mat-icon {
            color: $hca-secondary;
            cursor: pointer;
            font-size: 12px;
            height: 12px;
            margin: 0;
            opacity: 0;
            position: absolute;
            width: 12px;
        }

        /* Selected facet - hover state */
        .selected-facet mat-icon {
            right: 4px;
            top: -4px;
        }

        /* Selected term - hover state */
        .selected-term mat-icon {
            right: -4px;
            top: -4px;
        }

        /* Clear all button */
        .clear-all {
            color: $hca-primary;
            font-family: "Montserrat", sans-serif;
            font-size: 11px;
            letter-spacing: 0.34px;
            line-height: 26px; /* Overrides MD button spec */
            min-width: 0;
            padding: 0 4px; /* Overrides MD button spec */
        }
    }

    /* Inactive result - elements are inactive and cannot be removed */
    .inactive {

        .selected-term > div, .selected-facet {
            cursor: auto;
        }
    }
}

/* Get Data */
:host-context(.get-data) {

    display: flex;
    flex-direction: column;

    .selected-facets, .selected-terms, .selected-facets span:not(.operator) {
        align-items: flex-start;
        display: flex;
    }

    /* Facet - container */
    .selected-facets {
        flex-direction: column;
        margin-bottom: 12px;
        width: 100%;

        /* Facet */
        .selected-facet {
            margin-bottom: 4px;
        }

        /* Terms */
        .selected-terms {
            flex-wrap: wrap;
            max-width: 400px;
            width: 100%;
        }

        /* Selected term */
        .selected-term {
            padding-right: 6px;
        }

        /* Text - facet name, terms, operator */
        span {
            letter-spacing: normal;
            line-height: 20px;
            margin: 0;
        }

        /* Text - facet name, and terms */
        /* Mimics HCA paragraph font class "fontsize-xs" */
        span:not(.operator) {
            font-family: "Montserrat", sans-serif;
            font-size: 13px;
            font-weight: 400;

            /* Text - facet name */
            &.facet-name {
                font-weight: 500;
            }
        }

        /* Operator - OR, AND */
        .operator {
            color: $hca-gray-darkest;
            font-family: "Courier New", sans-serif;
            font-size: 14px;
            font-style: italic;
            padding-right: 6px;
            text-transform: uppercase;
        }
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* Get Data */
    :host-context(.get-data) {

        /* Facet - container */
        .selected-facets {
            flex-direction: row;
            margin-bottom: 8px;
            width: 100%;

            /* Facet */
            .selected-facet {
                flex: none;
                margin: 0;
                width: 220px;
            }
        }
    }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        padding: 0 30px;
    }
}
