/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for catalog form component.
 */

@import "../../../site/theme/hca.vars";

:host {
    background-color: rgba(0, 0, 0, 0.06);
    padding: 12px 30px;
}

/* Add space between radio buttons */
mat-radio-button + mat-radio-button {
    margin-left: 8px;
}

/* Catalog label, clear button */
.radio-label,
.clear-label {
    display: inline;
    font-size: 12px;
    margin-right: 16px;
}

/* Clear button */
.clear-label {
    color: $hca-primary;
    display: inline;
    font-size: 12px;
    margin-left: 8px;
}
