<form [formGroup]="catalogFormGroup">
    <label>
        <mat-radio-group class="hca-radio term" formControlName="catalog" (change)="onCatalogSelected($event)">
            <label class="mat-radio-label radio-label">
                <div class="mat-radio-label-content">
                    Catalog:
                </div>
            </label>
            <mat-radio-button *ngFor="let catalog of catalogs" [value]="catalog">
                {{catalog}}
            </mat-radio-button>
        </mat-radio-group>
    </label>
</form>
