/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for a plain old page layout.
 */

:host {
    /* Wrapper */
    .wrapper {
        padding: 0 16px; /* Gutter 16px */
    }
}

/* <hca-tab> nested underneath <hca-section-title> */
hca-section-title + hca-tab {
    margin-top: -24px;
}

/* Project detail page, get data flow */
:host-context(project-detail) .wrapper,
:host-context(get-data) .wrapper {
    display: flex;
    flex-direction: column;
}

/**
 * Small Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {
    /* Project detail page, get data flow */
    :host-context(project-detail) .wrapper,
    :host-context(get-data) .wrapper {
        flex-direction: row;
    }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 1200px) {
    :host {
        /* Wrapper */
        .wrapper {
            padding: 0 30px; /* Gutter 30px */
        }
    }
}
