<div class="hca-download" [ngClass]="getDownloadClass(1)" *ngIf="selectFileSummary$ | async as fileSummary">
    <div>
        <span>Download Manifest for these files</span>
        <span>You can download the files using the HCA CLI.</span>
    </div>
    <hca-file-summary
            [showDownload]="false"
            [summary]="selectFileSummary$ | async"></hca-file-summary>
    <ng-container *ngIf="fileFacets$ | async">
        <div class="hca-card-content">
            <div class="facet-term-list">
                <facet-file-list [fileFacet]="fileFacets$ | async" [fileTypeSummaries]="fileSummary.fileTypeSummaries"
                                 (facetTermSelected)="onFacetTermSelected($event)"></facet-file-list>
            </div>
        </div>
    </ng-container>
    <div class="hca-card-action">
        <button type="button" (click)="onDownloadManifest()">Download Manifest</button>
        <div class="file-size">These files are {{fileSummary.totalFileSize | fileSize}} of data, from the HCA CLI</div>
    </div>
</div>
<div class="hca-download instructions" [ngClass]="getDownloadClass(2)">
    <div>
        <span>Congrats! You’ve downloaded the manifest!</span>
        <span>Find instructions on how to download the files here:</span>
    </div>
    <div class="hca-card-action">
        <a class="hca-button"
           href="https://dev.data.humancellatlas.org/learn/userguides/accessing-data/using-the-cli-to-access-data/">Get
            Download Instructions</a>
    </div>
</div>
