/**
 * Medtel
 * https://medtel.com
 *
 * Styles for HCA download manifest dialog.
 */
@import "../../shared/theme/cgl.vars";

/* Download container */
.hca-download, .hca-download.instructions {
    border: 1px solid rgba($hca-gray-medium, 0.5);
    box-shadow: 0 2px 4px 0 $hca-gray-light;
    box-sizing: border-box;
    width: 450px;

    &.hide {
        display: none;
    }

    /* Title and subtitle */
    > div:first-of-type {
        padding: 24px;

        > span {
            display: block;
            font-family: "Montserrat", sans-serif; /* TODO typography */

            &.fontsize-s {
                font-size: 14px;
                line-height: 24px;
                padding: 16px 0 8px;
            }
        }

        /* Title */
        > span:first-of-type {
            font-size: 22px; /* TODO typography */
            font-weight: 600; /* TODO typography */
            line-height: 30px; /* TODO typography */
        }

        /* Sub-title */
        > span:last-of-type {
            font-family: "Montserrat", sans-serif; /* TODO typography */
            font-size: 14px; /* TODO typography */
            font-weight: 500; /* TODO typography */
            line-height: 24px; /* TODO typography */
        }
    }

    /* Content - list of terms */
    .hca-card-content {
        margin-top: -24px;
        padding: 24px 0 40px;

        /* Facet term list - container */
        .facet-term-list {
            -ms-overflow-style: -ms-autohiding-scrollbar; // Hide scrollbar in IE unless actively scrolling.
            padding: 0 24px;
        }
    }

    /* Action */
    .hca-card-action {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -24px;
        padding: 24px;

        /* Download button */
        button, .hca-button {
            align-items: center;
            background-color: $hca-secondary;
            border: none;
            border-radius: 3px;
            color: $hca-white;
            display: flex;
            flex-shrink: 0;
            font-family: "Montserrat", sans-serif; /* TODO typography */
            font-size: 14px; /* TODO typography */
            font-weight: 600; /* TODO typography */
            height: 38px; /* HCA specific style */
            letter-spacing: 0.21px; /* TODO typography */
            min-width: 84px;
            padding: 0 9px;

            &:hover {
                background-color: $hca-secondary-hover;
            }

            &:focus {
                outline: none;
            }
        }

        /* File size */
        .file-size {
            font-family: "Montserrat", sans-serif; /* TODO typography */
            font-size: 14px; /* TODO typography */
            font-weight: 400; /* TODO typography */
            padding: 12px 16px;
        }
    }
}

