<survey-matrix-ui *ngIf="isSurveyVisible()"></survey-matrix-ui>
<warning-data-normalization></warning-data-normalization>
<h2 class="fontsize-xl">
    DCP Generated Matrices
</h2>
<p class="fontsize-s">
    DCP Generated Matrices are those produced with <a href="{{portalUrl}}/pipelines" target="_blank">uniform
    pipelines</a>. All DCP Generated Matrices include <a href="{{portalUrl}}/pipelines/qc-metrics" target="_blank">quality
    control metrics</a>.
</p>
<p class="fontsize-s">
    The 10x matrices include raw counts. Smart-seq2 matrices include TPMs and estimated counts. Matrices are in Loom
    file format.
</p>
<h3 class="fontsize-l">Linking DCP-Generated Matrices to Project Metadata</h3>
<p class="fontsize-s">
    To link the DCP project matrix to the project metadata TSV, match the matrix
    <span class="code-inline">input_id</span> column with the metadata TSV <span class="code-inline">sequencing_process.provenance.document_id</span>
    column.
    Learn more in the
    <a href="{{portalUrl}}/guides/consumer-vignettes/matrices#linking-dcp-generated-matrices-to-the-data-manifest-metadata"
       target="_blank">DCP 2.0 Data Matrix Overview</a>.
</p>
<ng-container [ngSwitch]="project.matrices.length === 0">
    <no-hits *ngSwitchCase="true">
        <p class="fontsize-s">There are currently no DCP generated matrices for this project.</p>
    </no-hits>
    <project-matrix-table *ngSwitchDefault
                          [columnsToDisplay]="getColumnsToDisplay(false)"
                          [contributorMatrices]=false
                          [project]="project"
                          [projectMatrixArchivePreviewsByMatrixId]="projectMatrixArchivePreviewsByMatrixId"
                          [projectMatrixFileLocationsByFileUrl]="projectMatrixFileLocationsByFileUrl"
                          [projectMatrixViews]="project.matrices"
                          (projectMatrixArchivePreviewRequested)="onProjectMatrixArchivePreviewRequested($event, projectMatrixType.DCP)"
                          (projectMatrixFileLocationRequested)="onProjectMatrixFileLocationRequested($event, projectMatrixType.DCP)"></project-matrix-table>
</ng-container>
<h2 class="fontsize-xl">
    Contributor Generated Matrices and Analysis Files
</h2>
<p class="fontsize-s">
    Contributor Generated Matrices are optionally provided by the project contributors. These matrices vary in file
    format and content. For questions about a specific contributor-generated matrix, reach out to the Contacts
    listed on the Project Information page.
</p>
<ng-container [ngSwitch]="project.contributorMatrices.length === 0">
    <no-hits *ngSwitchCase="true">
        <p class="fontsize-s">There are currently no contributor files for this project.</p>
    </no-hits>
    <project-matrix-table *ngSwitchDefault
                          [columnsToDisplay]="getColumnsToDisplay(true)"
                          [contributorMatrices]=true
                          [project]="project"
                          [projectMatrixArchivePreviewsByMatrixId]="projectMatrixArchivePreviewsByMatrixId"
                          [projectMatrixFileLocationsByFileUrl]="projectMatrixFileLocationsByFileUrl"
                          [projectMatrixViews]="project.contributorMatrices"
                          (projectMatrixArchivePreviewRequested)="onProjectMatrixArchivePreviewRequested($event, projectMatrixType.CGM)"
                          (projectMatrixFileLocationRequested)="onProjectMatrixFileLocationRequested($event, projectMatrixType.CGM)"></project-matrix-table>
</ng-container>
<section-bar [position]="'top'">
    <data-use-notification></data-use-notification>
</section-bar>
