/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project contributor and DCP-generated matrices download functionality. Displayed either in modal
 * or in project detail.
 */

@import "../../site/theme/hca.global";

/** Limit width of text and no hits */
* {
    max-width: 600px;
}

h2 {
    margin-top: 24px;
}

/** Remove margin from bottom of no hits paragraph */
no-hits p.fontsize-s {
    margin-bottom: 0 !important; // important to override parent-driven styles below */
}

/**
 * Parent-driven style configuration of table
 */

/** Matrix download displayed in modal **/
:host.project-matrix-download-modal-view {

    /* Mimic fontsize-m for modal content */
    .fontsize-s {
        @include fontsize-m;
    }
    
    // Allow text and no hits to expand to full width of modal
    > * {
        max-width: unset;
    }
}

@media (min-width: 857px) {

    /** Matrix download displayed on project detail **/
    :host.project-matrices {

        project-matrix-table {
            min-width: unset;
            max-width: 1200px; /* Snap table - matches 600 + 600 of LHS and RHS of project detail */
        }
    }
}
