<h2 class="fontsize-xl">
    DCP Generated Matrices
</h2>
<p class="fontsize-s">
    DCP Generated Matrices are those produced with <a href="{{portalUrl}}/pipelines" target="_blank">standardized pipelines</a> approved by the HCA Analysis Working Group. All DCP Generated Matrices include <a href="{{portalUrl}}/pipelines/qc-metrics" target="_blank">quality control metrics</a>.
</p>
<p class="fontsize-s">
    The 10x matrices include raw counts; Smart-seq2 matrices include TPMs and estimated counts. Matrices are in Loom
    file format.
</p>
<ng-container [ngSwitch]="project.matrices.length === 0">
    <no-hits *ngSwitchCase="true">
        <p class="fontsize-s">There are currently no DCP generated matrices for this project.</p>
    </no-hits>
    <project-matrix-table *ngSwitchDefault
                          [projectMatrixFileLocationsByFileUrl]="projectMatrixFileLocationsByFileUrl"
                          [projectMatrixViews]="project.matrices"
                          (projectMatrixFileLocationRequested)="onProjectMatrixFileLocationRequested($event, projectMatrixType.DCP)"></project-matrix-table>
</ng-container>
<h2 class="fontsize-xl">
    Contributor Generated Matrices
</h2>
<p class="fontsize-s">
    Contributor Generated Matrices are optionally provided by the project contributors. These matrices vary in file
    format and content. For questions about a specific contributor-generated matrix, reach out to the Contacts
    listed on the Project Information page.
</p>
<ng-container [ngSwitch]="project.contributorMatrices.length === 0">
    <no-hits *ngSwitchCase="true">
        <p class="fontsize-s">There are currently no contributor generated matrices for this project.</p>
    </no-hits>
    <project-matrix-table *ngSwitchDefault
                          class="project-matrix-table-contributor-generated"
                          [projectMatrixFileLocationsByFileUrl]="projectMatrixFileLocationsByFileUrl"
                          [projectMatrixViews]="project.contributorMatrices"
                          (projectMatrixFileLocationRequested)="onProjectMatrixFileLocationRequested($event, projectMatrixType.CGM)"></project-matrix-table>
</ng-container>
<section-bar [position]="'top'">
    <data-use-notification></data-use-notification>
</section-bar>
