<div class="wrapper">
    <div class="file-summary">
        <div>
            <div>
                <span>Projects</span>
                <span>{{summary.projectCount | localeString}}</span>
            </div>
            <div>
                <span>Organs</span>
                <span>{{summary.organCounts | localeString}}</span>
            </div>
            <div>
                <span>Biomaterials</span>
                <span>{{summary.biomaterialCount | localeString}}</span>
            </div>
            <div>
                <span>Files</span>
                <span>{{summary.fileCount | localeString}}</span>
            </div>
            <div>
                <span>File Size</span>
                <span>{{summary.totalFileSize | fileSize}}</span>
            </div>
        </div>
        <button mat-raised-button (click)="onDownloadManifest()"
                matTooltip="Choose files to download as a manifest"
                matTooltipPosition="below"
                matTooltipShowDelay="500"
                matTooltipClass="hca-tooltip narrow">
            <img class="spacer" src="../../../assets/images/icon/hca-download-white.png"/>
            <span class="spacer">Download</span>
        </button>
    </div>
</div>
