<div class="wrapper">
    <div class="file-summary" *ngIf="summary.donorCount > 0">
        <div>
            <div class="summary">
                <hca-tooltip [tooltipClass]="'hca-tooltip narrow'"
                             [tooltipContent]="summary.donorCount | localeString"
                             [tooltipDisabled]="isTooltipDisabled(summary.donorCount)"
                             [tooltipPosition]="'above'">
                    <h3 class="fontsize-l count">{{summary.donorCount | countSize}}</h3>
                </hca-tooltip>
                <span class="fontsize-xxs label">Donors</span>
            </div>
            <div class="summary">
                <hca-tooltip [tooltipClass]="'hca-tooltip narrow'"
                             [tooltipContent]="summary.specimenCount | localeString"
                             [tooltipDisabled]="isTooltipDisabled(summary.specimenCount)"
                             [tooltipPosition]="'above'">
                    <h3 class="fontsize-l count">{{summary.specimenCount | countSize}}</h3>
                </hca-tooltip>
                <span class="fontsize-xxs label">Specimens</span>
            </div>
            <div class="summary">
                <hca-tooltip [tooltipClass]="'hca-tooltip narrow'"
                             [tooltipContent]="summary.totalCellCount | localeString"
                             [tooltipDisabled]="isTooltipDisabled(summary.totalCellCount)"
                             [tooltipPosition]="'above'">
                    <h3 class="fontsize-l count">{{summary.totalCellCount | countSize}}</h3>
                </hca-tooltip>
                <span class="fontsize-xxs label">Estimated Cells</span>
            </div>
            <div class="summary">
                <hca-tooltip [tooltipClass]="'hca-tooltip narrow'"
                             [tooltipContent]="summary.fileCount | localeString"
                             [tooltipDisabled]="isTooltipDisabled(summary.fileCount)"
                             [tooltipPosition]="'above'">
                    <h3 class="fontsize-l count">{{summary.fileCount | countSize}}</h3>
                </hca-tooltip>
                <span class="fontsize-xxs label">Files</span>
            </div>
            <div class="summary">
                <hca-tooltip [tooltipClass]="'hca-tooltip narrow'"
                             [tooltipContent]="summary.totalFileSize | localeString"
                             [tooltipPosition]="'above'">
                    <h3 class="fontsize-l count">{{summary.totalFileSize | fileSize}}</h3>
                </hca-tooltip>
                <span class="fontsize-xxs label">File Size</span>
            </div>
        </div>
        <button *ngIf="showDownload" class="button primary" [routerLink]="['/get-data']">Export Selected Data</button>
    </div>
</div>
