<div class="wrapper">
    <div class="file-summary">
        <div>
            <div>
                <span>Specimens</span>
                <span>100</span>
            </div>
            <div>
                <span>Estimated Cells</span>
                <span>209,000</span>
            </div>
            <div>
                <span>Donors</span>
                <span>10</span>
            </div>
            <div>
                <span>Projects</span>
                <span>3</span>
            </div>
        </div>
        <button mat-raised-button (click)="onDownloadManifest()">
            <img class="spacer" src="../../../assets/images/icon/hca-download-white.png"/>
            <span class="spacer">Download</span>
        </button>
    </div>
</div>
