/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA File summary styles.
 */

@import "../../shared/theme/cgl.vars";

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1164px; /* Snap to 1200px, gutter is 18px */
    padding: 0 18px;

    .file-summary {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin: 16px -16px;

        /* Summaries and counts - container */
        > div {
            display: flex;

            /* Summary and count */
            > div {
                display: flex;
                padding: 0 12px;

                /* Font style for summary and count */
                > span {
                    font-family: "Gotham"; /* Todo typography */
                    font-size: 12px; /* Todo typography */
                    font-weight: 500; /* Todo typography */
                    padding: 0 4px;

                    /* Count */
                    &:last-of-type {
                        color: $hca-gray-medium;
                    }
                }
            }
        }
            /* Download button */
            button:last-of-type {
                background-color: #32C1EE; /* Todo color */
                color: white;
                font-family: "Gotham"; /* Todo typography */
                font-size: 14px; /* Todo typography */
                font-weight: 500; /* Todo typography */
                height: 38px; /* HCA specific style */
                letter-spacing: 0.21px; /* Todo typography */
                padding: 0 9px;

                /* Download icon, text */
                .spacer {
                    margin: 0 3px;
                }
            }
    }
}
