/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA File summary styles.
 */
@import "../../site/theme/cgl.vars";

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 16px; /* Gutter is 16px */

    .file-summary {
        align-items: flex-start;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        margin: 16px 0 16px -8px; /* Negative left margin to allow for first tab's padding */

        /* Summaries and counts - container */
        > div {
            display: flex;
            flex-wrap: wrap; /* Wraps on smaller devices */
            padding-bottom: 12px;

            /* Buttons - download and request matrix */
            &.download-buttons {
                flex: none;
                flex-wrap: wrap;

                hca-download-manifest {
                    margin: 0 0 4px 8px;
                }

                hca-request-matrix {
                    margin: 0 0 4px 8px;
                }
            }

            /* Summary and count */
            > div {
                display: flex;
                margin: 4px 0;
                padding: 0 4px;

                /* Font style for summary and count */
                > span, .summary-count {
                    font-family: "Montserrat", sans-serif; /* TODO typography */
                    font-size: 12px; /* TODO typography */
                    font-weight: 600; /* TODO typography */
                    padding: 0 4px;
                    text-transform: uppercase;
                }

                /* Count */
                .summary-count {
                    color: $hca-gray-medium;
                    text-transform: none;
                }
            }
        }
    }
}

/* Download manifest summary & request expression matrix */
:host-context(.hca-download) {

    .wrapper {
        margin-top: -24px;
        padding: 0 24px;

        .file-summary {
            margin-left: -12px;

            /* Summaries and counts - container */
            > div {

                /* Summary and count */
                > div {
                    min-width: 25%; /* Lines up 2nd and last summary */
                    padding: 0 8px;

                    /* Hide file size */
                    &:last-of-type {
                        display: none;
                    }

                    /* Font style for summary and count */
                    > span, .summary-count {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

/**
 * Medium +
 */
@media screen and (min-width: 768px) {
    /* Wrapper */
    .wrapper .file-summary {
        align-items: center;
        flex-direction: row;

        /* Summaries and counts - container */
        > div {
            padding-bottom: 0;

            /* Buttons - download and request matrix */
            &.download-buttons {
                flex-wrap: nowrap;
                margin-left: 0;

                hca-download-manifest {
                    margin: 0;
                }

                hca-request-matrix {
                    margin: 0 0 0 8px;
                }
            }
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        padding: 0 30px;
    }
}
