/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * File summary styles.
 */

@import "../../shared/theme/cgl.vars";

:host {

    mat-card {

        padding: 0;

        .summary-count {

            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: right;

            &:before {
                font-family: "Material Icons";
                font-size: 40px;
                opacity: 0.7;
            }

            /** Override default MD bottom margin/padding to scoot count and label closer, and top margin/padding to vertically align correctly in card **/
            .mat-headline {
                margin: 0;
                padding: 0;
            }

            &.organ-count {
                &:before {
                    content: "\E84E";
                }
            }
            
            &.biomaterial-count {
                
                &:before {
                    content: "\E8C3";
                }
            }
            
            &.file {
                &:before {
                    content: "\E24D";
                }
            }

            &.project {
                &:before {
                    content: "\E2C7";
                }
            }

            &.size {
                &:before {
                    content: "\E1AF";
                }
            }
        }
    }
}

/**
 * Extra small, small
 */
@media (max-width: $md-sm-max) {

    :host {

        mat-card {

            // Add border between stacked summary counts
            .summary-count {
                &+.summary-count {
                    border-top: 1px solid #eeeeee;
                }
            }
        }
    }
}

/**
 * Small +
 */
@media (min-width: $md-sm-min) {

    :host {

        mat-card {

            // Add border between stacked summary counts
            .summary-count {
                &+.summary-count {
                    border-left: 1px solid #eeeeee;
                }
            }
        }
    }
}
