<key-value-pair-layout>
    <ng-container key>{{keyValuePair.key}}</ng-container>
    <ng-container value>
        <ng-container [ngSwitch]="isMultiValue(keyValuePair.value)">
            <ng-container *ngSwitchCase="true">
                <ng-container *ngFor="let pairValue of keyValuePair.value ; last as lastPair">
                    <a [href]="pairValue.value"
                       target="_blank"
                       (click)="onValueClicked(pairValue)">{{pairValue.key}}</a><span *ngIf="!lastPair">, </span>
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>{{keyValuePair.value}}</ng-container>
        </ng-container>
    </ng-container>
<key-value-pair-layout>
