/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for key value pair layout component.
 */

/* Component container */
.host {
    flex: 1;
}

p {
    margin: 0;
}

/* Pair */
.key-value-pair {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

/* lhs and rhs containers */
.lhs, .rhs {
    flex: 1;
    margin: 0;
}

/**
 * XSmall Window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 480px) {

    /* Pair */
    .key-value-pair {
        flex-direction: row;
    }

    /* lhs container */
    .lhs {
        margin-right: 8px;
    }

    /* rhs container */
    .rhs {
        margin-left: 8px;
    }
}

/**
 * Small Window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* lhs container */
    .lhs {
        margin-right: 15px;
    }

    /* rhs container */
    .rhs {
        margin-left: 15px;
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1440px) {

    /* lhs container */
    .lhs {
        flex: unset;
        flex-basis: 30%;
    }
}
