<ng-container *ngIf="state$ | async as state">
    <project-download-layout [fullWidth]="true"
                             [loaded]="state.loaded"
                             [project]="state.project"
                             [tabs]="getBackButtonTab()"
                             (tabSelected)="onTabSelected(state.project.entryId)">
        <ng-container title>Project Matrices</ng-container>
        <div content>
            <project-matrix-download
                    class="project-matrices"
                    *ngIf="state.loaded"
                    [project]="state.project"
                    [projectMatrixArchivePreviewsByMatrixId]="state.projectMatrixArchivePreviewsByMatrixId"
                    [projectMatrixFileLocationsByFileUrl]="state.projectMatrixFileLocationsByFileUrl"></project-matrix-download>
        </div>
    </project-download-layout>
</ng-container>
