/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project expression matrices component.
 */

/* Title */
h2 {
    margin: 14px 0 24px;
}

/* Styles */

/* Max widths - expression matrix only, can be removed with v1 code (ie not used with v2 code) */
/* 600px */
.max600 {
    display: inline-block;
    max-width: 600px;
}
