/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to displaying errors on the Zendesk support request form.
 */

@import "../../site/theme/hca.vars";

.support-request-error {
    @include dp-font;
    background-color: rgba(232, 170, 69, 0.06); /* $hca-orange */
    border-radius: 2px;
    border: 1px solid $hca-orange;
    color: $hca-orange-hover;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 8px;
}

/* Error is specific to form input */
.support-request-error.field {
    margin: 0 0 8px;
}

/* Error occurred on submit of form - display at top of form */
.support-request-error.submit {
    margin: 16px 0;
}
