/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for table.
 */

/* Table sits within card */
mat-card {
    padding: 0;

    /* Pagination */
    .pagination {
        align-items: center;
        color: rgba(0, 0, 0, 0.38);
        display: flex;
        font-size: 12px;
        height: 56px;
        justify-content: flex-end;
        padding: 0 24px;

        span {
            min-width: 75px;
            padding-left: 16px;
            text-align: right;
        }

        mat-form-field {
            width: 56px;
            margin-left: 4px;
            margin-right: 8px;

            input, mat-select {
                text-align: center;
            }
        }
    }

    mat-table {

        mat-row, mat-header-row {
            padding: 0 16px;
        }

        mat-cell, mat-header-cell {
            padding-left: 8px;
            padding-right: 8px;

            /* Program, Project */
            &:first-of-type, &:nth-of-type(2) {
                flex: none;
                width: 5%;
            }

            /* Submitter Donor Id */
            &:nth-of-type(3), &:nth-of-type(5) {
                flex: none;
                width: 7%;
            }

            /* Submitter Specimen Id */
            &:nth-of-type(4) {
                flex: none;
                width: 10%;
            }

            /* Specimen Type */
            &:nth-of-type(5) {
                flex: none;
                width: 10%;
            }

            &:nth-of-type(6) {
                flex: none;
                width: 8%;
            }

            /* File ID */
            &:nth-of-type(9) {
                flex: none;
                width: 17%;
            }

            /* File size */
            &:nth-of-type(10) {
                flex: none;
                width: 4%;
            }

            /* Table header text alignment */
            /deep/ .mat-sort-header-button {
                text-align: left !important;
            }
        }
    }
}
