/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for table.
 */

/* Table sits within card */
mat-card {
    padding: 0;

    /* Filter row */
    .filter-row {
        align-items: flex-end;
        background-color: rgba(0, 0, 0, 0.03);
        display: flex;
        min-height: 64px;
        padding: 8px 24px 0;

        .mat-form-field {
            font-size: 14px;
            width: 25%;

            /* Search icon */
            mat-icon {
                color: rgba(0, 0, 0, 0.38);
            }
        }
    }

    /* Pagination */
    .pagination {
        align-items: center;
        color: rgba(0, 0, 0, 0.38);
        display: flex;
        font-size: 12px;
        height: 56px;
        justify-content: flex-end;
        padding: 0 24px;

        mat-form-field {
            width: 56px;
            margin: 6px 32px 0 4px;
        }
    }
}
