/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for table.
 */

/* Table sits within card */
mat-card {
    padding: 0;

    /* Filter row */
    .filter-row {
        align-items: flex-end;
        background-color: rgba(0, 0, 0, 0.03);
        display: flex;
        min-height: 64px;
        padding: 8px 24px 0;

        .mat-form-field {
            font-size: 14px;
            width: 25%;

            /* Search icon */
            mat-icon {
                color: rgba(0, 0, 0, 0.38);
            }
        }
    }

    /* Pagination */
    .pagination {
        align-items: center;
        color: rgba(0, 0, 0, 0.38);
        display: flex;
        font-size: 12px;
        height: 56px;
        justify-content: flex-end;
        padding: 0 24px;

        span {
            min-width: 75px;
            padding-left: 16px;
            text-align: right;
        }

        mat-form-field {
            width: 56px;
            margin-left: 4px;
            margin-right: 8px;

            input, mat-select {
                text-align: center;
            }
        }
    }

    mat-table {

        mat-row, mat-header-row {
            padding: 0 16px;
        }

        mat-cell, mat-header-cell {
            padding-left: 8px;
            padding-right: 8px;

            /* Make selected columns narrow */
            &:first-of-type, &:nth-of-type(2), &:nth-of-type(10) {
                flex: none;
                width: 5%;
            }

            &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                flex: none;
                width: 7%;
            }

            &:nth-of-type(9) {
                flex: none;
                width: 20%;
            }

            /* Table header text alignment */
            /deep/ .mat-sort-header-button {
                text-align: left !important;
            }
        }
    }
}
