<get-data-layout [tabs]="getBackButtonTab()" (tabSelected)="onTabSelected()">
    <ng-container title>Download Selected Data Using curl</ng-container>
    <div content>
        <get-data-panel>
            <h4 class="fontsize-m semi-bold">Confirm Species Selection</h4>
            <p class="fontsize-m">Please explicitly select at least one species to be included in your curl command.</p>
        </get-data-panel>
        <species-form (speciesSelected)="onSpeciesSelected()"></species-form>
    </div>
</get-data-layout>
