<pop-layout>
    <ng-container title>March 2020 Data Release</ng-container>
    <div content>
        <status-panel class="release">
            <div class="highlights">
                <h2 class="fontsize-xl">Annotated cell clusters, differential expression analyses, and data visualization for 23 human, HCA DCP datasets comprising 1,157,304 cells</h2>
                <h3 class="fontsize-l">Global Gene Search</h3>
                <p class="fontsize-s">Search for cell gene expression across all March 2020 release datasets. <a class="fontsize-s" href="https://singlecell.broadinstitute.org/single_cell?scpbr=human-cell-atlas-march-2020-release" target="_blank" rel="noopener noreferrer">Search in Single Cell Portal</a>.</p>
                <h3 class="fontsize-l">Datasets</h3>
                <p class="fontsize-s">12 HCA DCP projects were stratified by developmental stage, organ and library technology, annotated with cell type, and processed with a common pipeline to produce the datasets and analyses listed below. Please see the release <a href="{{portalUrl}}/releases/2020-mar"> documentation </a> for additional detail.</p>
            </div>
            <warning>
                <warning-title><h3 class="fontsize-l">Feedback Requested</h3></warning-title>
                <warning-content>
                    <p class="fontsize-s">
                        This is the HCA DCP’s first iteration of a release using a <a href="{{portalUrl}}/releases/2020-mar/methods">standardized pipeline</a> to calculate cell clustering and differential expression across all of the human datasets available in the platform.</p>

                    <p class="fontsize-s">We have included author-provided annotations and have not attempted batch correction or normalization.</p>

                    <p class="fontsize-s">We welcome feedback to improve future releases. Please see our <a href="{{portalUrl}}/releases/2020-mar/feedback">feedback</a> page with any questions, comments or suggestions.</p>
                </warning-content>
            </warning>
        </status-panel>
        <release-table *ngIf="state$ | async as state" 
                       [columnsToDisplay]="columnsToDisplay" 
                       [releaseOrganViews]="state.releaseOrganViews"
                       [releaseReferrer]="true"
                       [releaseFilesReferrer]="true"></release-table>
    </div>
</pop-layout>
