<pop-layout>
    <ng-container title>March 2020 Release</ng-container>
    <div content>
        <status-panel class="release">
            <div class="highlights">
                <h2 class="fontsize-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor</h2>
                <p class="fontsize-s">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit
                    anim
                    id est laborum.</p>
                <a class="fontsize-s" href="" target="_blank" rel="noopener noreferrer">Learn More</a>
            </div>
            <warning>
                <warning-title><h3 class="fontsize-l">Gene</h3></warning-title>
                <warning-content>
                    <p class="fontsize-s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.</p>
                    <a class="fontsize-s" href="" target="_blank" rel="noopener noreferrer">Learn More</a>
                </warning-content>
            </warning>
        </status-panel>
        <release-table *ngIf="state$ | async as state" [releaseOrganViews]="state.releaseOrganViews"></release-table>
    </div>
</pop-layout>
