<pop-layout>
    <ng-container title>March 2020 Data Release</ng-container>
    <div content>
        <status-panel class="release">
            <div class="highlights">
                <h2 class="fontsize-xl">Annotated cell clusters, differential expression analyses, and data visualization for 24 datasets stratified from 13 HCA DCP human single cell projects</h2>
                <h3 class="fontsize-l">Global Gene Search</h3>
                <p class="fontsize-s">Search for cell gene expression across all March 2020 release datasets. <a class="fontsize-s" href="https://singlecell.broadinstitute.org/single_cell?scpbr=human-cell-atlas-march-2020-release" target="_blank" rel="noopener noreferrer">Search in SCP</a>.</p>
                <h3 class="fontsize-l">Data</h3>
                <p class="fontsize-s">Projects stratified by developmental stage, organ and library technology, and annotated with cell type, were processed with a common pipeline to produce the datasets and analyses listed below. Please see the <a href="{{portalUrl}}/releases/2020-mar">release documentation </a> for additional detail.</p>
            </div>
            <warning>
                <warning-title><h3 class="fontsize-l">Feedback</h3></warning-title>
                <warning-content>
                    <p class="fontsize-s">The DCP team is actively soliciting feedback for improving  this or future releases. Please <a href="{{portalUrl}}/releases/2020-mar/feedback">see our feedback page</a> with any questions, comments or suggestions.</p>
                </warning-content>
            </warning>
        </status-panel>
        <release-table *ngIf="state$ | async as state" 
                       [columnsToDisplay]="columnsToDisplay" 
                       [releaseOrganViews]="state.releaseOrganViews"
                       [releaseReferrer]="true"
                       [releaseFilesReferrer]="true"></release-table>
    </div>
</pop-layout>
