<hca-table-sort *ngIf="isColumnSort(columnName); else organTitle">
    <ng-container *ngTemplateOutlet="organTitle"></ng-container>
</hca-table-sort>
<ng-template #organTitle>
    <div class="column-organ" *ngIf="columnName === 'organ'; else headerTitle">
        <ng-container *ngTemplateOutlet="headerTitle"></ng-container>
        <span class="fontsize-xxs bold"> / </span>
        <hca-tooltip
                *ngIf="columnName === 'organ'"
                [tooltipContent]="getColumnDescription('modelOrgan')"
                [tooltipDisabled]="getColumnDescription('modelOrgan') === null"
                [tooltipPosition]="'above'"
                [tooltipClass]="'hca-tooltip narrow'">
            <span [ngClass]="{'fontsize-xxs bold': true, 'spacer': !isColumnSort(columnName)}">Model Organ</span>
        </hca-tooltip>
    </div>
</ng-template>
<ng-template #headerTitle>
    <hca-tooltip
            [tooltipContent]="getColumnDescription(columnName)"
            [tooltipDisabled]="getColumnDescription(columnName) === null"
            [tooltipPosition]="'above'"
            [tooltipClass]="'hca-tooltip narrow'">
        <span [ngClass]="{'fontsize-xxs bold': true, 'spacer': !isColumnSort(columnName)}"><ng-content></ng-content></span>
    </hca-tooltip>
</ng-template>
