/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Component for table header title.
 */
@import "../../site/theme/cgl.vars";

:host {
    color: $hca-black;
    padding-bottom: 2px;

    /* Default header alignment - left */
    span {
        display: block;
        text-align: left;

        /* Required for headers without MatSort */
        &.spacer {
            padding-left: 16px;
        }
    }

    /* Organ column only */
    .column-organ {
        display: block;
        text-align: left;

        hca-tooltip, span {
            display: inline-block;
        }

        /* "/" separator */
        > span {
            padding: 0 4px;
        }
    }
}

/* Title - right aligned if column is right aligned */
:host-context(.right) {

    span {
        text-align: right;
    }
}

/* Title - centered if column is centered */
:host-context(.center) {

    span {
        text-align: center;

        &.spacer {
            padding: 0;
        }
    }
}
