/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table cell - with download file function.
 *
 * ViewEncapsulation is disabled.
 *
 */
@import "../../site/theme/cgl.vars";

/* TODO Mim - review use of .file-download */
.file-download {
    align-items: center;
    color: $hca-gray-dark;
    display: flex;
    margin: 0 8px 0 16px ;
    padding: 4px 0;
    width: calc(100% - 16px);

    .fontsize-xxs {
        margin: 0;
    }

    /* Break word if no spaces in data */
    &.truncate {
        word-break: break-all;
    }
}
