/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying project matrix analysis portal link.
 */

:host {
    position: relative;
}

/* Logos */
a {
    display: inline-flex; /* Wrap neatly around img */
    margin-right: 8px;
}

/* Analysis portals logos. Matches none icon in parent component. */
img {
    height: 16px;
    width: 16px;
}

/* Tooltip */
:host {
    .mat-tooltip {
        margin: 0;
    }
}
