<ng-container *ngIf="state$ | async as state">
    <hca-section-title>
        <ng-container title>{{getTitle()}}</ng-container>
    </hca-section-title>
    <hca-tab [tabs]="getDataTabs(state.selectedEntity)" [activeTab]="getActiveTab()"
             (tabSelected)="onTabSelected($event)"></hca-tab>
    <div class="wrapper">
        <div class="get-data">
            <div>
                <ng-container [ngSwitch]="viewState">
                    <ng-container *ngSwitchDefault>
                        <div *ngIf="state.matrixSupportedLoaded" [@fadeIn]>
                            <hca-get-data-downloads [disableFeature]="state.disableFeature"
                                                    [matrixEnabled]="state.matrixSupported"
                                                    [matrixSpeciesSelectionRequired]="state.matrixSpeciesSelectionRequired"
                                                    (downloadSelected)="onDownloadSelected($event)"></hca-get-data-downloads>
                        </div>
                        <div class="spinner-container" *ngIf="!state.matrixSupportedLoaded">
                            <mat-spinner *ngIf="true"
                                         class="hca-spinner hca-spinner-grey"
                                         diameter="32"></mat-spinner>
                        </div>
                    </ng-container>
                    <hca-get-matrix-species-selection *ngSwitchCase="'MATRIX_SPECIES_SELECTION'"
                                                      [speciesFileFacet]="getSpeciesFileFacet(state.filesFacets)"
                                                      (speciesSelected)="onDownloadSelected('MATRIX')"></hca-get-matrix-species-selection>
                    <hca-get-matrix *ngSwitchCase="'MATRIX'"></hca-get-matrix>
                    <hca-get-manifest *ngSwitchCase="'MANIFEST'"></hca-get-manifest>
                    <hca-export-to-terra *ngSwitchCase="'TERRA'"></hca-export-to-terra>
                </ng-container>
            </div>
            <hca-get-data-summary [loaded]="!!state.filesFacets.length"
                                  [selectedDiseases]="listSelectedDiseases(state.filesFacets)"
                                  [selectedDonorDiseases]="listSelectedDonorDiseases(state.filesFacets)"
                                  [selectedGenusSpecies]="listSelectedGenusSpecies(state.filesFacets)"
                                  [selectedLibraryConstructionApproaches]="listSelectedLibraryConstructionApproaches(state.filesFacets)"
                                  [selectedOrgans]="listSelectedOrgans(state.filesFacets)"
                                  [selectedOrganParts]="listSelectedOrganParts(state.filesFacets)"
                                  [selectedPairedEnds]="listSelectedPairedEnds(state.filesFacets)"
                                  [viewState]="viewState"></hca-get-data-summary>
        </div>
    </div>
</ng-container>
