<ng-container *ngIf="state$ | async as state">
    <hca-section-title>
        <ng-container title>{{getTitle()}}</ng-container>
    </hca-section-title>
    <hca-tab [tabs]="getDataTabs(state.selectedEntity)" [activeTab]="getActiveTab()"
             (tabSelected)="onTabSelected($event)"></hca-tab>
    <div class="wrapper">
        <div class="get-data">
            <div>
                <ng-container [ngSwitch]="viewState">
                    <ng-container *ngSwitchDefault>
                        <hca-get-data-downloads (downloadSelected)="onDownloadSelected($event)"></hca-get-data-downloads>
                    </ng-container>
                    <bulk-download *ngSwitchCase="'BULK_DOWNLOAD'" (manifestDownloadSelected)="onDownloadSelected($event)"></bulk-download>
                    <hca-get-manifest *ngSwitchCase="'MANIFEST'"></hca-get-manifest>
                    <hca-export-to-terra *ngSwitchCase="'TERRA'"></hca-export-to-terra>
                </ng-container>
            </div>
            <hca-get-data-summary [loaded]="!!state.filesFacets.length"
                                  [selectedDiseases]="listSelectedDiseases(state.filesFacets)"
                                  [selectedDonorDiseases]="listSelectedDonorDiseases(state.filesFacets)"
                                  [selectedGenusSpecies]="listSelectedGenusSpecies(state.filesFacets)"
                                  [selectedLibraryConstructionApproaches]="listSelectedLibraryConstructionApproaches(state.filesFacets)"
                                  [selectedOrgans]="listSelectedOrgans(state.filesFacets)"
                                  [selectedOrganParts]="listSelectedOrganParts(state.filesFacets)"
                                  [selectedPairedEnds]="listSelectedPairedEnds(state.filesFacets)"></hca-get-data-summary>
        </div>
    </div>
</ng-container>
