/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Custom, CGL-specific overrides of Material Design toolbar nav. Mobile first.
 */
@import "../../site/theme/cgl.vars";

/**
 * CGL toolbar nav
 */

:host, cc-toolbar-nav {
    display: none;
}

/**
 * Extra small, small
 */
@media (max-width: 1199px) {

    /**
     * Default state
     */
    :host, cc-toolbar-nav {
        background-color: $hca-white;
        border-bottom: 1px solid $hca-gray-light;
        left: 0;
        padding-bottom: 12px;
        position: fixed;
        right: 0;
        text-align: center;
        top: 60px;
        z-index: 100;
    }

    /**
     * Open menu state - display nav
     */
    .toolbar-menu-open {

        :host, cc-toolbar-nav {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }
}

/**
 * Large +
 */
@media (min-width: 1200px) {

    // Always display nav on medium + devices
    :host, cc-toolbar-nav {
        display: flex;
        flex-direction: row;
    }
}
