<pop-layout>
    <ng-container title>Explore Project</ng-container>
    <ng-container content>
        <div class="text-container">
            <h2 class="fontsize-xl">Project Withdrawn</h2>
            <p class="fontsize-m">The project you are requesting has been withdrawn from the HCA DCP due to a GDPR request.</p>
            <p *ngIf="!!redirectUrl" class="fontsize-m">The project can now be accessed at <a [href]="redirectUrl"
                                                                                              target="_blank">{{redirectUrl}}</a>.</p>
        </div>
    </ng-container>
</pop-layout>
