/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Global variables, use by including this file into individual component style sheets.
 */

/**
 * HCA-specific colors
 */
$hca-black: #000000;
$hca-blue-background: #F4F7F9;
$hca-orange: #E8AA45;
$hca-secondary: #00D0F4;
$hca-secondary-hover: #00B7DB;
$hca-gray-darkest: #333333;
$hca-gray-dark: #666666;
$hca-gray-medium: #999999;
$hca-gray-light: #CCCCCC;
$hca-gray-lightest: #EAEAEA;
$hca-off-white: #F8F8F8;
$hca-primary: #1C7CC7;
$hca-primary-hover: #0363AE;
$hca-white: #FFFFFF;

/**
 * Material Design media break points
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 **/
$md-xl-min: 1920px;
$md-lg-min: 1280px;
$md-lg-max: $md-xl-min - 1;
$md-md-min: 960px;
$md-md-max: $md-lg-min - 1;
$md-sm-min: 600px;
$md-sm-max: $md-md-min - 1;
$md-xs-max: $md-sm-min - 1;

/**
 * HCA-specific breakpoints
 */
$hca-md-min: 1200px;
$hca-sm-max: $hca-md-min - 1;
