/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Global variables, use by including this file into individual component style sheets.
 */

/**
 * CSS variables allowing for environment-specific overrides.
 */
:root {
    --color-blue-background: #f4f7f9;
    --color-orange: #e8aa45;
    --color-primary: #1c7cc7;
    --color-secondary: #00d0f4;
    --color-secondary-hover: #00b7db;
}

/**
 * LungMAP-specific overrides.
 */
.lungmap {
    --color-blue-background: #003662;
    --color-primary: #005295;
    --color-secondary: #00a8ba;
    --color-secondary-hover: #007e8a;
}

/**
 * HCA-specific colors
 */
$hca-black: #000000;
$hca-blue-background: var(--color-blue-background);
$hca-blue-darkest: #1f6b9a;
$hca-blue-light: #daf0f6;
$hca-orange: var(--color-orange);
$hca-orange-hover: #cf912c;
$hca-secondary: var(--color-secondary);
$hca-secondary-hover: var(--color-secondary-hover);
$hca-gray-darkest: #333333;
$hca-gray-dark: #666666;
$hca-gray-medium: #999999;
$hca-gray-light: #cccccc;
$hca-gray-lightest: #eaeaea;
$hca-off-white: #f8f8f8;
$hca-primary: var(--color-primary);
$hca-primary-hover: #0363ae;
$hca-white: #ffffff;

/**
 * Colors
 */
$ink-light: #637381;
$ink-main: #212B36;
$primary-dark: #005EA9;
$smoke-dark: #C4CDD5;
$smoke-light: #F6F6F7;
$smoke-main: #E1E3E5;

/**
 * Blacks
 */
$black-3: rgba(0, 0, 0, 0.03);
$black-6: rgba(0, 0, 0, 0.06);
$black-38: rgba(0, 0, 0, 0.38);

/**
 * Elevation
 */
$elevation-1: 0 1px 4px 0 #00000012;

/**
 * Material Design media break points
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 **/
$md-xl-min: 1920px;
$md-lg-min: 1280px;
$md-lg-max: $md-xl-min - 1;
$md-md-min: 960px;
$md-md-max: $md-lg-min - 1;
$md-sm-min: 600px;
$md-sm-max: $md-md-min - 1;
$md-xs-max: $md-sm-min - 1;

/**
 * HCA-specific breakpoints
 */
$hca-md-min: 1200px;
$hca-sm-max: $hca-md-min - 1;

/**
 * Mixins
 */

/* Match DP font styles */
@mixin dp-font {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 300;
}
