/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Global styles, specific to HCA. Included in core hca.theme style sheet.
 */

@import "hca.vars";

@mixin a-primary() {
    color: $hca-primary;
    &:hover {
        color: $hca-primary-hover;
    }
}
a {
    @include a-primary();
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important; /** important required for overriding MD **/
}

/**
 * List elements.
 */

ul, ol {

    // Position bullets inline (vertically) with text
    margin-bottom: 1.6rem;
    padding-left: 1.6rem;

    li:not(:last-child) {
        margin-bottom: 0.8rem;
    }
}

/**
 * Typography
 */

/** Add "missing" typography styles to match Sketch option for md-caption */
.md-caption {
    &.secondary {
        color: rgba(0, 0, 0, 0.54);
    }
}

/** Add "missing" typography styles to match Sketch option for md-subhead */
.md-subhead {
    &.secondary {
        color: rgba(0, 0, 0, 0.54);
    }
}

/** Add "missing" typography styles to match Sketch option for md-subhead */
.md-body-1 {
    &.secondary {
        color: rgba(0, 0, 0, 0.54);
    }
}

/* HCA paragraph font class "fontsize-xxs" */
.fontsize-xxs {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0 0 4px;

    /* Bold */
    &.bold {
        font-weight: 600;
    }

    /* Semi bold */
    &.semi-bold {
        font-weight: 500;
    }
}

/* HCA paragraph font class "fontsize-xs" */
.fontsize-xs {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 20px;
    margin: 0 0 8px;

    /* Semi bold */
    &.semi-bold {
        font-weight: 500;
    }

    /* Bold */
    &.bold {
        font-weight: 600;
    }
}

/* HCA paragraph font class "fontsize-s" */
.fontsize-s {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0 0 12px;

    /* Bold */
    &.bold {
        font-weight: 600;
    }

    /* Semi bold */
    &.semi-bold {
        font-weight: 500;
    }
}

/* HCA paragraph font class "fontsize-m" */
@mixin fontsize-m {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 28px;
    margin: 0 0 18px;
}
p.fontsize-m, ul.fontsize-m, ol.fontsize-m, span.fontsize-m, a.fontsize-m {
    @include fontsize-m;
}

/* HCA paragraph font class "fontsize-l" */
.fontsize-l {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 30px;
    margin: 0 0 24px;
}

/* HCA h4 font class "fontsize-m" */
h4.fontsize-m {
    font-family: "din-2014", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 22px;
    margin: 14px 0 16px;

    &.semi-bold {
        font-weight: 600;
    }
}

/* HCA h3 font class "fontsize-l" */
h3.fontsize-l {
    font-family: "din-2014", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 16px 0 18px;
}

/* HCA h2 font class "fontsize-xl" */
h2.fontsize-xl {
    font-family: "din-2014", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 24px 0 8px;
}

/**
* Horizontal rule
*/

hr {
    background-color: rgba(0, 0, 0, 0.12); // MD divider
    border: 0;
    height: 1px;
}

/**
 * Buttons
 */

/** Override MD default focus style of buttons */
button {

    /* HCA Button */
    &.button {
        align-items: center;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        color: $hca-white;
        display: flex;
        flex-shrink: 0;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 600;
        height: 38px; /* HCA specific style */
        justify-content: center;
        letter-spacing: 0.21px; /* HCA specific style */
        min-width: 84px;
        padding: 0 12px;
        transition: background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
        white-space: nowrap;

        /* Primary */
        &.primary {
            background-color: $hca-secondary;

            /* Hover */
            &:not([disabled]):hover {
                background-color: $hca-secondary-hover;
            }
        }

        /* Secondary */
        &.secondary {
            background-color: $hca-primary;

            /* Hover */
            &:not([disabled]):hover {
                background-color: $hca-primary-hover;
            }
        }

        &.size-s {
            font-size: 12px;
            height: 28px;
        }

        /* HCA Outline Button */
        &.outline {
            background-color: transparent;
            border: 1px solid $hca-secondary;
            color: $hca-secondary;

            /* Hover */
            &:not([disabled]):hover {
                border: 1px solid $hca-secondary-hover;
                color: $hca-secondary-hover;
            }
        }

        /* Icon, copy to clipboard */
        img {
            margin-left: -6px;
            max-height: 20px;
            padding: 0 6px;
        }

        /* Hover */
        &:not([disabled]):hover, &:not(.secondary):hover {
            //background-color: $hca-secondary-hover;
        }

        /* Disabled */
        &[disabled] {
            background-color: $hca-gray-lightest;
        }
    }

    /* Every second button has a margin */
    &:nth-of-type(2n) {
        margin: 0 8px;
    }

    &:focus {
        outline: none;
    }
}

/**
 * Prevents scroll on body when facet is open, or hamburger is open. 
 */
.no-scroll {
    left: 0;
    position: fixed;
    right: 0;
}

/**
 * Styles for tooltip - must be global. Usage:
 *
 * <...matTooltip="tooltip text" matTooltipClass="tooltip".../>
 */
.tooltip.mat-tooltip {
    background-color: $hca-black;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.18px;
    line-height: 16px;
    padding: 8px;
    z-index: 3;
}

.tooltip.tooltip-small.mat-tooltip {
    line-height: 12px;
    padding: 6px;
}

/**
 * Material overrides
 */

/* Add padding to the select label and select arrow */
.mat-select-trigger {
    padding: 0 12px 0 16px;
}

/* Match DP font styles */
.mat-select-panel-dp .mat-option {
    @include dp-font();
    -webkit-font-smoothing: auto;
}


.mat-select-panel-dp .mat-option.mat-selected {
    background-color: #1c7cc7 !important;
    color: $hca-white;
}

.mat-select-panel-dp .mat-option:hover {
    background-color: $hca-blue-light;
}


/* Overrides styles for Angular Spinner (mat-spinner) */
.hca-spinner circle {
    stroke: $hca-secondary;
}

.hca-spinner.hca-spinner-grey circle {
    stroke: $hca-gray-lightest;
}

/* Overrides styles for Angular Radio Button (mat-radio-button) */
.hca-radio .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $hca-secondary;
}

/* Overrides styles for Angular Radio Button (mat-radio-button) */
.hca-radio .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $hca-secondary;
}

.hca-radio.term .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle, .hca-radio.term .mat-radio-outer-circle {
    border-color: $hca-gray-light;
}

/* Overrides styles for Angular Radio Button (mat-radio-button) */
.hca-radio.term .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $hca-primary;
}

.hca-radio .mat-radio-label {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

/* Term radio button label */
.hca-radio.term .mat-radio-label {
    font-size: 13px;
}
