/**
 * HCA Material Design theme -
 *
 * Primary palette: blue
 * Accent palette: light blue
 * Warning palette: red
 *
 * Theme based on instructions found at: https://github.com/angular/material2/blob/master/docs/theming.md
 */
@use "@angular/material" as mat;

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat.core();

// Palettes definitions for theme using the Material Design palettes available in palette.scss
// (imported above).
$app-primary: mat.define-palette(mat.$blue-palette);
$app-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
@include mat.all-component-themes($app-theme);

// Include global HCA styles.
@import "hca.global";
