/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facet term list styles, displayed inside MD menu.
 */
@import "../../shared/theme/cgl.vars";

/** Individual facet term rows (checkbox, title, count) */
:host {

    .facet-term {
        align-items: start; // Align checkbox, term name and count to top (to allow for terms with long names that span multiple line) 
        cursor: pointer;
        padding: 6px 0;
        //width: 100%; // Overrides any flex wrap on terms for small cards

        /* Select box */
        .chart-legend-bar {
            border: 1px solid $hca-gray-light;
            border-radius: 3px;
            flex-shrink: 0;
            height: 13px;
            margin-right: 8px;
            position: relative; /* Positions check */
            width: 13px;

            /* Check */
            mat-icon {
                color: $hca-white;
                font-size: 10px;
                height: 10px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 10px;
            }
        }

        .term-summary {
            align-items: flex-start;
            display: flex; // Spit title and count (with justify-content) to be left and right aligned
            flex: 1; // Always set term and count to consume remaining space (excluding checkbox)
            justify-content: space-between;
            min-width: 0; /* Fix ellipses bleeding into count Fix ellipses bleeding into count (see https://css-tricks.com/flexbox-truncated-text/) */

            /* Term name */
            .term-name {
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 13px;
                flex: 1; // Always title to consume remaining space (excluding count)

                /** Truncate long term names - where term names are not spaced */
                &.truncate {
                    word-break: break-all;
                }
            }

            /* Term count */
            .term-count {
                color: $hca-gray-medium;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 13px;
                flex-basis: 36px; // Always set width of count to 36px
                flex-shrink: 0;
                text-align: right;
                //line-height: 16px; // Match line height of term name (for vertical alignment)
            }
        }
    }
}

/* Filter select boxes */
:host-context(.hca-options, .hca-options-small) {

    .facet-term .term-summary {
        margin-top: -3px;

        .term-name, .term-count {
            line-height: 18px;
        }
    }
}

