<div class="facet-term layout-row ng-scope layout-row layout-align-space-between-center"
     *ngFor="let term of getDisplayList();trackBy: trackByFn"
     (click)="onClickFacetTerm(fileFacet, term)">
    <div class="chart-legend-bar" [ngStyle]="getLegendStyle(term)">
        <mat-icon *ngIf="term.selected">check</mat-icon>
    </div>
    <div class="term-summary">
        <div class="term-name" [ngClass]="getTruncatedClass(term.name)">
                <span matTooltip="{{term.name}}"
                      matTooltipPosition="above"
                      matTooltipShowDelay="150"
                      matTooltipClass="hca-tooltip narrow"
                      matTooltipDisabled="{{!isFacetProject(fileFacet)}}">{{term.name}}
                </span>
        </div>
        <div matTooltip="{{term.count | localeString}}"
             matTooltipPosition="above"
             matTooltipShowDelay="150"
             matTooltipClass="hca-tooltip count"
             matTooltipDisabled="{{isDisabled(term.count)}}"
             class="term-count md-caption secondary">{{term.count | countSize}}
        </div>
    </div>
</div>
