<mat-toolbar *ngIf="state$ | async as state" [ngClass]="{'modal-open': state.modalOpen}">
    <a class="logo" href="https://lungmap.net/" *ngIf="!state.modalOpen">
        <img src="assets/lungmap/images/logos/logo-lungmap.png"/>
    </a>
    <a class="logo" [routerLink]="['/projects']" queryParamsHandling="preserve" *ngIf="state.modalOpen">
        <img src="assets/lungmap/images/logos/logo-lungmap.png"/>
    </a>
    <toolbar-nav *ngIf="isToolbarNavOpen(state.menuOpen)">
        <nav-links>
            <nav-link class="text-body-500">
                <a [routerLink]="['/projects']" queryParamsHandling="preserve"
                   (click)="onExploreLinkClicked()">Explore</a>
            </nav-link>
            <nav-link class="text-body-500">
                <a href="{{portalUrl}}/metadata">Metadata</a>
            </nav-link>
            <nav-link class="text-body-500">
                <a href="{{portalUrl}}/apis">APIs</a>
            </nav-link>
        </nav-links>
        <socials>
            <social-icon-button [url]="'https://twitter.com/lungmapnet'">
                <twitter-icon></twitter-icon>
            </social-icon-button>
        </socials>
    </toolbar-nav>
    <toolbar-actions>
        <search-button (click)="onSearchOpen()"></search-button>
        <hamburger [ngSwitch]="state.menuOpen">
            <close-icon *ngSwitchCase="true"></close-icon>
            <menu-icon *ngSwitchDefault></menu-icon>
        </hamburger>
    </toolbar-actions>
</mat-toolbar>
<portal-search *ngIf="searchOpen" [searchOpen]="searchOpen" (searchClosed)="onSearchClose()"></portal-search>
