/*
 * LungMAP
 * https://lungmap.net/
 *
 * HCA-specific overrides of Material Design toolbar.
 */

@import "../../theme/hca.vars";

/**
 * Custom HCA-specific overrides of MD toolbar.
 */

:host {
    display: block;
}

mat-toolbar {
    color: $hca-white;
    background-color: $hca-primary;
    min-height: 60px !important; /* HCA specific */
    position: relative; /* Positions overlay, nav-toolbar */

    mat-toolbar-row {
        align-items: center;
        display: flex;
        height: 60px !important; /* HCA specific */
        justify-content: space-between; /* RHS menu */
        margin: 0 auto;
        padding: 0 16px; /* Gutter 16px */

        /* Wrapper around logo */
        > a {
            line-height: 0;
        }
    }

    /* Logo */
    img {
        height: 30px;
    }
    
    toolbar-nav {
        padding: 12px 0;
        z-index: 101; /* Positioned above hamburger-overlay */
    }

    /* Hamburger */
    hamburger .fontsize-s {
        margin-bottom: 0;
    }
    
    /* Active navigation */
    toolbar-nav-item.active .link {
        color: $hca-secondary;
        opacity: 1;
        text-decoration: none;
    }

    /* Nav link - wrapper */
    toolbar-nav-item .link {
        align-items: flex-start;
        color: $hca-black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 24px;
        text-transform: capitalize;

        /* Nav link - hover state */
        &:hover {
            color: $hca-secondary;
            opacity: 1;
        }

        /* Title */
        .fontsize-xs {
            font-weight: 600;
            margin: 0 0 4px;
        }

        /* Sub title */
        .fontsize-xxs {
            letter-spacing: 1.2px;
            margin: 0;
            text-align: left;
            text-transform: none;
            white-space: pre-wrap;
        }
    }

    /* Nav drop down button */
    toolbar-nav-item button.link {
        background-color: transparent;
        border: none;
        cursor: default;
        padding: 0;
        pointer-events: none;
    }

    /** Logo in modal */
    &.modal-open {

        background-color: $hca-primary;
        position: fixed;
        top: 0;
        z-index: 1001;

        mat-toolbar-row > *:not(a) {
            display: none;
        }
    }
}
/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 840px) {

    mat-toolbar {

        toolbar-nav {
            padding: 0;
        }

        /* Link wrapper */
        toolbar-nav-item {
            padding: 0 10px;

            &.active .link {
                color: $hca-white;
            }

            /* Link */
            .link {
                color: $hca-white;
                opacity: .8;
                text-transform: capitalize;
                margin: 0;

                /* Title */
                .fontsize-xs {
                    font-size: 14px;
                    line-height: 60px;
                    margin: 0;
                    white-space: nowrap;
                }

                /* Sub title - hide */
                .fontsize-xxs {
                    display: none;
                }
                
                &:hover {
                    color: $hca-white;
                }
            }
        }

        /* Nav drop down button */
        toolbar-nav-item button.link {
            cursor: pointer;
            pointer-events: auto;
        }
    }
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

    mat-toolbar {

        img {
            height: 40px;
        }

        toolbar-nav-item {
            padding: 0 12px;
        }
    }
}

/**
 * Large
 */
@media (min-width: 1200px) {

    mat-toolbar {

        mat-toolbar-row {
            padding: 0 30px; /* Gutter 30px */
        }
    }
}
