/*
 * LungMAP
 * https://lungmap.net/
 *
 * HCA-specific overrides of Material Design toolbar.
 */

@import "../../theme/hca.vars";

/**
 * Custom HCA-specific overrides of MD toolbar.
 */

mat-toolbar {
    align-items: center;
    background-color: $hca-white;
    box-shadow: $elevation-1;
    color: $ink-main;
    display: flex;
    gap: 0 16px;
    height: 56px;
    padding: 0 12px;
    position: relative; /* Positions search. */

    /* Logo */
    .logo {
        line-height: 0;

        img {
            height: 32px;
        }
    }

    /* Nav link */
    nav-link a {
        color: $ink-main;
        font-weight: 500;
    }

    /** Modal - metadata, matrices download */
    &.modal-open {
        box-shadow: none;
        position: fixed;
        top: 0;
        z-index: 1001;

        toolbar-nav,
        toolbar-actions {
            display: none; /* Hide toolbar tools and nav bar */
        }
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1440px) {
    mat-toolbar {
        padding: 0 16px;
    }
}
