/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Facets form styles.
 */

@import "../../shared/theme/cgl.vars";

:host {

    .md-title {
        margin: 0;
    }

    .dialog-subtitle {
        display: flex;
        justify-content: space-between;
    }

    /** Override default MD left/right margin to align DONE button with checkboxes */
    [md-dialog-actions] {
        margin-left: -24px;
        margin-right: -24px;
    }
}