/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project release detail component.
 */

@import "../../site/theme/hca.vars";

:host {
    display: block;
    max-width: 1090px; /* Snap table at max width */
}

/* Title */
h2 {
    margin: 14px 0 24px;
}

/* Styles */

/* Max widths */
/* 600px */
.max600 {
    max-width: 600px;
}

