<h2 class="fontsize-xl">2020 March Data Release</h2>
<p class="fontsize-s max600">Projects stratified by developmental stage, organ and library technology, and annotated with cell type, were processed with a common pipeline to produce the datasets and analyses listed below. Please see the <a href="{{portalUrl}}/releases/2020-mar">release documentation</a> for details about this release.</p>
<release-table *ngIf="state$ | async as state"
               [columnsToDisplay]="columnsToDisplay"
               [releaseOrganViews]="state.releaseOrganViews"></release-table>
