/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for matrix URL request form.
 */

/* File format */
.file-format {
    margin: 24px 0 32px;

    mat-radio-group {
        display: flex;
        margin-top: 8px;
    }

    mat-radio-button {
        padding-right: 16px;
    }
}
