/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for file download.
 */

@import "../../site/theme/cgl.vars";

:host {
    margin-bottom: 8px;
}

:host, a {
    align-items: baseline;
    display: flex;
}

a {
    margin: 0;
    padding-right: 16px;
}

img {
    height: 16px;
}

span {
    color: #000000;
    margin-left: 8px;
}
