/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project detail component.
 */

@import "../../site/theme/hca.vars";

:host {
    /* Content container */
    div[content] {
        flex: 1;
        padding: 30px 32px 36px 0; /* 32px to allow for feedback button */
    }
}

/* Project Title */
.project-title {
    /* Project title */
    /* Styled similar to h2 fontsize-xl */
    h1 {
        display: inline-block;
        font-family: "din-2014", sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        margin: 0 0 8px;
        max-width: 600px;
    }

    /* Select project */
    .select-project {
        align-items: center;
        cursor: pointer;
        display: flex;

        /* Select box */
        .box {
            border: 1px solid $hca-gray-light;
            border-radius: 3px;
            flex-shrink: 0;
            height: 13px;
            margin-right: 8px;
            position: relative; /* Positions check */
            width: 13px;

            /* Selected */
            &.selected {
                border-color: #1f6b9a;
                background-color: $hca-primary;
            }

            /* Check */
            mat-icon {
                color: $hca-white;
                font-size: 10px;
                height: 10px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 10px;
            }
        }

        /* Select text */
        span {
            color: $hca-secondary;
            margin: 0;
        }
    }
}

.project-downloads-container {
    max-width: 600px;
}

/* Data use */
section-bar {
    max-width: 600px;
}
