<ng-container *ngIf="state$ | async as state"> 
    <pop-layout [tabs]="getProjectDetailTabs(state.selectedEntity)" (tabSelected)="onTabSelected($event)" *ngIf="state.loaded">
        <ng-container title>Explore Project</ng-container>
        <project-nav nav></project-nav>
        <div content>
            <status-panel class="project-title">
                <h2 class="fontsize-xl">{{state.project.projectTitle}}</h2>
                <div class="select-project"
                     (click)="onProjectSelected(state.projectSelected, state.project.entryId, state.project.projectShortname)">
                    <div [ngClass]="getLegendClass(state.projectSelected)">
                        <mat-icon *ngIf="state.projectSelected">check</mat-icon>
                    </div>
                    <span class="fontsize-xs">Select Project</span>
                </div>
            </status-panel>
            <router-outlet></router-outlet>
        </div>
    </pop-layout>
</ng-container>
