/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Toolbar socials styles.
 */

:host {
    align-items: center;
    display: flex;
    gap: 0 8px;
    padding: 12px;
}

/* ToolbarToolsComponent */
:host-context(toolbar-tools) {
    display: none;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 840px) {
    :host {
        margin-right: -8px;
        padding: 0;
    }

    /* ToolbarToolsComponent */
    :host-context(toolbar-tools) {
        display: flex;
    }

    /* Class ".nav-bar" HCAToolbarComponent */
    :host-context(.nav-bar) {
        display: none;
    }
}
