/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * HCA section title styles.
 */
@import "../../site/theme/cgl.vars";

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 16px; /* Gutter 16px */

    /* Title */
    .section-title {
        align-items: center;
        display: flex;
        font-family: "din-2014", sans-serif; /* TODO typography */
        font-size: 34px; /* TODO typography */
        font-weight: 500; /* TODO typography */
        min-height: 76px;
        justify-content: space-between;
        letter-spacing: 0.54px; /* TODO typography */
        width: 100%;
    }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        padding: 0 30px;
    }
}

