/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Toolbar nav drop down styles.
 */

@import "../../site/theme/hca.vars";

/* Nav drop down - hide */
:host {
    display: none;
}

.toolbar-nav-drop-down {
    background-color: $hca-white;
    border: 1px solid $hca-gray-lightest;
    border-radius: 4px;
    left: 0;
    padding: 8px 0;
    position: absolute;
    top: 46px;
    width: 100%;
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 1200px) {

    /* Nav drop down - show */
    :host {
        display: block;
    }
}
