/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for table - file related data.
 */
@import "../../shared/theme/cgl.vars";

:host {
    height: 100%; /* Table to take up remaining space - positions mobile download banner to bottom hca-download-manifest */
    position: relative; /* Positions fade on horizontal scroll */

    /* Fade on horizontal scroll */
    &::after, &::before {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 16px;
        z-index: 8;
    }

    /* Fade on horizontal scroll RHS */
    &::after {
        background: linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255, 255, 255, 0.00) 100%); /* TODO confirm */
        right: 0;
    }

    /* Fade on horizontal scroll LHS */
    &::before {
        background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255, 255, 255, 0.00) 100%); /* TODO confirm */
        left: 0;
    }
}

/* Wrapper */
.wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: auto; /* Horizontal scroll */
    -ms-overflow-style: -ms-autohiding-scrollbar; // Hide scrollbar in IE unless actively scrolling.
    margin-top: 4px;
    padding: 0 16px; /* Gutter 16px - margin to maintain RHS gutter in mobile view */

    /* HCA table */
    .hca-table {
        margin: 0 -16px;
        padding: 0 16px;
        width: 100%; /* To take up full width of screen */

        mat-table {
            min-width: 1140px; /* Fixed table width for horizontal scroll - snap at 1200px */

            mat-row, mat-header-row {
                padding: 0 12px; /* Total left and right padding is 16px */
            }

            mat-header-row {
                background-color: $hca-white;
                border-bottom: 2px solid $hca-gray-light;
            }

            mat-row {
                border-bottom: 1px solid $hca-gray-lightest;
                position: relative; /* Positions file download information */
            }

            mat-header-cell {
                color: $hca-black;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 12px; /* TODO typography */
                font-weight: 600; /* TODO typography */
                letter-spacing: 0.36px; /* TODO typography */
                line-height: 18px; /* TODO typography */
                overflow: visible; /* Provides visibility for sort arrow */
                position: relative; /* Positions sort arrow */
            }

            mat-cell {
                color: $hca-gray-dark;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 12px; /* TODO typography */
                font-weight: 400; /* TODO typography */
                line-height: 18px; /* TODO typography */

                /* Ellipsis on cell text - excludes file name, project and specimen id */
                &:not(.file-name):not(.project):not(.specimen) > div {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                /* File name, project, specimen id - wrap data */
                &.file-name > div, &.project > div, &.specimen > div {
                    overflow: visible;
                    padding: 8px 0;
                    white-space: normal;

                    /* Break word if no spaces in data */
                    &.truncate {
                        word-break: break-all;
                    }
                }

                /* Hides ellipsis tooltip - Safari only */
                > div:after {
                    content: '';
                    display: block;
                }

                /* File Name */
                &.file-name {
                    display: flex;
                }
            }

            mat-cell, mat-header-cell {
                flex: 0 1 10%;
                padding-left: 4px;
                padding-right: 4px;

                /* File Name */
                &.file-name {
                    flex: 1 1 20%;
                }

                /* Specimen id */
                &.specimen {
                    flex: 0 1 12%;
                }

                /* File size and format */
                &.file-size, &.file-format {
                    max-width: 80px;
                }

                /* Project Name */
                &.project {
                    flex: 0 1 25%;
                }

                /* Table header text alignment */
                /deep/ .mat-sort-header-button {
                    flex: 1;
                    line-height: 18px; /* TODO typography */
                    text-align: left !important;
                }

                /* Sort icon - reposition to upper left of title */
                /deep/ .mat-sort-header-arrow {
                    left: -8px;
                    margin: 0;
                    position: absolute;
                }
            }
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    :host {

        /* Hide fade on larger screens */
        &::after, &::before {
            display: none;
        }
    }

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        padding: 0 30px; /* Gutter 30px */

        .hca-table mat-table {

            /* Snapped header row */
            mat-header-row.snapped {
                left: 30px;
                position: fixed;
                right: 30px;
                top: 0;
                z-index: 20;
            }

            /* Snapped first row */
            mat-row.snapped {
                padding-top: 58px;
            }
        }
    }
}

