/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for table - file related data.
 */
@import "../../shared/theme/cgl.vars";

:host {
    display: flex;
    height: 100%; /* Table to take up remaining space */
    min-height: 0; /* Firefox overflow */
    position: relative; /* Positions fade on horizontal scroll */

    /* Fade on horizontal scroll */
    &::after, &::before {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 16px;
        z-index: 8;
    }

    /* Fade on horizontal scroll RHS */
    &::after {
        background: linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255, 255, 255, 0.00) 100%); /* TODO confirm */
        right: 0;
    }

    /* Fade on horizontal scroll LHS */
    &::before {
        background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255, 255, 255, 0.00) 100%); /* TODO confirm */
        left: 0;
    }
}

/* Wrapper */
.wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto; /* Scroll */
    -ms-overflow-style: -ms-autohiding-scrollbar; // Hide scrollbar in IE unless actively scrolling.
    margin-top: 4px;
    padding: 0 16px; /* Gutter 16px - margin to maintain RHS gutter in mobile view */

    /* HCA table */
    .hca-table {
        margin: 0 -16px;
        padding: 0 16px;
        width: 100%; /* To take up full width of screen */

        /* Pagination */
        .pagination {
            align-items: center;
            color: $hca-gray-dark;
            display: flex;
            font-family: "Montserrat", sans-serif; /* TODO typography */
            font-size: 13px; /* TODO typography */
            font-weight: 600; /* TODO typography */
            height: 56px;
            justify-content: flex-start;
            margin-top: -120px;
            padding: 0 10px; /* Left aligns button with table content */

            /* Pagination button */
            button {
                align-items: center;
                background-color: $hca-white;
                border: none;
                border-radius: 3px;
                color: $hca-primary;
                display: flex;
                flex-shrink: 0;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 11px; /* TODO typography */
                font-weight: 400; /* TODO typography */
                height: 38px; /* HCA specific style */
                letter-spacing: 0.34px; /* TODO typography */
                padding: 0;

                mat-icon {
                    font-size: 18px;
                    height: 18px;
                    width: 18px;
                }

                &:focus {
                    outline: none;
                }
            }

            > span {
                height: 38px; /* Matches button */
                line-height: 36px; /* Bottom aligns text with button text */
                padding: 0 16px;
            }
        }

        mat-table {
            //max-width: 1140px;
            min-width: 1140px; /* Fixed table width for horizontal scroll - snap at 1200px */
            padding-bottom: 120px; /* For file type hover */

            mat-row, mat-header-row {
                padding: 0 12px; /* Total left and right padding is 16px */
            }

            mat-header-row {
                background-color: $hca-white;
                border-bottom: 2px solid $hca-gray-light;
                position: sticky;
                top: 0;
                z-index: 6;
            }

            mat-row {
                border-bottom: 1px solid $hca-gray-lightest;
                position: relative; /* Positions file download information */
            }

            mat-header-cell {
                color: $hca-black;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 12px; /* TODO typography */
                font-weight: 600; /* TODO typography */
                letter-spacing: 0.36px; /* TODO typography */
                line-height: 18px; /* TODO typography */
                overflow: visible;
                position: relative; /* Positions sort arrow */
            }

            mat-cell {
                color: $hca-gray-dark;
                font-family: "Montserrat", sans-serif; /* TODO typography */
                font-size: 12px; /* TODO typography */
                font-weight: 400; /* TODO typography */
                line-height: 18px; /* TODO typography */

                /* Ellipsis on cell text */
                > div {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                /* Hides ellipsis tooltip - Safari only */
                > div:after {
                    content: '';
                    display: block;
                }

                /* File Name */
                &:first-of-type {
                    align-items: baseline;
                    display: flex;
                }
            }

            mat-cell, mat-header-cell {
                flex: 0 1 10%;
                padding-left: 4px;
                padding-right: 4px;

                /* File Name */
                &:first-of-type {
                    flex: 1 1 25%;
                }

                /* Table header text alignment */
                /deep/ .mat-sort-header-button {
                    flex: 1;
                    line-height: 18px; /* TODO typography */
                    text-align: left !important;
                }

                /* Sort icon - reposition to upper left of title */
                /deep/ .mat-sort-header-arrow {
                    left: -8px;
                    margin: 0;
                    position: absolute;
                }
            }
        }
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    :host {

        /* Hide fade on larger screens */
        &::after, &::before {
            display: none;
        }
    }

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        //max-width: 1140px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px; /* Gutter 30px */
    }
}

