<div class="wrapper">
    <div class="hca-table files">
        <mat-table *ngIf="pagination$ | async; let pagination" #table [dataSource]="tableElementDataSource" matSort
                   matSortDirection="{{defaultSortOrder.order}}" matSortActive="{{defaultSortOrder.sort}}"
                   (matSortChange)="sortTable(pagination, $event)">
            <ng-container matColumnDef="fileName">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('fileName')" [ngStyle]="getColumnStyle('fileName')">
                    <hca-table-column-header [columnName]="'fileName'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [summaryCount]="(selectFileSummary$ | async).fileCount | countSize"
                                             [tooltipContent]="getColumnDescription('fileName')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('fileName')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element let i=index;" [ngClass]="getColumnClass('fileName')" [ngStyle]="getColumnStyle('fileName')">
                    <div [ngClass]="getFileDownloadClass(element.fileName)">
                        <hca-download-file [file]="element"></hca-download-file>
                        <span class="fontsize-xxs">{{element.fileName}}</span>
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileSize">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('fileSize')" [ngStyle]="getColumnStyle('fileSize')">
                    <hca-table-column-header [columnName]="'fileSize'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [summaryCount]="(selectFileSummary$ | async).totalFileSize | fileSize"
                                             [tooltipContent]="getColumnDescription('fileSize')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('fileSize')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element let i=index;" [ngClass]="getColumnClass('fileSize')" [ngStyle]="getColumnStyle('fileSize')">
                    <hca-table-cell [tooltipContent]="element.fileSize | fileSize" [tooltipDisabled]="true">
                        <span class="fontsize-xxs">{{element.fileSize | fileSize}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileFormat">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('fileFormat')" [ngStyle]="getColumnStyle('fileFormat')">
                    <hca-table-column-header [columnName]="'fileFormat'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('fileFormat')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('fileFormat')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element let i=index;" [ngClass]="getColumnClass('fileFormat')" [ngStyle]="getColumnStyle('fileFormat')">
                    <hca-table-cell [tooltipContent]="element.fileFormat" [tooltipDisabled]="true">
                        <span class="fontsize-xxs">{{element.fileFormat}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectTitle">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('projectTitle')" [ngStyle]="getColumnStyle('projectTitle')">
                    <hca-table-column-header [columnName]="'projectTitle'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [summaryCount]="(selectFileSummary$ | async).projectCount | countSize"
                                             [tooltipContent]="getColumnDescription('projectTitle')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('projectTitle')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('projectTitle')" [ngStyle]="getColumnStyle('projectTitle')">
                    <hca-table-cell [tooltipContent]="element.projectTitle" [tooltipDisabled]="true">
                        <span class="fontsize-xxs">{{element.projectTitle}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="specimenId">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('specimenId')" [ngStyle]="getColumnStyle('specimenId')">
                    <hca-table-column-header [columnName]="'specimenId'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [summaryCount]="(selectFileSummary$ | async).specimenCount | countSize"
                                             [tooltipContent]="getColumnDescription('specimenId')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('specimenId')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('specimenId')" [ngStyle]="getColumnStyle('specimenId')">
                    <hca-table-cell [tooltipContent]="element.specimenId"
                                    [tooltipDisabled]="true">
                        <span class="fontsize-xxs">{{element.specimenId}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sampleEntityType">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('sampleEntityType')">
                    <hca-table-column-header [columnName]="'sampleEntityType'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [columnSort]="true"
                                             [tooltipContent]="getColumnDescription('sampleEntityType')">
                        <hca-table-column-header-title>{{getColumnDisplayName('sampleEntityType')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('sampleEntityType')">
                    <hca-table-cell [tooltipContent]="element.sampleEntityType" [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.sampleEntityType}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organ">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('organ')">
                    <hca-table-column-header [columnName]="'organ'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('organ')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('organ')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('organ')">
                    <hca-table-cell [tooltipContent]="element.organ"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.organ}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organPart">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('organPart')">
                    <hca-table-column-header [columnName]="'organPart'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('organPart')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('organPart')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('organPart')">
                    <hca-table-cell [tooltipContent]="element.organPart"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.organPart}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="selectedCellType">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('selectedCellType')">
                    <hca-table-column-header [columnName]="'selectedCellType'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('selectedCellType')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('selectedCellType')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('selectedCellType')">
                    <hca-table-cell [tooltipContent]="element.selectedCellType"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.selectedCellType}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="libraryConstructionApproach">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('libraryConstructionApproach')">
                    <hca-table-column-header [columnName]="'libraryConstructionApproach'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('libraryConstructionApproach')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('libraryConstructionApproach')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('libraryConstructionApproach')">
                    <hca-table-cell [tooltipContent]="element.libraryConstructionApproach"
                                    [tooltipDisabled]="true">
                            <span class="fontsize-xxs" #cellContent>{{element.libraryConstructionApproach}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pairedEnd">
                <mat-header-cell *matHeaderCellDef
                                 [ngClass]="getColumnClass('pairedEnd')">
                    <hca-table-column-header [columnName]="'pairedEnd'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('pairedEnd')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('pairedEnd')}}
                        </hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"
                          [ngClass]="getColumnClass('pairedEnd')">
                    <hca-table-cell [tooltipContent]="element.pairedEnd" [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <span class="fontsize-xxs" #cellContent>{{element.pairedEnd}}</span>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="genusSpecies">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('genusSpecies')">
                    <hca-table-column-header [columnName]="'genusSpecies'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('genusSpecies')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('genusSpecies')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('genusSpecies')">
                    <hca-table-cell [tooltipContent]="element.genusSpecies"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.genusSpecies}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organismAge">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('organismAge')" [ngStyle]="getColumnStyle('organismAge')">
                    <hca-table-column-header [columnName]="'organismAge'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('organismAge')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('organismAge')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('organismAge')" [ngStyle]="getColumnStyle('organismAge')">
                    <hca-table-cell [tooltipContent]="element.organismAge"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs"
                                  #cellContent>{{getAge(element.organismAge, element.ageUnit)}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="biologicalSex">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('biologicalSex')">
                    <hca-table-column-header [columnName]="'biologicalSex'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('biologicalSex')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('biologicalSex')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('biologicalSex')">
                    <hca-table-cell [tooltipContent]="element.biologicalSex"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.biologicalSex}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="disease">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('disease')">
                    <hca-table-column-header [columnName]="'disease'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [tooltipContent]="getColumnDescription('disease')"
                                             [columnSort]="true">
                        <hca-table-column-header-title>{{getColumnDisplayName('disease')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('disease')">
                    <hca-table-cell [tooltipContent]="element.disease"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.disease}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalCells">
                <mat-header-cell *matHeaderCellDef [ngClass]="getColumnClass('totalCells')">
                    <hca-table-column-header [columnName]="'totalCells'"
                                             [domainCountsByColumnName]="domainCountsByColumnName$ | async"
                                             [summaryCount]="(selectFileSummary$ | async).totalCellCount | countSize"
                                             [tooltipContent]="getColumnDescription('totalCells')"
                                             [columnSort]="false">
                        <hca-table-column-header-title>{{getColumnDisplayName('totalCells')}}</hca-table-column-header-title>
                    </hca-table-column-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="getColumnClass('totalCells')">
                    <hca-table-cell [tooltipContent]="element.totalCells | localeString"
                                    [tooltipDisabled]="isTooltipDisabled(cellContent)">
                        <hca-content-ellipsis>
                            <span class="fontsize-xxs" #cellContent>{{element.totalCells | localeString}}</span>
                        </hca-content-ellipsis>
                    </hca-table-cell>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="getHeaderClass(snapped)"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                     [ngClass]="getRowClass(i, snapped)"></mat-row>
        </mat-table>
        <hca-table-data-status-placeholder [loading]="loading$ | async"
                                           [isData]="data$ | async"></hca-table-data-status-placeholder>
        <hca-table-pagination [isData]="data$ | async"></hca-table-pagination>
    </div>
</div>
