/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table - file related data.
 */
@import "../../site/theme/cgl.vars";

:host {
    height: 100%; /* Table to take up remaining space - positions mobile download banner to bottom hca-download-manifest */
    position: relative; /* Positions fade on horizontal scroll */
}

/* Wrapper */
.wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;

    /* HCA table */
    .hca-table {

        mat-table {

            /* Row - header and cell */
            mat-header-row, mat-row {
                align-items: stretch;
            }

            mat-header-row {
                background-color: $hca-white;
                border-bottom: 2px solid $hca-gray-lightest;
            }

            mat-row {
                border-bottom: 1px solid $hca-gray-lightest;
                position: relative; /* Positions file download information TODO check */
            }

            /* Cell - header and cell */
            mat-header-cell, mat-cell {
                flex: 0 1 10%; /* NB: flex variation to project and samples tables */
                padding: 24px 0 0;
            }

            mat-header-cell {
                align-items: flex-start;
            }

            mat-cell {
                align-items: stretch;

                .fontsize-xxs {
                    margin: 0; /* Required.  Overrides global .fontsize-xxs */
                }

                .file-download {
                    align-items: center;
                    color: $hca-gray-dark;
                    display: flex;
                    margin: 0 8px 0 16px;
                    padding: 4px 0;
                    width: calc(100% - 16px);

                    /* Break word if no spaces in data */
                    &.truncate {
                        word-break: break-all;
                    }
                }
            }
        }
    }
}
