<div class="wrapper">
    <div class="hca-table">
        <mat-table *ngIf="pagination$ | async; let pagination" #table [dataSource]="tableElementDataSource" matSort
                   (matSortChange)="sortTable(pagination, $event)">
            <ng-container matColumnDef="fileName">
                <mat-header-cell class="file-name" *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The filename of the data file."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">File Name</span>
                </mat-header-cell>
                <mat-cell class="file-name" *matCellDef="let element let i=index;">
                    <hca-download-file [file]="element"></hca-download-file>
                    <div #file
                         matTooltip="{{element.fileName}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="{{getTooltipClass(element.fileName)}}"
                         matTooltipDisabled="{{isDisabled(file)}}">{{element.fileName}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileSize">
                <mat-header-cell class="file-size" *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The file size of the data file."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">File Size</span>
                </mat-header-cell>
                <mat-cell class="file-size" *matCellDef="let element let i=index;">
                    <div #fileSize
                         matTooltip="{{element.fileSize}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(fileSize)}}">{{element.fileSize | fileSize}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileFormat">
                <mat-header-cell class="file-format" *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The format of the file."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">File Format</span>
                </mat-header-cell>
                <mat-cell class="file-format" *matCellDef="let element let i=index;">
                    <div #fileFormat
                         matTooltip="{{element.fileFormat}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(fileFormat)}}">{{element.fileFormat}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectTitle">
                <mat-header-cell class="project" *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The project name of the data file."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Project Name</span>
                </mat-header-cell>
                <mat-cell class="project" *matCellDef="let element">
                    <div #projectTitle
                         matTooltip="{{element.projectTitle}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(projectTitle)}}">{{element.projectTitle}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="specimenId">
                <mat-header-cell class="specimen" *matHeaderCellDef mat-sort-header>
                    <span matTooltip="A unique ID for this specimen."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Specimen Id</span>
                </mat-header-cell>
                <mat-cell class="specimen" *matCellDef="let element">
                    <div #specimen
                         matTooltip="{{element.specimenId}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(specimen)}}">{{element.specimenId}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organ">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The organ that the biomaterial came from. Blood and connective tissue are considered organs."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Organ</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #organ
                         matTooltip="{{element.organ}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(organ)}}">{{element.organ}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organPart">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="A term for a specific part of the organ that the biomaterial came from."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Organ Part</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #organPart
                         matTooltip="{{element.organPart}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(organPart)}}">{{element.organPart}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="libraryConstructionApproach">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The general approach for sequencing library construction. Should be a child term of EFO - library preparation."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Library Construction Approach</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #approach
                         matTooltip="{{element.libraryConstructionApproach}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(approach)}}">{{element.libraryConstructionApproach}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="genusSpecies">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The scientific binomial name for the species of the biomaterial."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Species
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #genus
                         matTooltip="{{element.genusSpecies}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(genus)}}">{{element.genusSpecies}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organismAge">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="Age, measured since birth. Age unit is the unit in which age is expressed. Must be one of hour, day, week, month, or year."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Age</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #age
                         matTooltip="{{element.organismAge}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(age)}}">{{getAge(element.organismAge, element.ageUnit)}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="biologicalSex">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="The biological sex of the organism. Should be one of male, female, mixed, or unknown."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Sex</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #sex
                         matTooltip="{{element.biologicalSex}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(sex)}}">{{element.biologicalSex}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="disease">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span matTooltip="Free text describing any disease association to the cell type. Should be an EFO ontology."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Known Diseases</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #disease
                         matTooltip="{{element.disease}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(disease)}}">{{element.disease}}
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalCells">
                <mat-header-cell *matHeaderCellDef>
                    <span matTooltip="Total estimated number of cells in biomaterial. May be 1 for well-based assays."
                          matTooltipPosition="below"
                          matTooltipShowDelay="{{tooltipShowDelay}}"
                          matTooltipClass="hca-tooltip narrow">Estimated Cell Count</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div #totalCells
                         matTooltip="{{element.totalCells}}"
                         matTooltipPosition="below"
                         matTooltipShowDelay="{{tooltipShowDelay}}"
                         matTooltipClass="hca-tooltip"
                         matTooltipDisabled="{{isDisabled(totalCells)}}">{{element.totalCells | localeString}}
                    </div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="getHeaderClass()"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="getRowClass(i)"></mat-row>
        </mat-table>
        <div *ngIf="pagination$ | async; let pagination" class="pagination">
            <ng-container *ngIf="pagination.current_page">
                <button mat-icon-button (click)="previousPageSelected(pagination)" [disabled]="pagination.current_page === 1">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <span class="fontsize-xs">Page {{pagination.current_page}} of {{getPageCount(pagination)}}</span>
                <button mat-icon-button (click)="nextPageSelected(pagination)" [disabled]="pagination.current_page === getPageCount(pagination)">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>
</div>
