/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for typeahead.
 */
@import "../shared/theme/cgl.vars";

:host {

    mat-form-field {
        width: 100%;

        /** Override default MD colors */
        &.mat-focused {

            mat-placeholder {
                color: $cgl-green;
            }
        }

        /deep/ .mat-input-underline {
            .mat-input-ripple {
                background-color: $cgl-green;
            }
        }
    }
}
