<div cc-stop-propagation>
    <div class="edit-menu-card-header">
        <h2 class="menu-title">{{(fileFacet$ | async).name | camelToSpace}}</h2>
        <div class="menu-subtitle">
            <span>
                <!--{{(fileFacet$ | async).total | localeString}}-->&nbsp;
            </span>
        </div>
    </div>
    <div class="edit-menu-card-content with-padding">
        <bw-file-search [files]="files$ | async"
                        [fileSearchConfig]="fileSearchConfig"
                        (search)="onSearch($event)"
                        (termSelected)="onSearchResultSelected($event)">
        </bw-file-search>
        <facet-term-list [fileFacet]="fileFacet$ | async"
                         [useShortList]="false"
                         (facetTermSelected)="onFileSelected($event)"></facet-term-list>
    </div>
    <div class="edit-menu-card-actions">
        <button class="cgl-button"
                md-button
                [disableRipple]="true"
                (click)="onClickCloseMenu()">
            CLOSE
        </button>
    </div>
</div>

