/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for export to Terra dialog.
 */
@import "../../site/theme/cgl.vars";

/* Download container */
.hca-download, .hca-download.instructions {
    border: 1px solid rgba($hca-gray-medium, 0.5);
    box-shadow: 0 2px 4px 0 $hca-gray-light;
    box-sizing: border-box;
    width: 450px;

    .hca-spinner {
        margin: 0 24px 24px;
    }

    /* Title and subtitle */
    > div:first-of-type {
        padding: 24px;

        > span {
            display: block;
            font-family: "Montserrat", sans-serif; /* TODO typography */
        }

        /* Title */
        > span:first-of-type {
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
        }

        /* Download text */
        > span.fontsize-s {
            font-weight: 400;
            line-height: 20px;
            margin: 0;
            padding: 16px 0 8px;
        }
    }

    /* Content - list of terms */
    .hca-download-content {
        margin-top: -24px;
        padding: 24px 0 40px;

        /* Facet term list - container */
        .facet-term-list {
            -ms-overflow-style: -ms-autohiding-scrollbar; // Hide scrollbar in IE unless actively scrolling.
            padding: 0 24px;
        }
        
        .fontsize-s {
            padding: 0 24px;
        }
    }

    /* Action */
    .hca-download-action {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -24px;
        padding: 24px;

        /* Download button */
        button, .hca-button {
            align-items: center;
            background-color: $hca-secondary;
            border: none;
            border-radius: 3px;
            color: $hca-white;
            display: flex;
            flex-shrink: 0;
            font-family: "Montserrat", sans-serif; /* TODO typography */
            font-size: 14px; /* TODO typography */
            font-weight: 600; /* TODO typography */
            height: 38px; /* HCA specific style */
            letter-spacing: 0.21px; /* TODO typography */
            min-width: 84px;
            padding: 0 12px;

            &:hover {
                background-color: $hca-secondary-hover;
            }

            &:focus {
                outline: none;
            }
        }
    }

    /* Chips */
    hca-file-filter-result {
        display: block;
        margin-bottom: 16px;
    }

    /* Line separator */
    .separator {
        border-bottom: 1px solid $hca-gray-lightest;
        margin: 0 24px 16px;
    }
}

/* Download subtitle */
.hca-download > div:first-of-type > span.fontsize-s {
    padding-bottom: 0;
}

