/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table - get project data component.
 */
@import "../../site/theme/cgl.vars";

:host {
    flex: 1;

    /* Project data */
    .project-data {
        align-items: center;
        display: flex;
        justify-content: space-around;

        /* Download icon */
        > div {
            background: url("assets/images/icon/hca-download-primary.png") center / 14px 14px no-repeat;
            cursor: pointer;
            height: 48px;
            width: 48px;
        }

        /* Download - unavailable */
        .unavailable {
            background: url("assets/images/icon/no-result-dark.png") center / 14px 14px no-repeat;
            cursor: default;
            opacity: 1;
        }

        /* Handheld device */
        /* Download - inactive */
        &.device {

            > div:not(.unavailable) {
                background: url("assets/images/icon/hca-download-black.png") center / 14px 14px no-repeat;
                cursor: default;
                opacity: 0.34;
            }
        }
    }

    project-prepared-matrix-downloads {
        position: absolute;
        right: 0;
        z-index: 120;
    }
}
