<div [ngClass]="{'project-data': true, 'device': isDeviceHandheld()}">
    <project-tsv-download [projectId]="projectId"
                          [projectTitle]="projectTitle"></project-tsv-download>
    <div [ngClass]="{'unavailable': !matrixAvailable}" (click)="onShowPreparedMatrixDownloadsClicked($event)"></div>
    <project-prepared-matrix-downloads *ngIf="preparedMatrixDownloadsOpen"
                                       [ngStyle]="{'top': preparedMatrixDownloadsTop}"
                                       (preparedMatrixDownloadsOpened)="onPreparedMatrixDownloadsOpened($event)"
                                       (preparedMatrixDownloadsTop)="onPreparedMatrixDownloadsTop($event)"
                                       (preparedMatrixDownloadsPositionBelowTable)="onPreparedMatrixDownloadsPositionBelowTable($event)"
                                       [projectId]="projectId"
                                       [projectTitle]="projectTitle"
                                       [projectURLs]="projectURLs"></project-prepared-matrix-downloads>
</div>
