/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying custom icon button.
 */

@import "../../../site/theme/hca.vars";

:host {
    display: contents;
}

:host-context(profile-button) {
    svg {
        height: 24px;
        width: 24px;
    }
}

/**
 * Custom - desktop.
 */
@media screen and (min-width: $desktop) {
    :host-context(profile-button) {
        svg {
            height: 20px;
            width: 20px;
        }
    }
}

