/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for table data status placeholder.
 */
@import "../../site/theme/cgl.vars";

.table-status {
    align-items: center;
    display: flex;
    height: 58px;
    padding: 0 16px 0 46px;

    span {
        margin: 0;
    }
}
