/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * HCA explore styles.
 */
@import "../../shared/theme/cgl.vars";

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 16px; /* Gutter 16px */

    /* Explore */
    .explore {
        align-items: center;
        display: flex;
        font-family: "DIN Alternate"; /* TODO typography */
        font-size: 34px; /* TODO typography */
        font-weight: 600; /* TODO typography */
        height: 76px;
        letter-spacing: 0.54px; /* TODO typography */
        width: 100%;
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        max-width: 1140px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px;
    }
}

