<div class="wrapper">
    <div class="explore">Explore Data</div>
</div>
    <!--<div>-->
    <!--<button mat-icon-button>-->
    <!--<img src="../../../assets/images/icon/hca-save.png"/>-->
    <!--</button>-->
    <!--<button mat-icon-button>-->
    <!--<img src="../../../assets/images/icon/hca-share.png"/>-->
    <!--</button>-->
    <!--<button mat-icon-button matTooltip="Download Manifest" [matTooltipPosition]="'above'"-->
    <!--(click)="onDownloadManifest()">-->
    <!--<img src="../../../assets/images/icon/hca-download.png"/>-->
    <!--</button>-->
    <!--<button mat-raised-button><img src="../../../assets/images/icon/hca-launch.png"/>-->
    <!--<span class="md-body-1">Launch</span></button>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="tab-list">-->
    <!--<div class="tab">Find Data</div>-->
    <!--<div class="tab">Releases</div>-->
    <!--</div>-->
