<div class="container">
    <div>
        <span>Donor Count: {{summary.donorCount | localeString}}</span>
    </div>
    <div>
        <span>File Count: {{summary.fileCount | localeString}}</span>
    </div>
    <div>
        <span>Primary Site Count: {{summary.primarySiteCount | localeString}}</span>
    </div>
    <div>
        <span>Project Count: {{summary.projectCount | localeString}}</span>
    </div>
    <div>
        <span>File Size: {{summary.totalFileSize | fileSize}}</span>
    </div>
</div>
