/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for hca content unspecified dash component.
 */

.unspecified {
    background: url("~assets/images/icon/no-result.png") left/14px 14px no-repeat;
    cursor: default;
    height: 48px;
    width: 48px;
    opacity: 1;
}

/* Right align column contents */
:host-context(.right) .unspecified {
    background-position: right;
}

/* Center align column contents */
:host-context(.center) .unspecified {
    background-position: center;
}
