/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying and handling scroll functionality of data tables.
 *
 */

@import "../../site/theme/cgl.vars";

:host {
    display: block;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide scrollbar in IE unless actively scrolling. */
    overscroll-behavior-x: none; /* Prevents bounce - excludes safari */
    margin: 0 16px;
    width: calc(100vw - 32px); /* Allow for 2 x 16px gutters */
}

// Set a min width on all cells in the table. Widths for individual columns can be specified in the table config.
::ng-deep mat-header-cell,
::ng-deep mat-cell {
    min-width: 150px;
}

/**
 * HCA medium -
 * Note that this breakpoint matches resizing functionality in the corresponding component. 
 */
@media screen and (max-width: $hca-sm-max) {

    /* Override Angular Material sticky table on smaller devices: we want all table cells to scroll */
    ::ng-deep .mat-table-sticky {
        position: relative !important;
    }
}

/**
 * HCA medium +
 * Note that this breakpoint matches resizing functionality in the corresponding component.
 */
@media screen and (min-width: $hca-md-min) {
    
    :host {
        margin: 0 30px;
        width: calc(100vw - 60px); /* Allow for 2 x 30px gutters */
    }

    /* Set up fade on right hand side of first column, displayed once scroll left has been initiated */
    :host.scrolled ::ng-deep mat-header-cell:first-of-type,
    :host.scrolled ::ng-deep mat-cell:first-of-type {
        border-right: 1px solid $hca-gray-lightest;
    }
}

