<footer *ngIf="state$ | async as state" [ngClass]="{'modal-open': state.modalOpen}">
    <div class="wrapper">
        <a href="{{portalUrl}}" class="logo">
            <mat-icon>chevron_left</mat-icon>
            <img src="assets/images/logos/hca/logo-hca-white.png"
                 srcset="assets/images/logos/hca/logo-hca-white@2x.png 2x, assets/images/logos/hca/logo-hca-white@3x.png 3x">
        </a>
        <div class="links fontsize-s bold">
            <a href="{{portalUrl}}/about">About</a>
            <a href="{{portalUrl}}/help">Help</a>
            <a href="{{portalUrl}}/privacy">Privacy</a>
            <a href="{{portalUrl}}/contact">Contact</a>
            <a href="{{portalUrl}}/system-status" *ngIf="showSystemStatus()">System Status</a>
            <a href="{{portalUrl}}/feedback">Feedback</a>
        </div>
    </div>
</footer>
