/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for release table component.
 */
@import "../../../site/theme/cgl.vars";

/* Release table */
.release-tables {
    overflow: auto;
    width: 100%; /* Required for horizontal scroll */

    /* Wrapper around table */
    > div {
        min-width: 1220px; /* Required for horizontal scroll */
        padding-bottom: 24px;
    }

    /* Organ title */
    h2 {
        margin: 24px 0;
        text-transform: capitalize;
    }

    /* Table */
    mat-table {

        /* Header row */
        mat-header-row {
            border-bottom: 1px solid $hca-gray-light;
            min-height: 42px;
        }

        /* Cell row */
        mat-row {
            border-bottom: 1px solid $hca-gray-lightest;
        }

        /* Header cell */
        mat-header-cell {
            align-items: flex-start;
            display: flex;

            > span span {
                display: block; /* Wrap header, if nested <span> */
            }
        }

        /* Header cell, cell */
        mat-header-cell, mat-cell {
            color: $hca-black;
            min-width: 152px;
            overflow: visible;
            padding: 0 12px;
        }

        /* Cell class "fontsize-..." */
        mat-cell, mat-cell.fontsize-xxs {
            margin: 4px 0; /* Overrides class "fontsize-..." margin */
        }

        /* Title, study */
        .project-title, .study {
            flex-basis: 15%;
        }

        /* Dot */
        .dot > * {
            display: inline-flex;
            white-space: nowrap;
        }

        /* Dot - excludes last */
        .dot > *:not(:last-of-type):after {
            align-self: center;
            background-color: $hca-gray-lightest;
            border-radius: 50%;
            content: "";
            height: 3px;
            margin: 0 4px;
            width: 3px;
        }
    }
}

/* ProjectReleaseComponent */
:host-context(project-release) {

    /* Releases table */
    .release-tables {

        /* Wrapper around table */
        > div {
            min-width: 930px; /* Required for horizontal scroll */
        }
    }
}
