<div class="release-tables">
    <div *ngFor="let organView of releaseOrganViews">
        <h2 class="fontsize-xl">{{organView.organ}}</h2>
        <mat-table [dataSource]="organView.datasets">
            <ng-container matColumnDef="projectTitle">
                <mat-header-cell *matHeaderCellDef class="project-title fontsize-xxs bold">
                    <span>Project</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="project-title fontsize-xxs">
                    <a routerLink="/projects/{{element.entryId}}/releases/2020-mar" (click)="setReleaseReferrer()">{{element.projectShortname}}</a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dataset">
                <mat-header-cell *matHeaderCellDef class="dataset fontsize-xxs bold">
                    <span>Dataset</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="dataset fontsize-xxs">
                    <span>{{element.datasetId}}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="developmentalStage">
                <mat-header-cell *matHeaderCellDef class="fontsize-xxs bold">
                    <span>Developmental<span>Stage</span></span></mat-header-cell>
                <mat-cell *matCellDef="let element" class="fontsize-xxs">
                    <span>{{element.developmentalStage}}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="organ">
                <mat-header-cell *matHeaderCellDef class="fontsize-xxs bold">
                    <span>Organ</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="fontsize-xxs">
                    <span>{{element.organ}}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="technology">
                <mat-header-cell *matHeaderCellDef class="fontsize-xxs bold">
                    <span>Technology</span></mat-header-cell>
                <mat-cell *matCellDef="let element" class="fontsize-xxs">
                    <span>{{renderTechnologyShortName(element.libraryConstructionApproach)}}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="releaseFiles">
                <mat-header-cell *matHeaderCellDef class="fontsize-xxs bold">
                    <span>Release Files</span></mat-header-cell>
                <mat-cell *matCellDef="let element" class="fontsize-xxs">
                    <a routerLink="/projects/{{element.entryId}}/m/releases/2020-mar/datasets/{{element.datasetId}}/release-files"
                       (click)="setReleaseFilesReferrer()">View Files</a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="annotatedExpressionMatrix">
                <mat-header-cell *matHeaderCellDef class="fontsize-xxs bold">
                    <span>Annotated<span>Expression Matrix</span></span></mat-header-cell>
                <mat-cell *matCellDef="let element" class="fontsize-xxs dot">
                    <ng-container *ngFor="let file of element.files">
                        <a href={{file.url}} target="_blank"
                           rel="noopener noreferrer">{{file.extension}}</a>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="visualize">
                <mat-header-cell *matHeaderCellDef class="fontsize-xxs bold">
                    <span>Visualizations</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="fontsize-xxs dot">
                    <ng-container *ngFor="let visualization of element.visualizations">
                        <hca-tooltip [tooltipClass]="'hca-tooltip'"
                                     [tooltipContent]="visualization.description"
                                     [tooltipDisabled]="false"
                                     [tooltipPosition]="'above'">
                            <a href={{visualization.url}} target="_blank"
                               rel="noopener noreferrer" (click)="trackExternalLink(visualization.url)">{{visualization.title}}</a>
                        </hca-tooltip>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        </mat-table>
    </div>
</div>
