/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for release table component.
 */

@import "../../../site/theme/hca.vars";

/* Release table */
.release-tables {
    overflow: auto;
    
    /* Wrapper around table */
    > div {
        padding-bottom: 24px;
    }

    /* Organ title */
    h2 {
        margin: 24px 0;
        text-transform: capitalize;
    }

    /* Table */
    mat-table {

        /* Header row */
        mat-header-row {
            display: none;
        }

        /* Cell row */
        mat-row {
            align-items: flex-start;
            border-bottom: 1px solid $hca-gray-lightest;
            flex-direction: column;
            min-height: unset;
            padding: 12px 0;

            &:first-of-type {
                border-top: 1px solid $hca-gray-lightest;
            }

            mat-cell {
                min-height: unset;
            }

            .project-title {
                font-size: 14px;
            }
        }

        /* Header cell */
        mat-header-cell {
            align-items: flex-start;
            display: flex;

            > span span {
                display: block; /* Wrap header, if nested <span> */
            }
        }

        /* Header cell, cell */
        mat-header-cell, mat-cell {
            color: $hca-black;
            overflow: visible;
            padding: 0 12px;
        }

        /* Cell class "fontsize-..." */
        mat-cell, mat-cell.fontsize-xxs {
            margin: 4px 0; /* Overrides class "fontsize-..." margin */
        }

        /* Hide desktop-specific columns */
        .desktop-only {
            display: none;
        }

        /* Display mobile-specific columns */
        .mobile-only {
            display: flex;
        }
        
        /** Cap width of project title to force wrapping of longer titles (mobile first ie this is modified for larger
            devices) */
        .project-title {
            max-width: 425px;
        }

        /* Never let release files and visualizations columns expand, we want to keep them snug on the right hand side
           of the table */
        .release-files, .visualizations {
            flex-grow: 0;
        }

        /** Ensure release files header and cells line up */
        .release-files {
            min-width: 97px; /* Matches width of button, forces header text to align correctly with button */
        }

        /** Ensure visualizations header and cells line up */
        .visualizations {
            min-width: 113px; /* Matches width of button, forces header text to align correctly with button */
        }

        /* Dot */
        .dot > * {
            display: inline-flex;
            white-space: nowrap;
        }

        /* Dot - excludes last */
        .dot > *:not(:last-of-type):after {
            align-self: center;
            background-color: $hca-gray-light;
            border-radius: 50%;
            content: "";
            height: 3px;
            margin: 0 4px;
            width: 3px;
        }
    }
}

:host-context(release) {

    .release-tables {

        mat-table {
            max-width: 720px; /* Match max width of table to max width of content above table - smaller devices only,
            this is modified by media queries for larger devices */
        }
    }
}

:host-context(project-release) {

    .release-tables {

        mat-table {
            max-width: 600px; /* Match max width of table to max width of content above table - smaller devices only,
            this is modified by media queries for larger devices */
        }
    }
}

/**
 * Small tablet +, medium handset +, small window + and, large table - and medium window - (special case to allow action
 * buttons to sit to the right of dataset details - for main release table only, and not project detail release table)
 */
@media screen and (min-width: 600px) and (max-width: 1023px) {

    :host-context(release) {
        
        .release-tables {

            mat-table {

                max-width: unset;

                mat-row {
                    position: relative;
                }

                .project-title {
                    max-width: unset;
                    padding-right: 250px;
                }

                .actions {
                    position: absolute;
                    align-self: flex-end;
                }
            }
        }
    }
}

/**
 * Large tablet landscape +, medium window + (> 1024)
 */
@media screen and (min-width: 1024px) {

    .release-tables {
        
        mat-table {
            max-width: 1440px !important; /* Snap width at large window width, override (!important) host context specific
                                             max-widths set on smaller breakpoints */

            mat-header-row {
                border-bottom: 1px solid $hca-gray-light;
                display: flex; /* 1024+ is in table format - display header row */
                min-height: 42px;
            }

            mat-row {
                align-items: center;
                flex-direction: row;
                padding: 4px 0;

                &:first-of-type {
                    border-top: none;
                }

                .project-title {
                    font-size: 12px; /** Set back to correct xxs sizing (default is overridden to 14px for mobile first) */
                }
            }

            /* Display desktop-specific columns */
            .desktop-only {
                display: flex;
            }

            /* Hide mobile-specific columns */
            .mobile-only {
                display: none;
            }

            .project-title {
                font-size: unset;
                min-width: 225px;
                max-width: unset;
            }

            .dataset {
                min-width: 183px;
            }

            .organ {
                white-space: pre-wrap;
            }
        }
    }
}

/**
 * Custom range to handle case where long organ values overflow into development stage; reduce size of project title and
 * dataset to accommodate.
 */
@media screen and (min-width: 1024px) and (max-width: 1108px) {

    :host-context(release) {
        
        .release-tables {
            
            mat-table {
                
                .project-title {
                    min-width: 185px;
                }

                .dataset {
                    min-width: 140px;
                }
            }
        }
    }
}

/**
 * Custom range to handle case where long organ values overflow into development stage; reduce size of project title and
 * dataset to accommodate.
 */
@media screen and (min-width: 1024px) and (max-width: 1146px) {

    /** Reduce dataset width further on project release page */
    :host-context(project-release) {

        .release-tables {

            mat-table {

                .dataset {
                    min-width: 100px;
                }

                mat-header-cell, mat-cell {
                    padding: 0 8px;
                }
            }
        }
    }
}


/**
 * Large tablet, medium window + (> 1280)
 */
@media screen and (min-width: 1280px) {

    .release-tables {
        mat-table {
            .project-title {
                min-width: 315px; 
            }

            .dataset {
                min-width: 240px;
            }

            .organ {
                white-space: unset;
            }
        }
    }
}


/**
 * Large window + (> 1440)
 */
@media screen and (min-width: 1440px) {

    .release-tables {
        mat-table {
            .project-title {
                min-width: 360px; /* Matches half width of text above table */
            }

            .dataset {
                min-width: 270px; /* Width of widest dataset name, prevents wrap on any dataset */
            }
        }
    }
}
