/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Header navigation links styles.
 */

@import "../../../site/theme/hca.vars";

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
}

/**
 * Custom - desktop.
 */
@media screen and (min-width: $desktop) {
    :host {
        align-items: center;
        flex: 1;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0 8px;
        margin-left: 24px;
    }
}
