/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for nav component.
 */

@import "../../site/theme/hca.vars";

:host {
    margin: 0 0 0 8px;
}

/* Navigation link */
.nav {
    color: $hca-gray-dark;
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 8px 0;
}

/* Nav link - no associated router link */
.no-link {
    cursor: default;
}

/* Disabled */
.nav.disabled {
    color: $hca-gray-light;
    cursor: default;
    pointer-events: none; /* Disable router click event */
}

/* Link - hover */
.nav:not(.no-link):not(.active):not(.disabled):hover {
    color: $hca-gray-darkest;
}

/* Link - active */
.nav.active {
    color: $hca-primary;
}

/* Nav with sub items */
.sub-nav,
.sub-nav-item {
    position: relative; /* Positions line */
}

/* Sub nav item - nested */
.sub-nav-item {
    margin: 0 16px;
}

/* Line indicator */
/* Nav with sub items line indicator */
.sub-nav:before,
.sub-nav-item:before {
    background-color: $hca-gray-lightest;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 2px;
}

/* Nav with sub items line indicator */
.sub-nav:before {
    left: -8px;
}

/* Sub items line indicator */
.sub-nav-item:before {
    left: -24px;
}

/* Line indicator - active */
.sub-nav-item.active:before {
    background-color: $hca-primary;
}
