/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * HCA-specific overrides of Material Design toolbar.
 */

@import "../theme/cgl.vars";

/* Policy */
.policy {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Text */
p {
    margin: 0;
}

/* Link "HCA Data Release Policy" */
a {
    white-space: nowrap;
}

/* Button */
span {
    align-items: center;
    border: 1px solid $hca-primary;
    color: $hca-primary;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: 500;
    justify-content: center;
    margin: 8px 0 0;
    min-width: 84px;
    padding: 10px 12px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

/**
 * Tablet +
 */
@media screen and (min-width: 768px) {

    /* Policy */
    .policy {
        flex-direction: row;
        justify-content: space-between;
    }

    span {
        margin: 0;
    }
}
