/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project prepared manifest download functionality.
 */

/* Initial paragraph */
p:first-of-type {
    margin-top: 24px;
}

/* Downloads */
.downloads {
    align-items: flex-start; /* Required to prevent left-bar component stretching with flex */
    display: flex;
}

/* Download, citation wrapper */
.downloads > * {
    box-sizing: border-box;
    flex: 1;
    flex-basis: 50%;
}

/* Component project-metadata */
:host-context(project-metadata) {

    /* Initial paragraph */
    p:first-of-type {
        margin: 0 0 24px;
    }
}

/* Manifest*/
.manifest {
    align-items: baseline;
    display: flex;

    /* Download label */
    > span {
        padding: 0 16px 0 8px;
    }

    /* Download label, error state on download */
    > span, .download-failed {
        margin: 0;
    }

    /* Mat spinner */
    mat-spinner {
        align-self: center;
    }

    /* Slot for displaying download icon, spinner, done and error icons */
    .download-progress-indicator {
        align-self: center;
        display: flex;
        justify-content: center;
    }

    /* Download not started image */
    .download-not-started {
        background: url("assets/images/icon/hca-download-primary.png") center no-repeat;
    }

    /* Download complete image */
    .download-completed {
        background: url("assets/images/icon/check-black.png") center no-repeat;
        opacity: 0.4;
    }

    /* Sizes for slot fo download icons, download not started and download completed icon */
    .download-progress-indicator, .download-not-started, .download-completed {
        height: 16px;
        width: 16px;
    }

    /* Icon slot - download not started, download completed */
    .download-not-started, .download-completed {
        background-size: contain;
        cursor: pointer;
    }

    /* Error state on download */
    .download-failed {
        color: red;
    }

    /* Sneaky hidden anchor to facilitate standard browser download */
    .hidden {
        display: none;
    }
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 840px) {

    /* Component project-download-manifest-modal */
    :host-context(project-download-manifest-modal) {

        /* Citation wrapper */
        left-bar {
            max-width: 33%;
        }
    }
}
