<mat-toolbar *ngIf="state$ | async as state" [ngClass]="{'modal-open': state.modalOpen}">
    <mat-toolbar-row>
        <a href="{{portalUrl}}" *ngIf="!state.modalOpen">
            <img src="assets/images/logos/hca/logo-hca.png"/>
        </a>
        <a [routerLink]="['/projects']" *ngIf="state.modalOpen">
            <img src="assets/images/logos/hca/logo-hca.png"/>
        </a>
        <div menu-open cc-hamburger class="menu-dropdown fontsize-s semi-bold" (click)="isMenuOpen(true)">Menu</div>
        <div menu-close cc-hamburger class="menu-dropdown-close fontsize-s semi-bold" (click)="isMenuOpen(false)">Menu</div>
        <cc-toolbar-nav>
            <cc-toolbar-nav-item [ngClass]="{'active': isExploreActiveUrl()}">
                <a class="link" href="#">
                    <span class="fontsize-xs">Explore</span>
                    <span class="fontsize-xxs">Search for data in the HCA</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/guides">
                    <span class="fontsize-xs">Guides</span>
                    <span class="fontsize-xxs">Find user guides and how-to’s here</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/metadata">
                    <span class="fontsize-xs">Metadata</span>
                    <span class="fontsize-xxs">Fields used to describe datasets in the Human Cell Atlas</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/pipelines">
                    <span class="fontsize-xs">Pipelines</span>
                    <span class="fontsize-xxs">Pipelines</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/analyze">
                    <span class="fontsize-xs">Analysis Tools</span>
                    <span class="fontsize-xxs">Find a list of Apps</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/contribute">
                    <span class="fontsize-xs">Contribute</span>
                    <span class="fontsize-xxs">Submit your data to the HCA</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item>
                <a class="link" href="{{portalUrl}}/apis">
                    <span class="fontsize-xs">APIs</span>
                    <span class="fontsize-xxs">APIs</span>
                </a>
            </cc-toolbar-nav-item>
            <cc-toolbar-nav-item *ngIf="isReleaseVisible()"
                                 [ngClass]="{'active': isReleasesActiveUrl(), 'drop-down-menu': true}">
                <button class="link" (click)="toggleDropDownMenu($event)">
                    <span class="fontsize-xs">March 2020 Release</span>
                    <span class="fontsize-xxs">Explore, visualize, and interact with 24 annotated datasets</span>
                </button>
                <cc-toolbar-nav-drop-down *ngIf="dropDownMenuOpen" (dropDownMenuOpened)="onDropDownMenuOpened($event)">
                    <ng-container *ngTemplateOutlet="releasesMenu"></ng-container>
                </cc-toolbar-nav-drop-down>
                <cc-toolbar-nav-sub-menu>
                    <ng-container *ngTemplateOutlet="releasesMenu"></ng-container>
                </cc-toolbar-nav-sub-menu>
            </cc-toolbar-nav-item>
        </cc-toolbar-nav>
        <div menu-open class="hca-toolbar-nav-overlay"></div>
    </mat-toolbar-row>
</mat-toolbar>
<ng-template #releasesMenu>
    <cc-toolbar-nav-sub-menu-item [link]="'releases/2020-mar'">Datasets</cc-toolbar-nav-sub-menu-item>
    <cc-toolbar-nav-sub-menu-item [link]="getReleasesDocumentationUrl()">Documentation</cc-toolbar-nav-sub-menu-item>
</ng-template>
