<ng-container *ngIf="state$ | async as state">
    <ng-container *ngIf="state.loaded">
        <h4 class="fontsize-m semi-bold">Analysis Portals</h4>
        <p class="fontsize-xs">Analysis Portals are external resources providing further analysis, such as
            visualizations.</p>
        <ng-container [ngSwitch]="state.integratedWithTertiaryPortals">
            <ng-container *ngSwitchCase="true">
                <project-integrations [integrations]="state.integrations"></project-integrations>
            </ng-container>
            <no-hits *ngSwitchDefault><p class="fontsize-xs">There are no Analysis Portals associated with this project.</p></no-hits>
        </ng-container>
    </ng-container>
</ng-container>
