/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Toolbar tools styles.
 */

@import "../../site/theme/hca.vars";

:host {
    align-items: center;
    display: flex;
}

/**
 * Small Window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {
    :host {
        gap: 0 24px;
    }
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 840px) {
    :host {
        gap: 0 32px;
    }
}
