<ng-container *ngIf="state$ | async as state">
    <pop-layout [tabs]="tabs" (tabSelected)="onTabSelected($event)" >
        <ng-container title>
            <ng-content select="[title]"></ng-content>
        </ng-container>
        <div class="get-data-layout-wrapper" *ngIf="state.loaded" [@fadeIn] content>
            <div class="get-data-layout-content">
                <ng-content select="[content]"></ng-content>
            </div>
            <get-data-summary [filesFacets]="state.filesFacets"
                              [fileSummary]="state.fileSummary" 
                              [selectedSearchTerms]="state.selectedSearchTerms"></get-data-summary>
        </div>
    </pop-layout>
    <mat-spinner *ngIf="!state.loaded"
                 class="hca-spinner hca-spinner-grey"
                 diameter="32"></mat-spinner>
</ng-container>
