<ng-container *ngIf="state$ | async as state">
    <hca-section-title>
        <ng-container><ng-content select="[title]"></ng-content></ng-container>
    </hca-section-title>
    <hca-tab [tabs]="getDataTabs(state.selectedEntity)"
             (tabSelected)="onTabSelected($event)"></hca-tab>
    <div class="wrapper" *ngIf="state.loaded" [@fadeIn]>
        <div class="get-data-layout">
            <div class="get-data-options">
                <ng-container [ngSwitch]="speciesSelectionFormVisible">
                    <species-form *ngSwitchCase="true"
                                  [speciesFileFacet]="getSpeciesFileFacet(state.filesFacets)"
                                  (speciesSelected)="onSpeciesSelected()">
                        <p class="fontsize-m"><ng-content select="[speciesExportText]"></ng-content></p>
                    </species-form>
                    <ng-container *ngSwitchDefault>
                        <ng-content select="[content]"></ng-content>
                    </ng-container>
                </ng-container>
                <section-bar [position]="'top'"><data-use-notification></data-use-notification></section-bar>
            </div>
            <get-data-summary [selectedDiseases]="listSelectedDiseases(state.filesFacets)"
                              [selectedDonorDiseases]="listSelectedDonorDiseases(state.filesFacets)"
                              [selectedGenusSpecies]="listSelectedGenusSpecies(state.filesFacets)"
                              [selectedLibraryConstructionApproaches]="listSelectedLibraryConstructionApproaches(state.filesFacets)"
                              [selectedOrgans]="listSelectedOrgans(state.filesFacets)"
                              [selectedOrganParts]="listSelectedOrganParts(state.filesFacets)"
                              [selectedPairedEnds]="listSelectedPairedEnds(state.filesFacets)"></get-data-summary>
        </div>
    </div>
    <mat-spinner *ngIf="!state.loaded"
                 class="hca-spinner hca-spinner-grey"
                 diameter="32"></mat-spinner>
</ng-container>
