/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for a get data layout, which is a thin layer around PopLayout.
 */

.get-data-layout-wrapper {
    display: flex;
    flex: 1;
    margin: 30px 0;
}

.get-data-layout-content {
    flex: 1;
    margin-right: 60px;
    max-width: 600px;
    min-width: 338px; /* Required for snap */
}

/* Spinner when state is loading */
mat-spinner {
    margin: 30px 0 0 30px;
}
