<div [ngClass]="{'project-data': true, 'device': isDeviceHandheld()}">
    <div (click)="onDownloadMetadata(projectId)"></div>
    <div [ngClass]="{'unavailable': !matrixAvailable}" (click)="onDownloadMatrix(projectId)"></div>
    <hca-get-project-matrix-data *ngIf="isProjectDownloadActive"
                                 [ngStyle]="{'top': top}"
                                 (onProjectDataMatrixClose)="onProjectDataMatrixClose($event)"
                                 (onProjectDataMatrixPosition)="onProjectDataMatrixPosition($event)"
                                 [projectId]="projectId"
                                 [projectTitle]="projectTitle"
                                 [projectURLs]="projectURLs"></hca-get-project-matrix-data>
</div>
