<div *ngIf="isMaintenanceModeWarningVisible((config$ | async)?.deployment)" class="status persistent">
    <p class="fontsize-l">Warning: in maintenance mode for data re-ingestion</p>
</div>
<ng-container *ngIf="health$ | async as health">
    <div *ngIf="!health.ok" class="status">
        <p class="fontsize-l">One or more of the systems composing the HCA DCP is currently unavailable. Please try again later, or monitor the full system status <a href="/system-status">here</a>.</p>
    </div>
    <div *ngIf="health.ok && health.indexing" class="status">
        <p class="fontsize-l">Data indexing in progress. Search results may be incomplete.</p>
    </div>
</ng-container>
<header>
    <hca-toolbar (menuOpen)="onMenuOpen($event)"></hca-toolbar>
</header>
<router-outlet></router-outlet>
<hca-footer></hca-footer>
