/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * App root styles.
 */

:host {
    display: flex; // Required for forcing height 100% on files component, with scroll for overflow
    flex-direction: column;
    height: 100%; // Required to force height to reach at least bottom of screen, before content is loaded
}
