/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for section bar component.
 */

@import "../../site/theme/hca.vars";

:host {
    display: inline-block; /* Required for setting widths from parent components */
}

/* Position left */
.section-bar-left {
    border-left: 1px solid $hca-gray-lightest;
    padding: 0 0 10px 10px;
}

/* Position top */
.section-bar-top {
    border-top: 1px solid $hca-gray-lightest;
    display: block;
    padding-top: 10px;
    margin: 36px 0;
}
