<warning color="orange">
    <warning-content>
        <p class="fontsize-m"><strong>Please note:</strong> Data normalization and batch correction may differ between
            projects and processing methods. <ng-container *ngIf="isAtlasHCA()">For details see
            <a href="{{portalUrl}}/guides/consumer-vignettes/matrices#matrix-normalization-and-batch-correction"
               target="_blank"
               rel="noopener">Matrix Normalization and Batch Correction</a>.</ng-container></p>
    </warning-content>
</warning>
