<ng-container *ngIf="state$ | async as state">
    <hca-section-title>
        <ng-container title>{{getTitle()}}</ng-container>
    </hca-section-title>
    <hca-tab [tabs]="getDataTabs(state.selectedEntity)"
             [activeTab]="getActiveTab()"
             (tabSelected)="onTabSelected($event)"></hca-tab>    
    <div class="wrapper" *ngIf="state.loaded" [@fadeIn]>
        <div class="get-data-layout">
            <div class="get-data-options">
                <ng-container [ngSwitch]="viewState">
                    <ng-container *ngSwitchDefault>
                        <get-data-options (downloadSelected)="onDownloadSelected($event)"></get-data-options>
                    </ng-container>
                    <species-form *ngSwitchCase="'SPECIES_SELECTION'" 
                                  [exportDescription]="getExportDescription()"
                                  [speciesFileFacet]="getSpeciesFileFacet(state.filesFacets)"
                                  (speciesSelected)="onSpeciesSelected()"></species-form>
                    <bulk-download *ngSwitchCase="'BULK_DOWNLOAD'"
                                   (manifestDownloadSelected)="onDownloadSelected($event)"></bulk-download>
                    <manifest-download *ngSwitchCase="'MANIFEST'"></manifest-download>
                    <export-to-terra *ngSwitchCase="'TERRA'"></export-to-terra>
                </ng-container>                            
            </div>
            <get-data-summary [selectedDiseases]="listSelectedDiseases(state.filesFacets)"
                              [selectedDonorDiseases]="listSelectedDonorDiseases(state.filesFacets)"
                              [selectedGenusSpecies]="listSelectedGenusSpecies(state.filesFacets)"
                              [selectedLibraryConstructionApproaches]="listSelectedLibraryConstructionApproaches(state.filesFacets)"
                              [selectedOrgans]="listSelectedOrgans(state.filesFacets)"
                              [selectedOrganParts]="listSelectedOrganParts(state.filesFacets)"
                              [selectedPairedEnds]="listSelectedPairedEnds(state.filesFacets)"></get-data-summary>
        </div>
    </div>
    <mat-spinner *ngIf="!state.loaded"
                 class="hca-spinner hca-spinner-grey"
                 diameter="32"></mat-spinner>
</ng-container>
