<modal-layout *ngIf="state$ | async as state"
              [loaded]="state.loaded"
              (closed)="redirectToProjects()">
    <ng-container title *ngIf="state.loaded">Project Matrices</ng-container>
    <ng-container subtitle *ngIf="state.loaded">{{state.project.projectTitle}}</ng-container>
    <ng-container content *ngIf="state.loaded">
        <project-matrix-download class="project-matrix-download-modal-view" 
                                 [project]="state.project"
                                 [projectMatrixFileLocationsByFileUrl]="state.projectMatrixFileLocationsByFileUrl"></project-matrix-download>
    </ng-container>
</modal-layout>
