/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Toolbar nav sub menu item styles.
 */

@import "../../site/theme/hca.vars";

/* Nav sub item */
.sub-nav-item {
    align-items: flex-start;
    color: $hca-black;
    display: flex;
    flex-direction: column;
    height: 24px;
    justify-content: center;
    padding: 0 24px;
    text-decoration: none;
    text-transform: capitalize;

    /* Text */
    span {
        font-weight: 400;
        margin: 0;
    }
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 840px) {
    .sub-nav-item {
        height: 32px;
        padding: 0 12px;

        /* Hover */
        &:hover {
            background-color: $hca-blue-light;
        }
    }
}
