/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Toolbar social styles.
 */

.social {
    align-items: center;
    background: transparent;
    border-radius: 50%;
    display: flex;
    height: 44px;
    justify-content: center;
    width: 44px;
}

/* Image. */
.social > * {
    height: 20px;
    margin: 0;
    width: 20px;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 840px) {
    .social {
        height: 38px;
        width: 38px;
    }
}
