/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project matrix analysis portals list.
 */

/* None icon - matches analysis portal link logos in ProjectMatrixAnalysisPortalComponent. */
img {
    height: 16px;
    padding:8px;
    width: 16px;
}
