<div class="facet-term layout-row ng-scope layout-row layout-align-space-between-center"
     #facetTerm
     *ngFor="let term of terms;trackBy: trackByFn"
     (click)="onClickFacetTerm(fileFacetName, term)">
    <div class="chart-legend-bar" [ngStyle]="getLegendStyle(term)">
        <mat-icon *ngIf="term.selected">check</mat-icon>
    </div>
    <div class="term-summary">
        <div class="term-name" [ngClass]="getTruncatedClass(term.name)">
            <span>{{term.name}}</span>
        </div>
        <hca-tooltip
                [tooltipClass]="'hca-tooltip count'"
                [tooltipContent]="term.count | localeString"
                [tooltipDisabled]="isDisabled(term.count)"
                [tooltipPosition]="'above'">
            <span class="term-count md-caption secondary">{{term.count | countSize}}</span>
        </hca-tooltip>
    </div>
</div>
