<ng-container *ngIf="unfacetedFileFacets.length">
    <div class="facet-term list-headers layout-row ng-scope layout-row layout-align-space-between-center">
        <div class="chart-legend-bar"></div>
        <div class="term-summary">
            <div class="term-name">
                <span>Name</span>
            </div>
            <div class="term-count">File Count</div>
            <div class="term-count">File Size</div>
        </div>
    </div>
    <div class="facet-term layout-row ng-scope layout-row layout-align-space-between-center"
         *ngFor="let term of getDisplayList()"
         (click)="onClickFacetTerm(term)">
        <div class="chart-legend-bar" [ngStyle]="getLegendStyle(term)"><mat-icon *ngIf="isTermSelected(term.name)">check</mat-icon></div>
        <div class="term-summary">
            <div class="term-name">
                <ng-container [ngSwitch]="isTermNameTruncated(term.name)">
                    <span *ngSwitchCase="true"
                          matTooltip="{{formatTermName(term.name)}}" 
                          [matTooltipPosition]="'above'" 
                          matTooltipShowDelay="500">{{formatTermName(term.name)}}</span>
                    <span *ngSwitchDefault>{{formatTermName(term.name)}}</span>
                </ng-container>
            </div>
            <div class="term-count md-caption secondary">{{term.count | countSize}}</div>
            <div class="term-count md-caption secondary">{{getUnfacetedFileTypeTotal(term.name) | fileSize}}</div>
        </div>
    </div>
</ng-container>
