<ng-container *ngIf="fileTypeSummaries.length">
    <div class="facet-term list-headers layout-row ng-scope layout-row layout-align-space-between-center">
        <div class="chart-legend-bar"></div>
        <div class="term-summary">
            <div class="term-name">
                <span>Name</span>
            </div>
            <div class="term-count">File Count</div>
            <div class="term-count">File Size</div>
        </div>
    </div>
    <div *ngIf="getDisplayList().length > 1" (click)="onClickSelectAll()"
         class="facet-term layout-row ng-scope layout-row layout-align-space-between-center">
        <div class="chart-legend-bar" [ngStyle]="getLegendStyle(selectToggle)">
            <mat-icon *ngIf="selectToggle">check</mat-icon>
        </div>
        <div class="term-summary">
            <div class="term-name"><span>Select All</span></div>
        </div>
    </div>
    <div class="facet-term layout-row ng-scope layout-row layout-align-space-between-center"
         *ngFor="let facetFileTypeSummary of getDisplayList()"
         (click)="onClickFacetTerm(facetFileTypeSummary)">
        <div class="chart-legend-bar" [ngStyle]="getLegendStyle(facetFileTypeSummary.selected)">
            <mat-icon *ngIf="facetFileTypeSummary.selected">check</mat-icon>
        </div>
        <div class="term-summary">
            <div class="term-name">
                <ng-container [ngSwitch]="isTermNameTruncated(facetFileTypeSummary.termName)">
                    <span *ngSwitchCase="true"
                          matTooltip="{{facetFileTypeSummary.termName}}"
                          [matTooltipPosition]="'above'"
                          matTooltipShowDelay="500">{{facetFileTypeSummary.termName}}</span>
                    <span *ngSwitchDefault>{{facetFileTypeSummary.termName}}</span>
                </ng-container>
            </div>
            <div class="term-count md-caption secondary">{{facetFileTypeSummary.count | countSize}}</div>
            <div class="term-count md-caption secondary">{{facetFileTypeSummary.size | fileSize}}</div>
        </div>
    </div>
</ng-container>
