<mat-card>
    <div class="layout-column layout-gt-xs-row filter-bar">
        <div class="layout-padding flex chips">
            <div *ngIf="selectedFacets.length > 0">
                <mat-chip-list>
                    <ng-container *ngFor="let facet of selectedFacets">
                        <ng-container *ngFor="let term of facet.terms">
                            <mat-chip *ngIf="term.selected" [removable]="removable">
                                <div>
                                    <span class="md-body-1">{{term.name}}</span>
                                    <span class="md-body-1 secondary">{{facet.name}}</span>
                                </div>
                                <mat-icon matChipRemove *ngIf="removable" (click)="removeFacet(facet.name, term.name)">
                                    close
                                </mat-icon>
                            </mat-chip>
                        </ng-container>
                    </ng-container>
                </mat-chip-list>
            </div>
            <div *ngIf="selectedFacets.length == 0" class="md-body-1">No terms selected</div>
        </div>
        <div class="layout-padding flex search">
            <div>
                <mat-form-field floatLabel="never" appearance="outline">
                    <input type="text" placeholder="Search facet or term" aria-label="Number" matInput
                           [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTermSelected($event)"
                                      [displayWith]="displayFn">
                        <ng-container *ngFor="let facet of filteredFacets$ | async">
                            <div class="facet-list"><span class="md-body-1">{{facet.facetName}}</span>
                                <!--span class="md-body-1 secondary">40</span--></div>
                            <ng-container *ngFor="let term of facet.terms">
                                <mat-option [value]="{facet:facet, term:term}"><span
                                        class="md-body-1">{{term.termName}}</span><span class="md-body-1 secondary">{{term.count}}</span>
                                </mat-option>
                            </ng-container>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-card>
