/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * File filter styles.
 */
@import "../../shared/theme/cgl.vars";

:host {

    mat-card {
        padding: 0;

        .filter-bar {
            flex-direction: column-reverse;
        }

        /* List of selected terms - chips */
        .chips {
            align-items: center;
            display: flex;
            flex: 1;
            padding: 0;

            /* Flex padding */
            > div {
                padding: 8px;
                //padding: 0 8px;

                /* No terms selected */
                &.md-body-1 {
                    display: none; /* Hide */
                }
            }

            /* Chip */
            mat-chip {
                background-color: transparent;
                margin: 4px;
                position: relative; // Positions close icon

                &:not(.mat-basic-chip):focus {
                    box-shadow: none;
                }

                /* Term and facet name */
                > div {
                    display: flex;
                    flex-direction: column;
                    padding-right: 8px;

                    /* Facet name */
                    span:last-of-type {
                        margin-top: -4px; // Scoots up underneath term
                    }
                }

                /* Close icon - hide */
                mat-icon {
                    display: none;
                }

                /* Close icon - on hover show */
                &:hover .mat-icon {
                    display: block;
                    position: absolute;
                    right: 0;
                }
            }
        }

        /* Facet search */
        .search {
            flex: 1;

            /* Search input */
            mat-form-field {
                font-size: 14px;
                border: 1px solid rgba(0, 0, 0, 0.38);
                border-radius: 2px;
                padding: 0 16px;
                width: calc(100% - 34px); /* Includes padding and borders */

                /* Underline */
                // TODO deep deprecated
                /deep/ .mat-form-field-underline {
                    background-color: transparent;

                    /deep/ .mat-form-field-ripple {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

/* mat-option panel */
// TODO deep deprecated
/deep/ .mat-autocomplete-panel {
    margin: 13.5px -16px; /* Panel to take up full width + opens below search box */
}

/* mat-option list */
// TODO deep deprecated
/deep/ .mat-option {
    > span {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

/* Facet list inside mat-option */
.facet-list {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 16px;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* Facet name */
    span:first-of-type {
        font-weight: 500;
    }
}

/**
 * Small +
 */
@media (min-width: $md-sm-min) {

    :host {
        mat-card {
            .search {
                max-width: calc(50% - 8px); // Matches width of facet card
            }
        }
    }
}

/**
 * Medium +
 */
@media (min-width: $md-md-min) {

    :host {
        mat-card {
            .filter-bar {
                flex-direction: row;
            }

            /* Chips */
            .chips {
                padding: 8px;

                /* Flex padding */
                > div {
                    padding: 0 8px;

                    /* No terms selected */
                    &.md-body-1 {
                        display: block; /* Show */
                    }
                }
            }

            /* Facet search */
            .search {
                max-width: calc((50% - 8px) / 2 - 8px); // Matches width of facet card

                /* Flex padding */
                > div {
                    padding: 0 8px;
                }
            }
        }
    }
}

/**
 * Large +
 */
@media (min-width: $md-lg-min) {

    :host {
        mat-card {
            .search {
                max-width: calc((100% + 16px) / 5 - 16px); // Matches width of facet card
            }
        }
    }
}
