<ng-container *ngIf="viewState$ | async as viewState">
    <ng-container [ngSwitch]="viewState">
        <mat-icon *ngSwitchCase="fileLocationStatus.NOT_STARTED"
                  [inline]="true"
                  (click)="onFileLocationRequested(fileUrl, filename)"
                  class="copy-not-started">assignment</mat-icon>
        <mat-spinner *ngSwitchCase="fileLocationStatus.IN_PROGRESS" class="copy-in-progress" diameter="14"></mat-spinner>
        <div *ngSwitchCase="fileLocationStatus.FAILED" class="copy-error">x</div>
        <img *ngSwitchCase="fileLocationStatus.COMPLETED"
             class="copy-complete"
             #tooltip="matTooltip"
             matTooltip="Copied!"
             matTooltipClass="tooltip tooltip-small"
             src="assets/images/icon/check-black.png">
    </ng-container>
</ng-container>


