/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project supplementary links component.
 */

/* Project group heading */
h4 {
    margin: 24px 0 16px;
}

/* Link container */
.supplementary-link {
    align-items: baseline;
    display: flex;

    /* Index */
    span:first-child {
        padding-right: 8px;
    }

    /* Link */
    a {
        padding-right: 8px;
        word-break: break-all;
    }
}
