<ng-container *ngIf="state$ | async as state">
    <h2 class="fontsize-xl">Supplementary Links</h2>    
    <ng-container *ngIf="state.loaded">
        <ng-container [ngSwitch]="state.project.supplementaryLinks.length > 0">
            <ng-container *ngSwitchCase="true">
                <ng-container *ngFor="let supplementaryLink of state.project.supplementaryLinks; let i = index">
                    <p class="fontsize-xs max600 supplementary-link" *ngIf="isValidUrl(supplementaryLink)">
                        <span>{{i+1}}.</span>
                        <a href="{{supplementaryLink}}" target="_blank" rel="noopener noreferrer">{{supplementaryLink}}</a>
                        <copy-to-clipboard [copyToClipboardLink]="supplementaryLink"></copy-to-clipboard>
                    </p>
                </ng-container>
            </ng-container>
            <p class="fontsize-xs" *ngSwitchDefault>
                There are currently no supplementary links for this project at this time.
            </p>
        </ng-container>
    </ng-container>
</ng-container>
