/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for project downloads and exports.
 */

.key-with-image {
    display: flex;
    align-items: center;
}

.download-visit {
    width: 14px;
}

.logo-terra {
    height: 22px;
    margin-right: 4px;
}
