<key-value-pair-layout>
    <ng-container key>Project Metadata</ng-container>
    <ng-container value>
        <a [routerLink]="['project-metadata']"><img class="download-visit" 
                                                    src="assets/images/icon/download-primary.png"></a>
    </ng-container>
</key-value-pair-layout>
<key-value-pair-layout>
    <ng-container key>Project Matrices</ng-container>
    <ng-container value><a [routerLink]="['project-matrices']"><img class="download-visit" 
                                                                    src="assets/images/icon/download-primary.png"></a></ng-container>
</key-value-pair-layout>
<key-value-pair-layout>
    <ng-container key>Project Files via curl</ng-container>
    <ng-container value><a [routerLink]="['get-curl-command']"><img class="download-visit" 
                                                                    src="assets/images/icon/download-primary.png"></a></ng-container>
</key-value-pair-layout>
<key-value-pair-layout>
    <ng-container key><span class="key-with-image">
        <img class="logo-terra" src="assets/terra/logo-terra.svg"> Terra Workspace</span>
    </ng-container>
    <ng-container value><a [routerLink]="['export-to-terra']"><img class="download-visit" 
                                                                   src="assets/images/icon/download-primary.png"></a></ng-container>
</key-value-pair-layout>
