/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * HCA get data summary styles.
 */

@import "../../../site/theme/hca.vars";

/* Data snapshot */
.data-snapshot {
    flex: 1;
    min-width: 338px; /* Required for snap */

    /* Query, summary */
    .data-query,
    .data-file-summary {
        padding: 16px 0 24px;
        position: relative; /* Positions separator */

        /* Heading <h4> */
        h4 {
            line-height: 28px;
        }

        /* Separator */
        &:not(.data-file-summary):after {
            background-color: $hca-gray-lightest;
            border-radius: 3px;
            bottom: 10px;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            width: 84px;
        }
    }

    /* Query, summary */
    .data-query,
    .data-file-summary {
        h4 {
            margin: 0 0 8px;
        }
    }
}
