/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for displaying custom icon button.
 */

:host {
    display: contents;
}

:host-context(search-button) {
    svg {
        height: 24px;
        width: 24px;
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1440px) {
    :host-context(search-button) {
        svg {
            height: 20px;
            width: 20px;
        }
    }
}

