<mat-icon *ngIf="!searchOpen" class="search-icon-button" (click)="onOpenSearch()" role="presentation">search</mat-icon>
<form [formGroup]="portalSearchGroup" class="portal-search" [class]="{'open' : searchOpen}"
      (ngSubmit)="onSearchPortal(portalSearch.value)">
    <mat-icon class="search-icon">search</mat-icon>
    <input #search
           (blur)="onInputBlurEvent($event)"
           (focus)="onInputFocusEvent()"
           [formControl]="portalSearch"
           autocomplete="off"
           matInput
           placeholder="Search all content"
           spellCheck="false"
           type="text">
    <div class="search-actions" *ngIf="isClearButtonVisible(portalSearch.value)">
        <button class="clear" (click)="onClearPortalSearch()" type="button">
            <mat-icon class="clear-icon" tabindex="-1">close</mat-icon>
        </button>
        <button class="apply fontsize-s" type="submit">Go</button>
    </div>
</form>
