/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Toolbar portal search styles.
 */

@import "../../site/theme/hca.vars";

:host {
    display: inline-flex;
}

.portal-search {
    background-color: $hca-white;
    display: none;
    position: relative; /* Positions icons. */

    &.open {
        align-items: center;
        box-sizing: border-box;
        display: inline-flex; /* Shows search bar. */
        height: 60px; /* 64px */
        left: 0;
        padding: 0 16px;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: 200;
    }

    /* Input */
    input {
        background-color: transparent;
        border: 1px solid $hca-blue-darkest;
        border-radius: 3px;
        box-sizing: border-box;
        color: $hca-gray-darkest;
        display: inline-block;
        font-family: "Montserrat", sans-serif; /* TODO typography */
        font-size: 16px; /* Required to prevent zoom on focus of <input> on mobile. */
        font-weight: 400;
        height: 38px;
        line-height: 38px;
        margin: 0;
        padding: 0 76px 0 38px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &[type="text"] {
            font-size: 16px; /* Required to prevent zoom on focus of <input> on mobile. */
            line-height: 38px;
        }

        &:focus {
            background-color: $hca-white;
            border: 1px solid $hca-primary;
            outline: none;
        }

        &::placeholder {
            color: $hca-gray-darkest;
            font-size: 12px;
            font-weight: 300;
            line-height: 38px;
        }
    }

    /* Search icon and actions */
    .search-icon,
    .search-actions {
        position: absolute;
    }

    /* Search actions */
    .search-actions {
        align-items: center;
        display: flex;
        right: 17px;
        top: 11px;

        button {
            background-color: transparent;
            border: none;
            padding: 0;
            width: unset;

            /* Apply button */
            &.apply {
                align-self: center;
                background-color: $hca-blue-light;
                border: 1px solid $hca-white;
                border-radius: 3px;
                color: $hca-gray-medium;
                font-weight: 600;
                height: 36px;
                letter-spacing: 0.21px;
                margin: 0;
                width: 38px;
            }
        }
    }

    /* Search and clear icon */
    .search-icon,
    .clear-icon {
        align-items: center;
        color: $hca-gray-light;
        display: flex;
        font-size: 20px;
        justify-content: center;
        padding: 7px; /* Total icon size 38px. */
    }

    .search-icon {
        pointer-events: none;
    }

    .clear-icon {
        cursor: pointer;

        &:hover {
            color: $hca-gray-medium;
        }
    }
}

.search-icon-button {
    color: $hca-gray-light;
    cursor: pointer;
    padding: 8px;

    &:hover {
        color: $hca-gray-medium;
    }
}

/* Lungmap specific style overrides. */
:host-context(lungmap-toolbar) {
    .portal-search {
        border-radius: 3px;

        &.open {
            background-color: $hca-primary;
        }

        input {
            background-color: $hca-white;
            border-color: $hca-white;
            caret-color: $hca-secondary;
            color: $hca-primary;

            &::placeholder {
                color: $hca-primary;
            }
        }

        .search-actions button.apply {
            background-color: $hca-secondary;
            border: none;
            border-radius: 2px;
            color: $hca-white;

            &:hover {
                background-color: $hca-secondary-hover;
                color: $hca-white;
            }
        }

        /* Search icon */
        .search-icon {
            color: $hca-primary;
        }

        /* Clear icon */
        .clear-icon {
            color: $hca-gray-light;
        }
    }

    .search-icon-button {
        color: $hca-white;

        &:hover {
            color: $hca-white;
        }
    }
}

/**
 * Small Window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {
    /* Hide search button. */
    .search-icon-button {
        display: none;
    }

    /* Always show search bar. */
    .portal-search {
        display: block;

        &.open {
            background-color: transparent;
            height: unset;
            left: unset;
            padding: 0;
            position: relative;
            top: unset;
            width: unset;
            z-index: unset;
        }

        input {
            width: 220px;
        }

        /* Search actions */
        .search-actions {
            right: 1px;
            top: 0;
        }
    }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {
    .portal-search {
        input {
            width: 260px;
        }

        input,
        input[type="text"] {
            font-size: 12px;
        }
    }
}

/**
 * Medium +
 * HCA custom breakpoint
 */
@media screen and (min-width: 1200px) {
    /* Search bar. */
    .portal-search {
        input {
            width: 344px;
        }
    }
}
