name: Playwright Tests anvil-catalog
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20.10.0"
      - name: Install dependencies
        run: |
          cd explorer
          npm ci
      - name: Install Playwright Browsers
        run: |
          cd explorer
          npx playwright install --with-deps
      - name: Build AnVIL-catalog database
        run: |
          cd ./explorer/files
          npm ci
          mkdir ./anvil-catalog/out
          npm run build-anvil-db
      - name: Run Playwright tests
        run: |
          cd explorer
          npm run test:anvil-catalog
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: explorer/playwright-report/
          retention-days: 30
